.create-banner
    .create-banner-wrapper
        .create-banner-body 
            .create-banner-body-gif
                +picture({sm:"https://via.placeholder.com/820x1000.png", lg:"https://via.placeholder.com/1440x720.png"})
            .create-banner-body-content    
                .create-banner-body-content-title Daha İyi Ürünleri Daha Hızlı Oluşturun
                .create-banner-body-content-desc Prototipten lansmana kadar yenilik döngülerini hızlandırmak için talep üzerine üretilen yüksek kaliteli parçalar edinin.
                .create-banner-body-content-btn
                    +button('Projeni Oluştur', 'primary', 'm')