.pwebinar-header
    .pwebinar-header-img 
        +picture({sm:require("Images/webinar_cover_mb.jpg"), lg:require("Images/webinar_cover_lg.jpg")})(alt="Prodigma Webinar")
    .pwebinar-header-content
        .pwebinar-header-content-left 
            .pwebinar-header-content-left-header
                .pwebinar-header-content-left-header-tt1 
                    |20 Haziran 2022 
                .pwebinar-header-content-left-header-tt2
                    |Bostancı Gösteri Merkezi
            .pwebinar-header-content-left-body        
                .pwebinar-header-content-left-body-title
                        .pwebinar-header-content-left-body-title-tt1 
                            |Webinar
                        .pwebinar-header-content-left-body-title-tt2 
                            |Uzun İsim Denemesi
                .pwebinar-header-content-left-body-local
                    i.icon.icon-pin
                    span|Prodigma, İstanbul TeknoPark
                .pwebinar-header-content-left-body-speech 
                    p Konuşmacılar: 
                    span Zeynep Aldemir, Cansu Çakmak
            .pwebinar-header-content-left-footer
                .pwebinar-header-content-left-footer-one
                    if activity && !activityStart
                        +button('Etkinliğe Kaydol', 'green', 's')(id="js-blog-activity-join-btn")
                    p Paylaş
                        a(href="#")
                            i.icon.icon-facebook
                        a(href="#")
                            i.icon.icon-twitter
                        a(href="https://www.linkedin.com/company/prodigma-co")
                            i.icon.icon-linkdn
                if activityStart
                    .pwebinar-header-content-left-footer-two
                        .pwebinar-header-content-left-footer-timer 
                            i.icon.icon-timer
                            span#timer 0 Dk