.create-project-iframe-service 
    iframe(src="https://demo.amfg.ai/new/live/promakim.en.trl.html", frameborder="0")
//-.swiper.create-project-swiper
    .swiper-wrapper
    .swiper-pagination.hidden