.create-project-iframe-service 
    //-div(id="lang-detector")
        button(data-lang="tr" id="lng-tr" class="selected")|TR
        button(data-lang="en" id="lng-en")|EN
    iframe(id="data-lang-iframe", src="https://demo.amfg.ai/new/live/promakim_en_eur.html", frameborder="0")
//-.swiper.create-project-swiper
    .swiper-wrapper
    .swiper-pagination.hidden