.order-detail-delivery
    .order-detail-delivery-title|Teslimat Bilgileri
    .order-detail-delivery-lists
        div
            .title|Teslimat Adresi
            .content 
                .t1|Ev Adresi
                .t2|Bireysel
                .pap|Bereketzade Mahallesi, Bahtiyar Apt. 3/4, Hacı Ali Sk., 34421 Beyoğlu/İstanbul
        div
            .title|Fatura Adresi
            .content 
                .t1|Ofis
                .t2|Kurumsal
                .pap|Erenköy, Fahrettin Kerim Gökay Cd. No: 278/4, 34738 Kadıköy/İstanbul