.become-supply-form-wrapper
    form(class="form-become-supply" id="become-supply-form")
        +inputs('textbox','Ad', 'js-supply-user-name')
        +inputs('textbox','Soyad', 'js-supply-user-surname')
        .ttl1 İletişim Bilgileri
        +inputs('textbox','Telefon', 'js-supply-user-email')(type="email")
        +inputs('textbox','E-Posta Adresi', 'js-supply-user-email')
        +inputs('textbox','Şirket Web Sayfası', 'js-supply-website')
        +inputs('textarea','Adres', 'js-supply-address')
        .ttl1 Üretim Teknolojisi
        div.group-selectbox.mb-2
            +inputs('checkbox','CNC İşleme', 'js-supply-checkbox-cnc-process')
            div.group-selectbox-inner.hidden
                div.group-selectbox-inner-set
                    +inputs('checkbox','3 Eksen', 'js-supply-checkbox-axis-3')
                    +inputs('checkbox','4 Eksen', 'js-supply-checkbox-axis-4')
                    +inputs('checkbox','5 Eksen', 'js-supply-checkbox-axis-5')
        +inputs('checkbox','Sac Metal Şekillendirme', 'js-supply-checkbox-sheet-metal')
        +inputs('checkbox','Enjeksiyon Kalıplama', 'js-supply-checkbox-injection')
        +inputs('checkbox','Silikon Kalıplama', 'js-supply-checkbox-silicone')
        +inputs('checkbox','Diğer', 'js-supply-checkbox-others')
        .ttl1 Üretim Kapasitesi
        +inputs('textbox','Üretim Kapasitesi', 'js-supply-product-capacity')
        .ttl1 Makine ve Ekipmanlar
        +inputs('textbox','Makine ve Ekipmanlar', 'js-supply-machine-equipment')
        .ttl1 Kullanılan Yazılımlar
        +inputs('textbox','Üretim Kapasitesi', 'js-supply-useing-software')
        .ttl1 Nitelikli Eleman Sayısı
        +inputs('textbox','Nitelikli Eleman Sayısı', 'js-supply-qualified-staff')
        +button('Kaydet', 'secondary btn-supply-save mt-6', 'm')(type="submit")