@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'Fonts/index';
@import 'Theme/inputs';
@import 'Theme/buttons';
@import 'Theme/mixins';
@import 'Theme/widgets';

html{
    @apply w-full h-full;
}

body{
    @apply bg-white text-blue-100;
}

input:focus {
    outline: none;
}

//-----------------------------------------------------------------------

.site{
    &-messages{
        &-error{
            @apply bg-red text-white px-2 py-3 rounded-[10px] mt-3;
        }
        &-success{
            @apply bg-green-100 text-white px-2 py-3 rounded-[10px] mt-3;
        }
    }
}

.page{
    //- Login Page 
    &-login{
        .site{
            &-header{
                @apply py-2;
                &-logo{
                    img{ 
                        @apply mx-auto;
                    }
                }
            }
        }
    }
}

.plog{
    @apply flex flex-col items-start;
    @apply lg:flex-row lg:items-center;
    &-img{
        align-self: flex-start;
        @apply hidden;
        @apply lg:block;
    }
    &-img,
    &-enters{
        @apply lg:w-1/2;
    }
    &-tabs{
        @apply m-auto border border-solid border-gray-100 rounded-[20px] px-12 py-14;
        @apply max-w-md;
        .tab{
            @apply border-b-2 border-[rgba(2,17,34,0.1)] p-2.5 transition-all ease-in first:mr-2 font-heading font-medium;
            &.active{
                @apply border-red-100 font-semibold;
            }
        }
        .tab-panes{
            @apply mt-9;
        }
        .btn{
            &-sign-in{
                @apply my-5;
            }
        }
    }
}

.vail{
    @apply fixed top-0 left-0 w-full h-full bg-blue-100 bg-opacity-80 backdrop-blur-md;
    @apply transition-all ease-in delay-300 duration-700 invisible opacity-0 pointer-events-none;
}