@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import 'Fonts/index';
@import 'Theme/inputs';
@import 'Theme/buttons';
@import 'Theme/widgets';

html{
    @apply w-full h-full;
}

body{
    @apply bg-white text-blue-100;
}

input:focus {
    outline: none;
}

//-----------------------------------------------------------------------

.site{
    &-header{
        box-shadow: inset 0px -1px 1px rgba(0,0,0,0.1);
    }

    &-messages{
        &-error{
            @apply bg-red text-white px-2 py-3 rounded-[10px] mt-3;
        }
        &-success{
            @apply bg-green-100 text-white px-2 py-3 rounded-[10px] mt-3;
        }
    }
}

.page{
    //- Home Page
    &-home{
        &-sss{
            @apply px-6 py-8;
            @apply lg:container lg:mx-auto lg:mt-32 lg:px-0 lg:py-0;
            &-header{
                @apply text-center px-7;
                @apply max-w-xl mx-auto;
                &-title{
                    @apply font-heading font-medium text-2xl;
                    @apply lg:text-[44px];
                }
                &-desc{
                    @apply font-inter text-base mt-5;
                }
            }
            &-accordion{
                @apply mt-14;
                .content{
                    @apply lg:max-w-screen-sm;
                }
            }
            &-footer{
                @apply mt-5;
                @apply lg:max-w-[470px] lg:mx-auto lg:mt-11;
            }
        }
    }
    //- Login Page 
    &-login{
        .site{
            &-header{
                @apply py-2;
                &-logo{
                    img{ 
                        @apply mx-auto;
                    }
                }
            }
        }
    }
}

.plog{
    @apply flex flex-col items-start;
    @apply lg:flex-row lg:items-center;
    &-img{
        align-self: flex-start;
        @apply hidden;
        @apply lg:block;
    }
    &-img,
    &-enters{
        @apply lg:w-1/2;
    }
    &-tabs{
        @apply m-auto border border-solid border-gray-100 rounded-[20px] px-12 py-14;
        @apply max-w-md;
        .tab{
            @apply border-b-2 border-[rgba(2,17,34,0.1)] p-2.5 transition-all ease-in first:mr-2 font-heading font-medium;
            &.active{
                @apply border-red-100 font-semibold;
            }
        }
        .tab-panes{
            @apply mt-9;
        }
        .btn{
            &-sign-in{
                @apply my-5;
            }
        }
    }
}