//Quadruple Banner

.quadruple-banner {
    @apply bg-blue-200;
    &-wrapper {
        @apply container mx-auto;
    }
    //- Desktop
    &-header {
        &-title {
        @apply font-heading text-2xl leading-7 pt-10 pb-6 text-center font-medium text-white ;
        @apply lg:text-[38px] lg:leading-[50px] lg:pt-[92px] lg:pb-32;
    }
    }
    &-body {
        @apply hidden flex-row items-center justify-between px-8 gap-12;
        @apply lg:flex lg:pb-24;
        &-left {
            @apply flex flex-col text-left max-w-[360px];
        }
        &-img {
            @apply relative;
            &::after{
                content:'';
                background-image: url('../img/animation-vectorel.png');
                @apply absolute top-0 left-0 z-[1] w-full h-full bg-contain bg-center bg-no-repeat;
                @apply animate-spin-new;
            }
           img {
            @apply flex rounded-full;
           }
        }
        &-right {
            @apply flex flex-col text-right max-w-[360px];
        }
        ul {
            li {
                @apply flex flex-col;
                @apply lg:last:mt-28;
                p {
                    @apply font-heading text-2xl font-medium text-green-300 pb-[10px];
                    @apply lg:text-3xl;

                }
                span {
                    @apply block font-inter font-normal text-sm text-white pb-5;
                }
                a {
                    @apply text-white underline font-heading font-medium text-sm;
                }
            }
        }
    }
    //-Mobile
    &-mobile {
        @apply flex flex-col overflow-hidden;
        @apply lg:hidden;
        &-body {
            &-img {
                @apply px-9;
                img {
                    @apply rounded-full items-center justify-center mx-auto;
                }
            }
            &-content {
                @apply py-8;
                ul {
                    @apply overflow-x-auto whitespace-nowrap;
                    -webkit-overflow-scrolling: touch;
                    -ms-overflow-style: -ms-autohiding-scrollbar;
                    &::-webkit-scrollbar{
                        display: none;
                    }
                    li {
                        @apply w-72 inline-block px-5 border-r last:border-r-0 whitespace-normal;
                        @apply md:w-[350px];
                        p {
                            @apply font-heading font-medium text-2xl leading-6 text-purple-100 pb-[10px];
                            @apply max-w-[242px];
                        }
                        span {
                            @apply font-inter font-normal text-sm text-white pb-3;
                            @apply max-w-[212px]
                        }
                        a {
                            @apply flex font-heading font-medium text-sm leading-[17px] underline text-white mt-3;
                        }
                    }
                }
            }
        }
    }
}

//Supply Banner

.supply-banner {
    @apply px-5 py-11;
    @apply lg:px-3 lg:py-24;
    &-wrapper {
        @apply container mx-auto;
    }
    &-content {
        &-title {
            @apply text-center font-heading font-medium text-[28px] leading-normal text-blue-100;
            @apply lg:text-[44px];
        }
        &-desc {
            @apply mx-auto text-center font-inter font-normal text-base leading-normal text-blue-100 mt-4;
            @apply max-w-[475px];
        }
        &-btn {
            @apply w-60 mx-auto mt-4;
        }
    }
}

//Create Project Banner

.create-banner {
    @apply bg-blue;
    &-wrapper {
        @apply container mx-auto;
        @apply lg:py-20;
    }
    &-body {
        @apply relative text-center;
        &-gif {
            img {
                @apply mx-auto;
                @apply lg:rounded-[20px];
            }
        }
        &-content {
            @apply text-left mx-auto px-5 py-8;
            @apply lg:absolute lg:top-1/2 lg:left-0 lg:right-0 lg:max-w-[550px] lg:-translate-y-1/2 lg:text-center;
            @apply lg:px-0 lg:py-0;
            &-title {
                @apply font-heading font-medium text-2xl text-white mx-auto;
                @apply lg:text-[44px] lg:leading-none;
            }
            &-desc {
                @apply font-inter font-normal text-sm text-white mt-2.5;
                @apply lg:text-base;
            }
            &-btn {
                button {
                    @apply bg-white text-blue-100 w-40 mt-8;
                    @apply lg:mx-auto lg:mt-2.5;
                }
            }
        }
    }
}