.pabout-double-listed-banner
    .pabout-double-listed-banner-wrapper
        ul 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:require("Upload/content-manifesto.jpg"), lg:require("Upload/content-manifesto.jpg")})(alt="Prodigma Manifesto")
                .pabout-double-listed-banner-content
                    p Manifesto
                    span At Prodigma, we improve every day to understand our customers' business goals and part requirements. We are passionate about what we do and we meet your needs with the quality production techniques, material options and design support we offer to you.
                    .pabout-double-listed-banner-content-btn
                        +button('Review', 'green', 'm')(href="/manifesto-en.html") 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:require("Upload/sustainability-content.jpg"), lg:require("Upload/sustainability-content.jpg")})(alt="Prodigma Sürdürülebilirlik")
                .pabout-double-listed-banner-content
                    p Sustainability
                    span|While contributing to sustainable activities on additive manufacturing and other production technologies, we have an industry view that aims to avoid the "green washing" theme by improving our technologies day by day. We do make materials that are recyclable yet have excellent mechanical properties and chemical resistance available to you due to their quality.
                        br
                        br
                        |Even though additive manufacturing is a technology that can be used not only for prototypes, but also as an opportunity to customize certain parts, it contributes significantly to these efforts via allowing the use of recyclable resources and considering the amount of energy it consumes.
                    .pabout-double-listed-banner-content-btn
                        +button('Review', 'green', 'm')(href="/sustainability.html") 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:require("Upload/career-content.jpg"), lg:require("Upload/career-content.jpg")})(alt="Kariyer")
                .pabout-double-listed-banner-content
                    p|Career
                    br
                    strong|Let's Build the Future of Production Together!
                    span|We work with various production technologies and materials to deliver the best products to our users. Our priority is to provide our team members with the support and tools they need to take their careers to the next level. To be a part of our team, you can apply for the career opportunities below.
                    .pabout-double-listed-banner-content-btn
                        +button('Review', 'green', 'm')(href="/career.html") 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:require("Upload/contact-content.jpg"), lg:require("Upload/contact-content.jpg")})(alt="İletişim")
                .pabout-double-listed-banner-content
                    p Contact
                    span|Email address will be added
                    .pabout-double-listed-banner-content-btn.mt-5
                        +button('Contact Us', 'green', 'm')(href="mailto:info@prodigma.co")                       