.pabout-double-listed-banner
    .pabout-double-listed-banner-wrapper
        ul 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:"https://via.placeholder.com/330x320", lg:"https://via.placeholder.com/590x570"})(alt="img alt")
                .pabout-double-listed-banner-content
                    p Manifesto
                    span After more than a dozen trades at the deadline, there are still many moves to be made, with lingering free agents, buyouts and executive contracts in the balance. All the trades have been made. This season’s roster shuffling, barring a free-agent signing or three coming soon, is complete. It’s time, then, to take a tour around the league for some post-trade deadline fallout, rumbles, analysis and.
                    .pabout-double-listed-banner-content-btn
                        +button('İncele', 'green', 'm')(href="/manifesto.html") 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:"https://via.placeholder.com/330x320",  lg:"https://via.placeholder.com/590x570"})(alt="img alt")
                .pabout-double-listed-banner-content
                    p Sürdürülebilirlik
                    span After more than a dozen trades at the deadline, there are still many moves to be made, with lingering free agents, buyouts and executive contracts in the balance. All the trades have been made. This season’s roster shuffling, barring a free-agent signing or three coming soon, is complete. It’s time, then, to take a tour around the league for some post-trade deadline fallout, rumbles, analysis and.
                    .pabout-double-listed-banner-content-btn
                        +button('İncele', 'green', 'm')(href="/sürdürülebilirlik.html") 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:"https://via.placeholder.com/330x320", lg:"https://via.placeholder.com/590x570"})(alt="img alt")
                .pabout-double-listed-banner-content
                    p Kariyer
                    span After more than a dozen trades at the deadline, there are still many moves to be made, with lingering free agents, buyouts and executive contracts in the balance. All the trades have been made. This season’s roster shuffling, barring a free-agent signing or three coming soon, is complete. It’s time, then, to take a tour around the league for some post-trade deadline fallout, rumbles, analysis and.
                    .pabout-double-listed-banner-content-btn
                        +button('İncele', 'green', 'm')(href="/kariyer.html") 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:"https://via.placeholder.com/330x320", lg:"https://via.placeholder.com/590x570"})(alt="img alt")
                .pabout-double-listed-banner-content
                    p İletişim
                    span After more than a dozen trades at the deadline, there are still many moves to be made, with lingering free agents, buyouts and executive contracts in the balance. All the trades have been made. This season’s roster shuffling, barring a free-agent signing or three coming soon, is complete. It’s time, then, to take a tour around the league for some post-trade deadline fallout, rumbles, analysis and.
                    .pabout-double-listed-banner-content-btn
                        +button('İncele', 'green', 'm')(href="/iletisim.html")                       