.pabout-double-listed-banner
    .pabout-double-listed-banner-wrapper
        ul 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:require("Upload/content-manifesto.jpg"), lg:require("Upload/content-manifesto.jpg")})(alt="Prodigma Manifesto")
                .pabout-double-listed-banner-content
                    p Manifesto
                    span Prodigma olarak müşterilerimizin iş hedeflerini ve parça gereksinimlerini anlamak için her gün kendimizi geliştiriyoruz. Yaptığımız işi seviyoruz ve sunduğumuz üretim teknikleri, malzeme seçenekleri ve tasarım desteği ile ihtiyaçlarını karşılıyoruz.
                    .pabout-double-listed-banner-content-btn
                        +button('İncele', 'green', 'm')(href="/manifesto.html") 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:require("Upload/sustainability-content.jpg"), lg:require("Upload/sustainability-content.jpg")})(alt="Prodigma Sürdürülebilirlik")
                .pabout-double-listed-banner-content
                    p Sürdürülebilirlik
                    span|Eklemeli üretim ve diğer üretim teknolojileri ile ilgili sürdürülebilir çalışmalara katkı sağlarken, sahip olduğumuz teknolojileri her geçen gün geliştirerek “green washing” temasından kaçınmayı hedefleyen bir endüstri görüşüne sahibiz. Geri dönüştürülebilir olmasına rağmen kalitesi nedeniyle mükemmel mekanik özelliklere ve kimyasal dirence sahip olan malzemeleri sizler için ulaşılabilir kılıyoruz.
                        br
                        br
                        |Katmanlı üretim yalnızca prototipler için değil, aynı zamanda belirli parçaları özelleştirmek için bir fırsat olarak da kullanılabilen bir teknoloji olmakla birlikte; dönüştürülebilir kaynaklar kullanılmasına olanak sağladığından ve harcadığı enerji miktarı göz önünde bulundurulduğunda bu çalışmalara önemli katkılar sağlamaktadır.
                    .pabout-double-listed-banner-content-btn
                        +button('İncele', 'green', 'm')(href="/surdurelebilirlik.html") 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:require("Upload/career-content.jpg"), lg:require("Upload/career-content.jpg")})(alt="Kariyer")
                .pabout-double-listed-banner-content
                    p|Kariyer
                    br
                    strong|Üretimin Geleceğini Birlikte İnşa Edelim!
                    span|Pek çok farklı üretim teknolojisi ve malzeme ile birlikte çalışarak kullanıcılarımıza en güzel ürünleri ulaştırmak için var gücümüzle çalışıyoruz. Ekip üyelerimize kariyerlerini bir sonraki seviyeye taşımak için ihtiyaç duydukları desteği ve araçları sağlamak önceliğimiz. Siz de ekibimizin bir parçası olmak için aşağıdaki kariyer fırsatlarından başvurunuzu yapabilirsiniz.
                    .pabout-double-listed-banner-content-btn
                        +button('İncele', 'green', 'm')(href="/kariyer.html") 
            li 
                .pabout-double-listed-banner-img
                    +picture({sm:require("Upload/contact-content.jpg"), lg:require("Upload/contact-content.jpg")})(alt="İletişim")
                .pabout-double-listed-banner-content
                    p İletişim
                    span|İletişime geçmek istediğiniz her konu için ihtiyacınız olan bilgiler.
                    .pabout-double-listed-banner-content-btn.mt-5
                        +button('İletişime Geç', 'green', 'm')(href="mailto:info@prodigma.co")                       