.blog-banner
    .blog-banner-wrapper 
        .blog-banner-title|Prodigma+
        .blog-banner-lists
            ul
                li
                    a(href="#")
                        +picture({sm:require=('img/img_1.jpg'), lg:require=('img/img_1.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Lorem Ipsum
                            .ttile2|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="#")
                        +picture({sm:require=('img/img_2.jpg'), lg:require=('img/img_2.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Lorem Ipsum
                            .ttile2|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li
                    a(href="#")
                        +picture({sm:require=('img/img_3.jpg'), lg:require=('img/img_3.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Lorem Ipsum
                            .ttile2|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="#")
                        +picture({sm:require=('img/img_4.jpg'), lg:require=('img/img_4.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Lorem Ipsum
                            .ttile2|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="#")
                        +picture({sm:require=('img/img_3.jpg'), lg:require=('img/img_3.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Lorem Ipsum
                            .ttile2|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li
                    a(href="#")
                        +picture({sm:require=('img/img_2.jpg'), lg:require=('img/img_2.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Lorem Ipsum
                            .ttile2|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="#")
                        +picture({sm:require=('img/img_5.jpg'), lg:require=('img/img_5.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Lorem Ipsum
                            .ttile2|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li
                    a(href="#")
                        +picture({sm:require=('img/img_6.jpg'), lg:require=('img/img_6.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Lorem Ipsum
                            .ttile2|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li
                    a(href="#")
                        +picture({sm:require=('img/img_1.jpg'), lg:require=('img/img_1.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Lorem Ipsum
                            .ttile2|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    a(href="#")
                        +picture({sm:require=('img/img_4.jpg'), lg:require=('img/img_4.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Lorem Ipsum
                            .ttile2|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.