.blog-banner
    .blog-banner-wrapper 
        .blog-banner-title|Prodigma+
        .blog-banner-lists
            ul
                li
                    a(href="#")
                        +picture({sm:'https://via.placeholder.com/445x280/FFFF00', lg:'https://via.placeholder.com/445x280/FFFF00'})
                    a(href="#")
                        +picture({sm:'https://via.placeholder.com/445x580/3E17BC', lg:'https://via.placeholder.com/445x580/3E17BC'})
                li
                    a(href="#")
                        +picture({sm:'https://via.placeholder.com/445x280/FFFF00', lg:'https://via.placeholder.com/445x280/FFFF00'})
                    a(href="#")
                        +picture({sm:'https://via.placeholder.com/445x280/3E17BC', lg:'https://via.placeholder.com/445x280/3E17BC'})
                    a(href="#")
                        +picture({sm:'https://via.placeholder.com/445x280/FFFF00', lg:'https://via.placeholder.com/445x280/FFFF00'})
                li
                    a(href="#")
                        +picture({sm:'https://via.placeholder.com/445x580/3E17BC', lg:'https://via.placeholder.com/445x580/3E17BC'})
                    a(href="#")
                        +picture({sm:'https://via.placeholder.com/445x280/FFFF00', lg:'https://via.placeholder.com/445x280/FFFF00'})
                li
                    a(href="#")
                        +picture({sm:'https://via.placeholder.com/930x590/3E17BC', lg:'https://via.placeholder.com/930x590/3E17BC'})
                li
                    a(href="#")
                        +picture({sm:'https://via.placeholder.com/445x300/FFFF00', lg:'https://via.placeholder.com/445x280/FFFF00'})
                    a(href="#")
                        +picture({sm:'https://via.placeholder.com/445x300/3E17BC', lg:'https://via.placeholder.com/445x280/3E17BC'})