.blog-banner
    .blog-banner-wrapper 
        .blog-banner-title
            img(src=require('Images/logo.svg'), alt="Prodigma Plus")
            |+
        .blog-banner-lists
            ul
                li
                    a(href="javascript:void(0);")
                        +picture({sm:require('Images/img_1.jpg'), lg:require('Images/img_1.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|SLA Baskı Teknolojileri
                            .ttile2|SLA baskı teknolojisinin ortaya çıkışını ve üretim aşamalarını detaylı bir şekilde ele aldık.
                    a(href="javascript:void(0);")
                        +picture({sm:require('Images/img_2.jpg'), lg:require('Images/img_2.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Yeni malzeme: ESD Güvenli Reçine
                            .ttile2|Çok sayıda elektronik uygulamada gerekli olan yüksek çözünürlüklü, statik enerji tüketen parçaların üretimi için yenilikçi ve uygun maliyetli bir çözüm sunar.
                li
                    a(href="javascript:void(0);")
                        +picture({sm:require('Images/img_3.jpg'), lg:require('Images/img_3.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Metal Baskı
                            .ttile2|3D metal baskı ile geometrik olarak karmaşık parçalar elde edebilir, bu parçaları ardıl işleme ihtiyaç duymadan son ürün olarak kullanabilirsiniz.
                    a(href="javascript:void(0);")
                        +picture({sm:require('Images/img_4.jpg'), lg:require('Images/img_4.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|3D Baskı Hakkında Doğru Bilinen 10 Yanlış
                            .ttile2|Gelişen dünya ile birlikte hayatımıza giren ve yeni nesil üretim teknolojilerinden biri olan 3D baskı hakkında doğru bilinen yanlışlardan bahsediyoruz. Malzeme çeşitleri, yazıcı maliyetleri ve pek çok farklı konu hakkında yapılan genellemeleri maddeler halinde değerlendiriyoruz.
                    a(href="javascript:void(0);")
                        +picture({sm:require('Images/img_3.jpg'), lg:require('Images/img_3.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Hobi ve Endüstriyel Yazıcılar Arasındaki Farklar
                            .ttile2|Hobi ve endüstriyel olarak ikiye ayrılan 3D yazıcıların, belirleyici özellikleri ile kullanım alanlarından bahsediyoruz. Kullanıcıların, sürekli gelişen teknoloji sayesinde eklemeli imalat yöntemlerinden beklentilerinin artması sonucunda hızla gelişen yazıcı ve malzeme çeşitliliğini hep birlikte değerlendirelim.
                li
                    a(href="javascript:void(0);")
                        +picture({sm:require('Images/img_2.jpg'), lg:require('Images/img_2.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Yeni malzeme: S-TPU
                            .ttile2|Esnek ve darbe emici parçalar üretmek için kullanılan kauçuk benzeri bir malzemedir. Contalar, amortisörler, hortumlar ve tahrik kayışları gibi parçalar üretmek için kullanılabilir.
                    a(href="javascript:void(0);")
                        +picture({sm:require('Images/img_5.jpg'), lg:require('Images/img_5.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Tasarımınızı Üretime Hazır Hale Getirmek
                            .ttile2|Tasarımınızı üretime geçirmeden önce dikkat etmeniz gereken noktaları sizler için derledik.
                li
                    a(href="javascript:void(0);")
                        +picture({sm:require('Images/img_6.jpg'), lg:require('Images/img_6.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Dünyanın En Büyük Metal 3D Yazıcısı
                            .ttile2|Özellikle uzay ve havacılık sektörlerinde daha hızlı tasarım yinelemeleri ve parça optimizasyonları için büyük bir avantaj olarak görülen bu teknoloji gerçek zamanlı kalite kontrol ve parça denetimine de olanak sağlar.
                li
                    a(href="javascript:void(0);")
                        +picture({sm:require('Images/img_1.jpg'), lg:require('Images/img_1.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|3D Baskı ve Yedek Parça
                            .ttile2|Parça çeşitliliği avantajının yanında envanter gereksinimi ve müşteri kesinti süresini azaltarak üretimde verimliliğe farklı bir bakış açısı.
                    a(href="javascript:void(0);")
                        +picture({sm:require('Images/img_4.jpg'), lg:require('Images/img_4.jpg')})
                        .blog-banner-lists-texts
                            .ttile1|Sizden Gelen Parçalar/Projeler
                            //-.ttile2|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.