.pwebinar-body-activity-content 
    .pwebinar-body-form-title|Etkinlik İçeriği
    p|After more than a dozen trades at the deadline, there are still many moves to be made, with lingering free agents, buyouts and executive contracts in the balance. All the trades have been made. This season’s roster shuffling, barring a free-agent signing or three coming soon, is complete. It’s time, then, to take a tour around the league for some post-trade deadline fallout, rumbles, analysis and storytelling; don’t be surprised that the Los Angeles.
    br
    p|Like Lowry, Ujiri has been regarded by fans and the organization as Raptors royalty since the team’s championship run in 2018-19. It is widely presumed in league circles that only an overwhelming offer in a highly desirable market could lure him away from the influence and affection he has amassed in Toronto. Yet these many months without a deal and Webster’s rising profile as a natural successor have raised the question: How much longer will Ujiri be running the Raptors? 
.pwebinar-body-form
    .pwebinar-body-form-title İletişim Formunu Doldurun
    .pwebinar-body-form-content
        .pwebinar-body-form-content-top
            .pwebinar-body-form-content-top-left
                +inputs('textbox','Ad Soyad')
                +inputs('textbox','E-Posta Adresi')(type="email")
            .pwebinar-body-form-content-top-right
                +inputs('textbox','Cep Telefonu', 'js-blog-activity-form-user-phone')
                +inputs('textbox', 'Kurum Adı')     
                +inputs('checkbox','Kişisel Verilerin Korunması Kanunu (KVKK) Açık Rıza Metnini okudum ve onaylıyorum.')
                +inputs('checkbox','Girdiğim kişisel bilgilerimin tarafıma iletişime geçilebilmesi için işlenmesine ve kullanımına izin veriyorum.')
        .pwebinar-body-form-content-footer-btn
            +button('Etkinliğe Kaydol', 'green', 's')