.main-slider-banner
    .main-slider-banner-wrapper
        .main-slider-banner-double-wrap
            .swiper.swiper-main
                .swiper-wrapper
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination.hidden
            .main-slider-banner-text-content
                .main-slider-banner-text-content-text
                    .main-slider-banner-buttons
                        +button('Proje Başlat','green','m',false)(href="/proje-baslat.html", id="main-slider-banner-start-project-btn")
                .main-slider-banner-bottoms
                    .main-slider-banner-desc(id="js-main-slider-banner-desc")
                        img(src=require("Images/logo.svg"), alt="Prodigma 3D")
                        p|kullanan binlerce şirkete katılın.
                    .main-slider-banner-partners