.main-slider-banner
    .main-slider-banner-wrapper
        .main-slider-banner-double-wrap
            .main-slider-banner-text-content
                .main-slider-banner-text-content-text 
                    h1 Özel parça tedarik etmenin en kolay yolu
                    p Yüzlerce uzman üreticiyle ortaklık kurarak karmaşık prototipler ve son kullanım parçaları için tutarlı kaliteyi garanti ediyoruz.
                    .main-slider-banner-buttons
                        +button('Bize Ulaşın','primary','m',false)(href="#")
                        +button('Proje Başlat','green','m',false)(href="#")
            .swiper.swiper-main
                .swiper-wrapper
                    .swiper-slide
                        .text-content
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        //-img(src=require(''), alt="Test Img")
                        +picture({sm:require('Images/slider_1x2.1.jpg'), lg:require('Images/slider_1x2.jpg')})
                    .swiper-slide
                        .text-content
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        //-img(src=require('Images/slider_2x2.jpg'), alt="Test Img")
                        +picture({sm:require('Images/slider_2x2.1.jpg'), lg:require('Images/slider_2x2.jpg')})
                .swiper-button-next
                .swiper-button-prev
                .swiper-pagination.hidden