.main-slider-banner
    .main-slider-banner-wrapper
        .swiper.swiper-main 
            .swiper-wrapper 
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-1.jpg", alt="Test Img")
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-2.jpg", alt="Test Img")
                .swiper-slide
                    img(src="https://swiperjs.com/demos/images/nature-3.jpg", alt="Test Img")
            .swiper-button-next
            .swiper-button-prev
            .swiper-pagination
    .main-slider-banner-brands
        ul 
            li Aselsan
            li Roketsan
            li Turkhish Technic 
            li Mercedes Benz