.main-slider-banner
    .main-slider-banner-wrapper
        .swiper.swiper-main 
            .swiper-wrapper 
                .swiper-slide
                    .swiper-main-double-wrap
                        .swiper-main-text-content 
                            h1 İçerik 1
                        img(src="https://swiperjs.com/demos/images/nature-1.jpg", alt="Test Img")
                .swiper-slide
                    .swiper-main-double-wrap
                        .swiper-main-text-content
                            h1 İçerik 2
                        img(src="https://swiperjs.com/demos/images/nature-2.jpg", alt="Test Img")
                .swiper-slide
                    .swiper-main-double-wrap
                        .swiper-main-text-content
                            h1 İçerik 3
                        img(src="https://swiperjs.com/demos/images/nature-3.jpg", alt="Test Img")
            .swiper-button-next
            .swiper-button-prev
            .swiper-pagination
    .main-slider-banner-brands
        ul 
            li Aselsan
            li Roketsan
            li Turkhish Technic 
            li Mercedes Benz