include ../components/subscribe/index.pug
footer.site-footer
    .site-footer-wrapper
        .site-footer-top 
            .site-footer-top-one 
                .site-footer-top-sub-title Bizi Takip Edin
                ul.site-footer-social
                    li 
                        a(href="")
                            i.icon.icon-facebook
                    li 
                        a(href="")
                            i.icon.icon-twitter
                    li 
                        a(href="")
                            i.icon.icon-instagram
                    li 
                        a(href="")
                            i.icon.icon-youtube
            .site-footer-top-two 
                .site-footer-top-menu 
                    ul 
                        li 
                            span.site-footer-top-sub-title Hizmetlerimiz
                        li 
                            a(href="") 3D Baskı 
                        li 
                            a(href="") CNC İşleme
                        li 
                            a(href="") Silikon Kalıplama
                        li 
                            a(href="") Enjeksiyon Kalıplama
                        li 
                            a(href="") Endüstriyel Tasarım
                        li 
                            a(href="") 3D Tarama & Tersine Mühendislik
                        li 
                            a(href="") Sac Metal İşleme
                        li 
                            a(href="") Ardıl İşlemler
                    ul 
                        li 
                            span.site-footer-top-sub-title Prodigma +
                        li 
                            a(href="") Blog
                        li 
                            a(href="") Webinar
                        li 
                            a(href="") Youtube
                        li 
                            a(href="") Etkinlikler & İş Birlikleri
                    ul 
                        li 
                            span.site-footer-top-sub-title Destek
                        li 
                            a(href="") Sık Sorulan Sorular
                        li 
                            a(href="") İşlem Rehberi
                        li 
                            a(href="") Teslimat
                        li 
                            a(href="") Sipariş Takibi
            .site-footer-top-tree
                .site-footer-top-sub-title Bize Ulaşın
                .site-footer-top-tree-col
                    i.icon.icon-pin 
                    |Sanayi, Teknopark Blv A Blok
                    br
                    |No:208, 34906 Pendik/İstanbul
                .site-footer-top-tree-col
                    i.icon.icon-call-center 
                    a(href="tel:+904449867") 444 9 867
                .site-footer-top-tree-col 
                    i.icon.icon-envelope
                    a(href="mailto:info@prodigma.com") info@prodigma.com 
        .site-footer-bottom
            .site-footer-bottom-wrap
                .site-footer-bottom-menu
                    ul 
                        li 
                            a(href="/kullanim-kosullari.html") Kullanım Koşulları
                        li  
                            a(href="/gizlilik-ve-guvenlik.html") Gizlilik ve Güvenlik
                        li 
                            a(href="/cerez-politikasi.html") Çerez Politikası  
                        li 
                            a(href="/kisisel-verilerin-korunmasi-ve-islenmesi-politikasi.html") Kişisel Verilerin Korunması ve İşlenmesi Politikası
                        li 
                            a(href="/satis-sozlesmesi.html") Satış Sözleşmesi
                        li 
                            a(href="/bilgi-toplumu-hizmetleri.html") Bilgi Toplumu Hizmetleri
                        li 
                            a(href="/aydinlatma-metni.html") Aydınlatma Metni 
                .site-footer-copyright 
                    |© 2022 Prodigma.com