include ../abstracts/variables.pug
include ../abstracts/settings.pug
include ../abstracts/mixins.pug

- var siteTitle = "Prodigma: 3D Çevrimiçi Baskı Hizmeti"
- var siteLang = "tr"

doctype html
html(lang=siteLang)
    head
        block head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            title=pageTitle + ' | ' + siteTitle
            meta(name="description" content=pageDesc)
            meta(http-equiv='Permissions-Policy' content='interest-cohort=()')
            link(rel="shortcut icon", href="src/assets/img/favicon.ico", type="image/x-icon")
    body(class="holding page-" + pageClass)
        #site-wrapper
            block header
                include ../partials/header/index.pug
            main(id="site-main")
                block content
                    h1 Content
            block foot
                include ../partials/footer/index.pug