extends blocks/layout

block prepend head
    - pageTitle = "Tersine Mühendislik"
    - pageDesc = "Tersine Mühendislik açıklama metni"
    - pageClass = "reverse-engineering"

block content
    .create-project
        include widgets/create-project/models/reverse-engineering/index.pug

block foot
    block append footer