extends blocks/layout.pug

block prepend head
    - pageTitle = "Adreslerim"
    - pageDesc = "Adreslerim açıklama metni"
    - pageClass = "address-list"

block content
    .pmember
        .pmember-wrapper
            .pmember-left
                .pmember-left-title Hesabım
                include components/member/navigation/index.pug
            .pmember-right
                .pmember-right-content
                    include components/member/address-list/index.pug