extends blocks/layout

block prepend head
    - pageTitle = "Ardıl İşlemler"
    - pageDesc = "Ardıl İşlemler açıklama metni"
    - pageClass = "successive-processes"

block content
    .create-project
        include widgets/create-project/models/successive-processes/index.pug

block foot
    block append footer