extends blocks/layout.pug

block prepend head
    - pageTitle = "Bildirimlerim"
    - pageDesc = "Bildirimlerim açıklama metni"
    - pageClass = "notification"

block content
    include widgets/order-detail/index.pug