extends blocks/layout

block prepend head
    - pageTitle = "Ana Sayfa"
    - pageDesc = "Ana sayfa açıklama metni"
    - pageClass = "home"

block content
    //- include/widgets/blabla.pug
    include widgets/home-page-sss/index.pug