extends blocks/layout

block prepend head
    - pageTitle = "Prodigma Plus"
    - pageDesc = "Prodigma Plus açıklama metni"
    - pageClass = "prodigma-plus"

block content
    include widgets/prodigma-plus-page/index.pug