extends blocks/member-layout.pug

block prepend head
    - pageTitle = "Sifre Değiştir"
    - pageDesc = "Şifre Değiştir açıklama metni"
    - pageClass = "password-change"

block content
    .pmember
        .pmember-wrapper
            .pmember-left
                .pmember-left-title Hesabım
                include components/member/navigation/index.pug
            .pmember-right
                .pmember-right-content
                    include components/forms/password-change/index.pug