extends blocks/layout.pug

block prepend head
    - pageTitle = "Sıkça Sorulan Sorular"
    - pageDesc = "Sıkça Sorulan Sorular açıklama metni"
    - pageClass = "faq"

block content
    .pmember.pmember-flatpages
        .pmember-wrapper
            .pmember-left
                .pmember-left-title Destek
                include flatpages/menu/index.pug
            .pmember-right.pmember-flatpages-right
                .pmember-right-content
                    include flatpages/support/faq/index.pug