extends blocks/member-layout.pug

block prepend head
    - pageTitle = "Siparislerim"
    - pageDesc = "Siparislerim açıklama metni"
    - pageClass = "orders"

block content
    .pmember
        .pmember-wrapper
            .pmember-left
                .pmember-left-title Hesabım
                include components/member/navigation/index.pug
            .pmember-right
                .pmember-right-content 
                    .order-list
                        ul
                            li 
                                .order-list-title-date 2022
                                ul 
                                    li
                                        .order-list-month Haziran
                                        .order-list-rows
                                            include widgets/order-list/index.pug
                                    li
                                        .order-list-month Mayıs
                                        .order-list-rows
                                            include widgets/order-list/index.pug
                                            include widgets/order-list/index.pug
                            li 
                                .order-list-title-date 2021
                                ul 
                                    li
                                        .order-list-month Haziran
                                        .order-list-rows
                                            include widgets/order-list/index.pug
                                    li
                                        .order-list-month Mayıs
                                        .order-list-rows
                                            include widgets/order-list/index.pug
                                            include widgets/order-list/index.pug