extends blocks/layout.pug

block prepend head
    - pageTitle = "Sipariş Detay"
    - pageDesc = "Sipariş Detay Açıklama Metni"
    - pageClass = "order-detail"

block content
    include widgets/order-detail/index.pug