extends blocks/layout.pug

block prepend head
    - pageTitle = "Teslimat"
    - pageDesc = "Teslimat açıklama metni"
    - pageClass = "devliery"

block content
    .pmember.pmember-flatpages
        .pmember-wrapper
            .pmember-left
                .pmember-left-title Destek
                include flatpages/menu/index.pug
            .pmember-right.pmember-flatpages-right
                .pmember-right-content
                    include flatpages/support/delivery/index.pug