.order-detail-info
    .order-detail-info-cols
        .order-detail-info-cols-row
            .vll Sipariş No
            .lbl Sipariş Tarihi
        .order-detail-info-cols-row
            .vll Sipariş Tarihi
            .lbl 29/06/2022
    .order-detail-info-cols
        .order-detail-info-cols-row
            .vll Sipariş Özeti
            .lbl 2 Ürün
        .order-detail-info-cols-row
            .vll Sipariş Durumu
            .lbl Sipariş Onay Sürecinde
    .order-detail-info-cols
        a(href="#")(class="dtl-lnk") Faturamı Göster
        a(href="#")(class="dtl-lnk") Siparişi İptal Et
        a(href="#")(class="dtl-lnk") Destek Al