.pmaterials-metals
    .pmaterials-metals-wrapper
        .pmaterials-metals-title.mb-8
            |METAL 
        //-.pmaterials-metals-desc 
            |Geniş malzeme yelpazesine sahip reçinelerimiz ile, genel amaçlı prototiplerinizden, mekanik performans gerektiren özellikler sayesinde nihai ürüne kadar her türlü parça ihtiyacınızı karşılayabilirsiniz. 
        .pmaterials-metals-content(id="pmaterials-cnc-metals")
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/takim-celikler-a2-de-h13.jpg"), lg:require("Upload/takim-celikler-a2-de-h13.jpg")})(alt="Takım Çelikleri A2 D2 H13")
                .pmaterials-metals-content-material-title
                    |Takım Çelikleri (A2, D2, H13)
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/aluminyum.jpg"), lg:require("Upload/aluminyum.jpg")})(alt="Alüminyum")
                .pmaterials-metals-content-material-title
                    |Alüminyum
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/metal-paslanmaz-celik.jpg"), lg:require("Upload/metal-paslanmaz-celik.jpg")})(alt="Paslanmaz Çelik")
                .pmaterials-metals-content-material-title
                    |Paslanmaz Çelik
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/celik.jpg"), lg:require("Upload/celik.jpg")})(alt="Çelik")
                .pmaterials-metals-content-material-title
                    |Çelik
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/metal-bakir.jpg"), lg:require("Upload/metal-bakir.jpg")})(alt="Metal Bakır")
                .pmaterials-metals-content-material-title
                    |Bakır
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pirinc.jpg"), lg:require("Upload/pirinc.jpg")})(alt="Pirinç")
                .pmaterials-metals-content-material-title
                    |Pirinç
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/titanyum.jpg"), lg:require("Upload/titanyum.jpg")})(alt="Titanyum")
                .pmaterials-metals-content-material-title
                    |Titanyum
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/cinko.jpg"), lg:require("Upload/cinko.jpg")})(alt="Çinko")
                .pmaterials-metals-content-material-title
                    |Çinko
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right