.basket-list
    .basket-list-header|Sepet Detayı
    .basket-list-rows
        .basket-list-rows-img
            img(src="https://via.placeholder.com/100x100/EEEEEE/808080", alt="Product")
        .basket-list-rows-wrapper
            .basket-list-rows-pname
                .nm|‘final.3dm’ Projesi
                .cat|3D Baskı
            .basket-list-rows-details
                .basket-list-rows-details-col
                    .basket-list-rows-details-lbl|Baskı
                    .basket-list-rows-details-val
                        |Standart 
                        strong|890 TL
                .basket-list-rows-details-col
                    .basket-list-rows-details-lbl|Materyal
                    .basket-list-rows-details-val
                        |Plastik
                .basket-list-rows-details-col
                    .basket-list-rows-details-lbl|Malzeme
                    .basket-list-rows-details-val
                        |Onyx -
                        strong|termoplastik
            .basket-list-rows-inputs
                .basket-list-rows-inputs-inc-dec
                    a(href="#")(class="increase-btn")
                        i.icon.icon-minus 
                    input(type="text")
                    a(href="#")(class="decrease-btn")
                        i.icon.icon-plus
            .basket-list-rows-price
                |1.180 TL
            .basket-list-rows-delete
                a(href="#")(class="cart-trash")
                    i.icon.icon-trash
    .basket-list-rows
        .basket-list-rows-img
            img(src="https://via.placeholder.com/100x100/EEEEEE/808080", alt="Product")
        .basket-list-rows-wrapper
            .basket-list-rows-pname
                .nm|‘final.3dm’ Projesi
                .cat|3D Baskı
            .basket-list-rows-details
                .basket-list-rows-details-col
                    .basket-list-rows-details-lbl|Baskı
                    .basket-list-rows-details-val
                        |Standart 
                        strong|890 TL
                .basket-list-rows-details-col
                    .basket-list-rows-details-lbl|Materyal
                    .basket-list-rows-details-val
                        |Plastik
                .basket-list-rows-details-col
                    .basket-list-rows-details-lbl|Malzeme
                    .basket-list-rows-details-val
                        |Onyx -
                        strong|termoplastik
            .basket-list-rows-inputs
                .basket-list-rows-inputs-inc-dec
                    a(href="#")(class="increase-btn")
                        i.icon.icon-minus 
                    input(type="text")
                    a(href="#")(class="decrease-btn")
                        i.icon.icon-plus
            .basket-list-rows-price
                |1.180 TL
            .basket-list-rows-delete
                a(href="#")(class="cart-trash")
                    i.icon.icon-trash
    .basket-list-footer
        +button('Yeni Proje Ekle','link','m',badgy={icon:'arrow-left'})
        +button('Sepeti Boşalt','link','m',badgy={icon:'trash'})