.member
    .member-mobile-trigger Siparişlerim
    .member-head
        .member-head-img
            span DZ
        .member-head-content
            |Deniz Zileli 
            a(href="#") Çıkış Yap
    .member-bottom 
        .member-bottom-content
            ul 
                li(class="active") 
                    a(href="/siparislerim.html") Siparişlerim 
                li 
                    a(href="/bildirimlerim.html") Bildirimlerim
                li 
                    a(href="/adreslerim.html") Adreslerim
                li 
                    a(href="/uyelik-bilgilerim.html") Üyelik Bilgilerim
                li 
                    a(href="/iletisim-izinlerim.html") İletişim İzinlerim
                li 
                    a(href="/sife-degistirme.html") Şifre Değiştirme