.pmaterials-thermoplastics
    .pmaterials-thermoplastics-wrapper
        .pmaterials-thermoplastics-title 
            |Termoplastikler 
        .pmaterials-thermoplastics-desc 
            |3D baskı teknolojisi ise sıfırdan üretim yaparak sadece istenilen ürünü ürettiği için çok daha çevre dostu sonuçlar verir. 3D baskı elektronikler gibi çok malzemeli 3D baskı söz konusu olduğunda elektriksel ve mekanik işlevsellik birleştirilirken parça sayıları azaltılarak daha akıcı, verimli ve sürdürülebilir bir üretim süreci oluşturulabilir.    
        ul.pmaterials-thermoplastics-content
            li.pmaterials-thermoplastics-content-material
                .pmaterials-thermoplastics-content-material-img
                    +picture({sm:"https://via.placeholder.com/300", lg:"https://via.placeholder.com/285x285"})(alt="img alt")
                .pmaterials-thermoplastics-content-material-title
                    |P-PLA
                .pmaterials-thermoplastics-content-material-detail
                    a(href="#") Malzeme Detayı
                        i.icon.icon-arrow-right