.pmaterials-thermoplastics(id="thermoplastic")
    .pmaterials-thermoplastics-wrapper
        .pmaterials-thermoplastics-title 
            |Thermoplastic
        .pmaterials-thermoplastics-desc 
            |Our thermoplastics are engineering grade composite materials. You can produce your parts individually or reinforced with our continuous fiber materials.
        ul.pmaterials-thermoplastics-content
            li.pmaterials-thermoplastics-content-material
                .pmaterials-thermoplastics-content-material-img
                    +picture({sm:require("Upload/ppla-beyaz.jpg"), lg:require("Upload/ppla-beyaz.jpg")})(alt="P-PLA")
                .pmaterials-thermoplastics-content-material-title
                    |P-PLA
                .pmaterials-thermoplastics-content-material-detail
                    a(href="javascript:void(0);", data-attr="ppla")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-ppla", data-attr="ppla")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is a type of thermoplastic that is easy to print and cost-effective, especially used for rapid prototyping.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Testing (ASTM)
                                        .px-1.py-1.text-center|P-PLA
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus (GPa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|2.3
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|2.3
                                .text-sm.mt-5|Print capacity: 320mm x132mm x154mm
            li.pmaterials-thermoplastics-content-material
                .pmaterials-thermoplastics-content-material-img
                    +picture({sm:require("Upload/onyx.jpg"), lg:require("Upload/onyx.jpg")})(alt="Onyx")
                .pmaterials-thermoplastics-content-material-title
                    |Onyx
                .pmaterials-thermoplastics-content-material-detail
                    a(href="javascript:void(0);", data-attr="onyx")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-onyx", data-attr="onyx")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is nylon with chopped carbon fiber filling that forms the basis of composite parts. When printed alone, it offers high strength, toughness and chemical resistance. It can be reinforced with continuous fibers to obtain aluminum-strength parts.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Testing (ASTM)
                                        .px-1.py-1.text-center|Onyx
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus(GPa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|2.4
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Stress at Break(%)
                                        .px-1.py-1.text-center
                                            |D638
                                        .px-1.py-1.text-center|25
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|3.0
                                    li.col-body
                                        .px-1.py-1.text-center|Heat Deviation Temperature (ºC)
                                        .px-1.py-1.text-center
                                            |D648 B
                                        .px-1.py-1.text-center|145
                                .text-sm.mt-5|Print capacity: 330mm x 270mm x 200mm
            li.pmaterials-thermoplastics-content-material
                .pmaterials-thermoplastics-content-material-img
                    +picture({sm:require("Upload/onyx-fr-onyx-fra.jpg"), lg:require("Upload/onyx-fr-onyx-fra.jpg")})(alt="Onyx FR")
                .pmaterials-thermoplastics-content-material-title
                    |Onyx FR
                .pmaterials-thermoplastics-content-material-detail
                    a(href="javascript:void(0);", data-attr="onyxfr")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-onyxfr", data-attr="onyxfr")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is chopped carbon fiber filled nylon with non-flammable properties. It is a type of Onyx designed for use in applications where parts should not be flammable. In thicknesses of 3mm or more, it is considered V-0, in other words, self-extinguishing.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Testing (ASTM)
                                        .px-1.py-1.text-center|Onyx FR
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus(GPa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|3.0
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Stress at Break(%)
                                        .px-1.py-1.text-center
                                            |D638
                                        .px-1.py-1.text-center|18
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|3.6
                                    li.col-body
                                        .px-1.py-1.text-center|Heat Deviation Temperature (ºC)
                                        .px-1.py-1.text-center
                                            |D648 B
                                        .px-1.py-1.text-center|145
                                    li.col-body
                                        .px-1.py-1.text-center|Flame Resistance
                                        .px-1.py-1.text-center
                                            |UL 94
                                        .px-1.py-1.text-center
                                            |V-0
                                            sup|2
                                .text-sm.mt-5|Print capacity: 330mm x 270mm x 200mm
            li.pmaterials-thermoplastics-content-material
                .pmaterials-thermoplastics-content-material-img
                    +picture({sm:require("Upload/onyx-fr-onyx-fra.jpg"), lg:require("Upload/onyx-fr-onyx-fra.jpg")})(alt="Onyx FR-A")
                .pmaterials-thermoplastics-content-material-title
                    |Onyx FR-A
                .pmaterials-thermoplastics-content-material-detail
                    a(href="javascript:void(0);", data-attr="onyxfra")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-onyxfra", data-attr="onyxfra")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|This is a form of Onyx FR, which is non-flammable, specially produced for the requirements of transportation industries such as aviation and automotive. It is certified for use in these industries.
                                ul.pmaterials-tables.border.border-custom-100
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Testing (ASTM)
                                        .px-1.py-1.text-center|Onyx FR
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus(GPa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|3.0
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Stress at Break(%)
                                        .px-1.py-1.text-center
                                            |D638
                                        .px-1.py-1.text-center|18
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|3.6
                                    li.col-body
                                        .px-1.py-1.text-center|Heat Deviation Temperature (ºC)
                                        .px-1.py-1.text-center
                                            |D648 B
                                        .px-1.py-1.text-center|145
                                    li.col-body
                                        .px-1.py-1.text-center|Flame Resistance
                                        .px-1.py-1.text-center
                                            |UL 94
                                        .px-1.py-1.text-center
                                            |V-0
                                            sup|2
                                .text-sm.mt-5|Print capacity: 330mm x 270mm x 200mm
            li.pmaterials-thermoplastics-content-material
                .pmaterials-thermoplastics-content-material-img
                    +picture({sm:require("Upload/onyx-esd.jpg"), lg:require("Upload/onyx-esd.jpg")})(alt="Onyx ESD")
                .pmaterials-thermoplastics-content-material-title
                    |Onyx ESD
                .pmaterials-thermoplastics-content-material-detail
                    a(href="javascript:void(0);", data-attr="onyxesd")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-onyxesd", data-attr="onyxesd")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is a stronger, harder and ESD capable Onyx variety used for industrial applications. It has electrostatic discharge feature.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Testing (ASTM)
                                        .px-1.py-1.text-center|Onyx ESD
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus(GPa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|4.2
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Stress at Break(%)
                                        .px-1.py-1.text-center
                                            |D638
                                        .px-1.py-1.text-center|25
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|3.7
                                    li.col-body
                                        .px-1.py-1.text-center|Heat Deviation Temperature (ºC)
                                        .px-1.py-1.text-center
                                            |D648 B
                                        .px-1.py-1.text-center|138
                                    li.col-body
                                        .px-1.py-1.text-center|Surface Resistance (Ω)
                                        .px-1.py-1.text-center
                                            |ANSI/ESD
                                            br
                                            |STM11.11
                                            sup|3
                                        .px-1.py-1.text-center
                                            |10
                                            sup|5
                                            |10
                                            sup|7
                                .text-sm.mt-5|Print capacity: 330mm x 270mm x 200mm
            li.pmaterials-thermoplastics-content-material
                .pmaterials-thermoplastics-content-material-img
                    +picture({sm:require("Upload/beyaz-naylon.jpg"), lg:require("Upload/beyaz-naylon.jpg")})(alt="White Nylon")
                .pmaterials-thermoplastics-content-material-title
                    |White Nylon
                .pmaterials-thermoplastics-content-material-detail
                    a(href="javascript:void(0);", data-attr="beyaznaylon")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-beyaznaylon", data-attr="beyaznaylon")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is an unfilled and non-abrasive thermoplastic with a smooth surface quality. It is used for ergonomic surfaces and easily deteriorated parts. It is paintable.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Testing (ASTM)
                                        .px-1.py-1.text-center|Nylon
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus(GPa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|1.7
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Stress at Break(%)
                                        .px-1.py-1.text-center
                                            |D638
                                        .px-1.py-1.text-center|150
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|1.4
                                    li.col-body
                                        .px-1.py-1.text-center|Heat Deviation Temperature (ºC)
                                        .px-1.py-1.text-center
                                            |D648 B
                                        .px-1.py-1.text-center|41
                                .text-sm.mt-5|Print capacity: 330mm x 270mm x 200mm