ul.pmaterials-thermoplastics-content
    li.pmaterials-thermoplastics-content-material
        .pmaterials-thermoplastics-content-material-img
            +picture({sm:"https://via.placeholder.com/300", lg:"https://via.placeholder.com/285x285"})(alt="img alt")
        .pmaterials-thermoplastics-content-material-title
            |P-PLA
        .pmaterials-thermoplastics-content-material-detail
            a(href="javascript:void(0);", data-attr="ppla")|Malzeme Detayı
                i.icon.icon-arrow-right
    li.pmaterials-thermoplastics-content-material
        .pmaterials-thermoplastics-content-material-img
            +picture({sm:"https://via.placeholder.com/300", lg:"https://via.placeholder.com/285x285"})(alt="img alt")
        .pmaterials-thermoplastics-content-material-title
            |Onyx
        .pmaterials-thermoplastics-content-material-detail
            a(href="javascript:void(0);", data-attr="onyx")|Malzeme Detayı
                i.icon.icon-arrow-right
    li.pmaterials-thermoplastics-content-material
        .pmaterials-thermoplastics-content-material-img
            +picture({sm:"https://via.placeholder.com/300", lg:"https://via.placeholder.com/285x285"})(alt="img alt")
        .pmaterials-thermoplastics-content-material-title
            |P-PLA
        .pmaterials-thermoplastics-content-material-detail
            a(href="javascript:void(0);", data-attr="onyxfr")|Malzeme Detayı
                i.icon.icon-arrow-right