.pmember-right-content-title|İşlem Rehberi
p|Prodigma.com’dan alışveriş yapmak çok kolay. Sadece aşağıdaki adımları izlemeniz yeterli.
p|1. Prodigma.com’da bulunan farklı hizmetlerden projenize en uygun olanı seçin. Projeyi oluşturmak için adımları inceleyin ve takip edin. Adımları tamamladıktan sonra ödeme için projeyi sepetinize ekleyin.
p|2. Hizmeti seçtikten sonra projenize ilişkin tercihlerinizi belirtin. Son ürün, hizmet adımlarında seçilen detaylara göre hazırlanacak ve tarafınıza gönderilecektir.
p|3. Satın almak istediğiniz projeyi bulunduğu hizmet sayfasındaki “Sepete Ekle” butonuna basarak alışveriş sepetinize ekleyin. Daha sonra alışverişe devam etmeyi ya da sipariş işlemi yapmayı tercih edebilirsiniz.
p|4. Oluşturmak istediğiniz bütün projeleri sepetinize ekledikten sonra açılan alandaki “Sepetime Git” butonuna basarak sepetinize gidebilirsiniz.
p|5. Burada almak istediğiniz ürün sayısını arttırıp azaltabilir; dilerseniz açılan mini sepeti kapatarak proje oluşturmaya devam edebilirsiniz.
p|6. Satın alma adımına ilerlemek için “Sepeti Onayla” butonuna tıklayın.
p|7. Bir proje başlatabilmek için üye girişi yapın. Eğer üye değilseniz, Prodigma.com’un bütün avantajlarından yararlanmak için yeni hesap oluşturun.
p|8. Standart Adrese Teslimat aracılığıyla ürünlerinizi ve faturanızı teslim almak istediğiniz adresleri seçin, teslimat ve fatura adreslerinin doğrululuğunu kontrol edin.
p|9. Aynı zamanda bu sayfada varsa promosyon kodunuzu kullanabilirsiniz.
p|10. Siparişinizi oluşturduktan sonra, ekibimiz tarafından değerlendirilecektir. Proje üretim onayı alırsa tutar belirtilen kredi kartından çekilir ve üretim süreci başlatılır.