.pmember-right-content-title|Trading Guide
p|Prodigma’dan sipariş oluşturmak için aşağıdaki adımları izlemeniz yeterli.
p|1. Prodigma’da bulunan farklı hizmetlerden projenize en uygun olanı seçin. Projeyi oluşturmak için aşağıdaki adımları takip edin. Bu adımları tamamladıktan projeyi sepetinize ekleyin.
p|2. Almak istediğiniz hizmeti seçtikten sonra projenize ilişkin tercihlerinizi belirtin. Son ürün, hizmet adımlarında seçilen detaylara göre fiyatlandırılacak ve üretilip tarafınıza gönderilecektir
p|3. Talebe ve kişiye özel oluşturduğunuz siparişinizi hizmet sayfasında bulunan “Sepete Ekle” butonuna basarak alışveriş sepetinize ekleyin. Daha sonra yeni bir sipariş oluşturmak için devam etmeyi ya da siparişi tamamlamayı tercih edebilirsiniz.
p|4. Oluşturmak istediğiniz bütün projeleri sepetinize ekledikten sonra açılan alandaki “Sepetime Git” butonuna basarak sepetinizi görüntüleyebilirsiniz.
p|5. Burada almak istediğiniz ürün sayısını artırıp azaltabilir; dilerseniz açılan mini sepeti kapatarak proje oluşturmaya devam edebilirsiniz.
p|6. Satın alma adımına ilerlemek için “Sepeti Onayla” butonuna tıklayın.
p|7. Bir proje başlatabilmek için üye girişi yapmanız gerekir. Eğer üye değilseniz, Prodigma’nın bütün avantajlarından yararlanmak için yeni bir hesap oluşturun.
p|8. Standart Adrese Teslimat aracılığıyla ürünlerinizi ve faturanızı teslim almak istediğiniz adresleri seçin, teslimat ve fatura adreslerinin doğrululuğunu kontrol edin.
p|9. Aynı zamanda bu sayfada varsa promosyon kodunuzu veya eğitim indiriminizi kullanabilirsiniz.
p|10. Siparişinizi oluşturduktan sonra, ekibimiz tarafından değerlendirilecektir. Proje üretim onayı alırsa tutar belirtilen kredi kartından çekilir ve üretim süreci başlatılır. Süreçle alakalı diğer sorularınız için “Sık Sorulan Sorular” sayfasını ziyaret edebilirsiniz.