.pmember-right-content-title|Operation Guide
p|To create an order from Prodigma, simply follow the steps below.
p|1. Choose the most suitable one for your project from the different services available in Prodigma. Follow the steps below to create the project. After completing these steps, add the project to your cart.
p|2. After choosing the service you want to receive, specify your preferences for your project. The final product will be priced according to the details selected in the service steps, and will be produced and sent to you.
p|3. Add your custom and personal order to your shopping cart by clicking the "Add to Cart" button on the service page. You can then choose to continue or complete the order to create a new order.
p|4. After adding all the projects you want to create to your cart, you can view your cart by clicking the "Go to My Cart" button in the field that opens.
p|5. Here you can increase or decrease the number of products you want to buy; If you wish, you can continue to create a project by closing the opened mini cart.
p|6. Click the “Confirm Cart” button to proceed to the purchase step.
p|7. In order to start a project, you must be logged in as a member. If you are not a member, create a new account to enjoy all the benefits of Prodigma.
p|8. Select the addresses where you want to receive your products and invoice via Standard Delivery to Address, and check the accuracy of the delivery and billing addresses.
p|9. At the same time, you can use your promotional code or education discount, if available on this page.
p|10. After you place your order, it will be evaluated by our team. If the project receives production approval, the amount is withdrawn from the specified credit card and the production process is started. For other questions about the process, you can visit the "Frequently Asked Questions" page.