.pwebinar-body-other-content 
    |Diğer Webinar İçerikleri
    ul 
        a(href="#")
            li
                +picture({sm:"https://via.placeholder.com/190x190",  lg:"https://via.placeholder.com/470x470"})(alt="img alt") 
        a(href="#")
            li
                +picture({sm:"https://via.placeholder.com/190x190",  lg:"https://via.placeholder.com/470x470"})(alt="img alt")
        a(href="#")
            li
                +picture({sm:"https://via.placeholder.com/190x190",  lg:"https://via.placeholder.com/470x470"})(alt="img alt") 