.pwebinar-body-other-content 
    |Diğer Webinar İçerikleri
    ul 
        li
            a(href="javascript:void(0);")
                +picture({sm:require("Images/webinar_other_1.png"),lg:require("Images/webinar_other_1.png")})(alt="Prodigma webinar") 
        li
            a(href="javascript:void(0);")
                +picture({sm:require("Images/webinar_other_2.png"),lg:require("Images/webinar_other_2.png")})(alt="Prodigma webinar")
        li
            a(href="javascript:void(0);")
                +picture({sm:require("Images/webinar_other_3.png"),lg:require("Images/webinar_other_3.png")})(alt="Prodigma webinar") 