.pmaterials-metals
    .pmaterials-metals-wrapper
        .pmaterials-metals-title 
            |Fotopolimer 
        .pmaterials-metals-desc 
            |Geniş malzeme yelpazesine sahip reçinelerimiz ile, genel amaçlı prototiplerinizden, mekanik performans gerektiren özellikler sayesinde nihai ürüne kadar her türlü parça ihtiyacınızı karşılayabilirsiniz. 
        .pmaterials-metals-content(id="pmaterials-fotopolimers")
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/abs-like-white.jpg"), lg:require("Upload/abs-like-white.jpg")})(alt="ABS like White")
                .pmaterials-metals-content-material-title
                    |ABS like White
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-abs-white", data-attr="abs-white")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Mukavemet gerektirmeyen, ince detaylara ve pürüzsüz yüzeye sahip prototiplerde yaygın olarak kullanılan fotopolimer çeşididir.
                                .text-sm.mt-5|Baskı kapasitesi: 800mm x 800mm x 500mm
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/abs-like-brown.jpg"), lg:require("Upload/abs-like-brown.jpg")})(alt="ABS like Brown")
                .pmaterials-metals-content-material-title
                    |ABS like Brown
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-brown") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-abs-brown", data-attr="abs-brown")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Özellikle yüksek detayların ön planda olduğu parçalar üretmek için kullanılan, pürüzsüz yüzeye sahip fotopolimer çeşididir.
                                .text-sm.mt-5|Baskı kapasitesi: 600mm x 600mm x400mm
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/proto45-beyaz.jpg"), lg:require("Upload/proto45-beyaz.jpg")})(alt="Proto45")
                .pmaterials-metals-content-material-title
                    |Proto45
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="proto45") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-proto45", data-attr="proto45")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Yüksek kaliteli prototipler için kullanılan, yüksek çözünürlüğe sahip fotopolimer çeşididir.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test (ASTM)
                                        .px-1.py-1.text-center|Proto45
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Modülü (GPa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|&gt;1,6
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|&gt;52Mpa
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Modülü (Gpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|&gt;2,1Gpa
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|&gt;95Mpa
                                    li.col-body
                                        .px-1.py-1.text-center|Sertlik
                                        .px-1.py-1.text-center|D2240
                                        .px-1.py-1.text-center|85
                                .text-sm.mt-5|Baskı kapasitesi: 275mm x 155mm x 400mm
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/flexible.jpg"), lg:require("Upload/flexible.jpg")})(alt="FLEXIBLE")
                .pmaterials-metals-content-material-title
                    |FLEXIBLE
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="flexible") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-flexible", data-attr="flexible")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Esnek parçalar üretmek için kullanılan fotopolimer çeşididir.
                                .text-sm.mt-5|Baskı kapasitesi: 200mm x 200mm x 350mm
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/proFLEX.jpg"), lg:require("Upload/proFLEX.jpg")})(alt="proFLEX")
                .pmaterials-metals-content-material-title
                    |proFLEX
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="proflex") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-proflex", data-attr="proflex")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Yırtılma dirençli ve yüksek dayanıklı esnek parçalar üretmek için kullanılan fotopolimer çeşididir.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test
                                        .px-1.py-1.text-center|proFLEX
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Modülü (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|3,7
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|2,5
                                    li.col-body
                                        .px-1.py-1.text-center|Yırtılma Dayanımı (KN)
                                        .px-1.py-1.text-center|D624
                                        .px-1.py-1.text-center|7,3
                                    li.col-body
                                        .px-1.py-1.text-center|Enerji dönüşü
                                        .px-1.py-1.text-center|
                                        .px-1.py-1.text-center|%46
                                    li.col-body
                                        .px-1.py-1.text-center|Sertlik
                                        .px-1.py-1.text-center|
                                        .px-1.py-1.text-center|55A-44A
                                .text-sm.mt-5|Baskı kapasitesi: 275mm x 155mm x 400mm
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/clear.jpg"), lg:require("Upload/clear.jpg")})(alt="CLEAR")
                .pmaterials-metals-content-material-title
                    |CLEAR
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="clear") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-clear", data-attr="clear")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Şeffaf parçalar üretmek için kullanılan fotopolimer çeşididir.
                                .text-sm.mt-5|Baskı kapasitesi: 200mm x 200mm x 350mm
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/proCLEAR.jpg"), lg:require("Upload/proCLEAR.jpg")})(alt="proCLEAR")
                .pmaterials-metals-content-material-title
                    |proCLEAR
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="proCLEAR") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-proCLEAR", data-attr="proCLEAR")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Sert ve darbeye dayanıklı şeffaf parçalar üretmek için kullanılan fotopolimer çeşididir.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test
                                        .px-1.py-1.text-center|proCLEAR
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Modülü (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|1300
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|35
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Modülü (Mpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|1300
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|45
                                    li.col-body
                                        .px-1.py-1.text-center|Sertlik (Shore D)
                                        .px-1.py-1.text-center|D2240
                                        .px-1.py-1.text-center|79
                                    li.col-body
                                        .px-1.py-1.text-center|Isı sapma sıcaklığı ©
                                        .px-1.py-1.text-center|D648
                                        .px-1.py-1.text-center|53
                                .text-sm.mt-5|Baskı kapasitesi: 275mm x 155mm x 400mm
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/proABS.jpg"), lg:require("Upload/proABS.jpg")})(alt="proABS")
                .pmaterials-metals-content-material-title
                    |proABS
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="proABS") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-proABS", data-attr="proABS")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Mükemmel eğilme ve gerilme özelliğine sahip, yüksek performanslı parçalar üretmek için kullanılan fotopolimer çeşididir.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test
                                        .px-1.py-1.text-center|proABS
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Modülü (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|1400
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|32
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Modülü (Mpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|1400
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|30
                                    li.col-body
                                        .px-1.py-1.text-center|Sertlik
                                        .px-1.py-1.text-center|D2240
                                        .px-1.py-1.text-center|86
                                    li.col-body
                                        .px-1.py-1.text-center|Isı sapma sıcaklığı ©
                                        .px-1.py-1.text-center|D648
                                        .px-1.py-1.text-center|56
                                .text-sm.mt-5|Baskı kapasitesi: 275mm x 155mm x 400mm
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/perfomax-beyaz.jpg"), lg:require("Upload/perfomax-beyaz.jpg")})(alt="performax")
                .pmaterials-metals-content-material-title
                    |performax
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="performax") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-performax", data-attr="performax")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Sert ve yüksek performanslı parçalar üretmek için kullanılan fotopolimer çeşididir.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test
                                        .px-1.py-1.text-center|performax
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Modülü (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|2840
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|69
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Modülü (Mpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|3250
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|135
                                    li.col-body
                                        .px-1.py-1.text-center|Sertlik
                                        .px-1.py-1.text-center|D2240
                                        .px-1.py-1.text-center|89
                                    li.col-body
                                        .px-1.py-1.text-center|Isı sapma sıcaklığı ©
                                        .px-1.py-1.text-center|D648
                                        .px-1.py-1.text-center|87
                                .text-sm.mt-5|Baskı kapasitesi: 275mm x 155mm x 400mm
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/proPEEK.jpg"), lg:require("Upload/proPEEK.jpg")})(alt="proPEEK")
                .pmaterials-metals-content-material-title
                    |proPEEK
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="proPEEK") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-proPEEK", data-attr="proPEEK")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Yüksek sıcaklık dayanımına sahip, mekanik streslere dayanacak parçalar üretmek için kullanılan fotopolimer çeşididir.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test
                                        .px-1.py-1.text-center|proPEEK
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Modülü (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|3190
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|75
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Modülü (Mpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|3170
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|130
                                    li.col-body
                                        .px-1.py-1.text-center|Sertlik
                                        .px-1.py-1.text-center|D2240
                                        .px-1.py-1.text-center|94
                                    li.col-body
                                        .px-1.py-1.text-center|Isı sapma sıcaklığı ©
                                        .px-1.py-1.text-center|D648
                                        .px-1.py-1.text-center|238
                                .text-sm.mt-5|Baskı kapasitesi: 275mm x 155mm x 400mm
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/proBlack.jpg"), lg:require("Upload/proBlack.jpg")})(alt="proBlack")
                .pmaterials-metals-content-material-title
                    |proBlack
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="proBlack") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-proBlack", data-attr="proBlack")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Sert ve darbeye dayanıklı prototipler için kullanılan fotopolimer çeşididir.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test
                                        .px-1.py-1.text-center|proBlack
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Modülü (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|1300
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|35
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Modülü (Mpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|1300
                                    li.col-body
                                        .px-1.py-1.text-center|Eğilme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D790
                                        .px-1.py-1.text-center|45
                                    li.col-body
                                        .px-1.py-1.text-center|Sertlik
                                        .px-1.py-1.text-center|D2240
                                        .px-1.py-1.text-center|80
                                    li.col-body
                                        .px-1.py-1.text-center|Isı sapma sıcaklığı ©
                                        .px-1.py-1.text-center|D648
                                        .px-1.py-1.text-center|53
                                .text-sm.mt-5|Baskı kapasitesi: 275mm x 155mm x 400mm
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/proto410.jpg"), lg:require("Upload/proto410.jpg")})(alt="proto410")
                .pmaterials-metals-content-material-title
                    |proto410
                .pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="proto410") Malzeme Detayı
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-proto410", data-attr="proto410")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs|Yüksek yüzey kalitesi ve çözünürlüğe sahip sert parçalar üretmek için kullanılan fotopolimer çeşididir.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test
                                        .px-1.py-1.text-center|proto410
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Modülü (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|2365
                                    li.col-body
                                        .px-1.py-1.text-center|Çekme Dayanımı (Mpa)
                                        .px-1.py-1.text-center|D638
                                        .px-1.py-1.text-center|41
                                    li.col-body
                                        .px-1.py-1.text-center|Sertlik
                                        .px-1.py-1.text-center|D2240
                                        .px-1.py-1.text-center|79
                                    li.col-body
                                        .px-1.py-1.text-center|Isı sapma sıcaklığı ©
                                        .px-1.py-1.text-center|D648
                                        .px-1.py-1.text-center|61
                                .text-sm.mt-5|Baskı kapasitesi: 275mm x 155mm x 400mm