.member-permissions-forms
    .member-permissions-forms-wrap
        .member-permissions-forms-title|Açık Rıza ve Aydınlatma Metinleri
        .member-permissions-forms-rows
            +inputs('checkbox','Bana özel oluşturulacak kampanyalardan haberdar olabilmek için kişisel verilerimin profilimin oluşturulması için işlenmesine açık rıza veriyorum. Profilleme süreçlerine ilişkin aydınlatma metnine buradan ulaşabilirsiniz.', 'js-user-remember')
        .member-permissions-forms-title|İletişim İzinleri
        .member-permissions-forms-rows
            +inputs('checkbox','İletişim izni kapsamında Idefix.com tarafından pazarlama amaçlı ileti almak istiyorum.', 'js-user-remember')
        .member-permissions-forms-rows.member-permissions-forms-rows-type2
            +inputs('checkbox','E-posta', 'js-user-remember')
        .member-permissions-forms-rows.member-permissions-forms-rows-type2
            +inputs('checkbox','SMS', 'js-user-remember')
        .member-permissions-forms-rows.member-permissions-forms-rows-type2
            +inputs('checkbox','Çağrı Merkezi / Telefon', 'js-user-remember')
        .member-permissions-forms-title|Yurtdışı izinleri
        .member-permissions-forms-rows
            +inputs('checkbox','Kişisel verilerimin yurt dışına aktarım izni kapsamında Prodigma iş ortaklarının yurt dışında yer alan sunucularına aktarılmasına izin veriyorum.', 'js-user-remember')
        .member-permissions-forms-rows-btn
            +button('Keydet', 'green', 'm')