.supply-banner 
    .supply-banner-wrapper
        .supply-banner-content
            .supply-banner-content-title|Become a supplier
            //-.supply-banner-content-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .supply-banner-content-btn 
                +button('Apply','green', 'm')(href="/become-supplier.html")