.contact-banner 
    .contact-banner-left 
        .contact-banner-left-address
            p|İstanbul | Europe
            span
                |İkitelli Org. San. Böl. Mutsan San. M12 Blok No:50
                br
                |İkitelli/Başakşehir - İstanbul
                br
                a(href="tel:+902124854250")|Tel: +90 212 4854250
        .contact-banner-left-email.mt-5
            p E-mail
            a(href="mailto:info@prodigma.co")|info@prodigma.co 
        .contact-banner-left-address.mt-10
            p|Teknopark İstanbul
            span
                |Sanayi Mah. Teknopark Bulvarı 1A Blok No:208, 34906
                br
                |Pendik – İstanbul
                br
                a(href="tel:+902124854250")|tel: +90 212 4854250
        .contact-banner-left-email.mt-5
            p E-mail
            a(href="mailto:info@prodigma.co")|info@prodigma.co
        //-.contact-banner-left-call-center
            p Çağrı Merkezi 
            span 444 98 67
            span 0 (212) 485 42 50 
            span 0 (212) 485 42 51
            span 0 (212) 485 42 52 
        //-.contact-banner-left-fax   
            p Faks 
            span 0 (212) 485 42 54 
    include ../map-banner/index.pug