.contact-banner 
    .contact-banner-left 
        .contact-banner-left-address
            p İstanbul Teknopark
            span Sanayi, Teknopark Blv A Blok No:208, 34906 Pendik/İstanbul
        .contact-banner-left-call-center
            p Çağrı Merkezi 
            span 444 9 8670
            span 0 (212) 485 42 50 
            span 0 (212) 485 42 51
            span 0 (212) 485 42 52 
        .contact-banner-left-fax   
            p Faks 
            span 0 (212) 485 42 54 
    include ../map-banner/index.pug