.member
    .member-mobile-trigger Destek
    .member-bottom 
        .member-bottom-content
            ul 
                li
                    a(href="/sikca-sorulan-sorular.html")|Sık Sorulan Sorular 
                li 
                    a(href="/islem-rehberi.html")|İşlem Rehberi
                //-li 
                    a(href="/teslimat.html")|Teslimat