.member-address-list
    .member-address-list-row.selected
        .member-address-list-row-left
            .loc
                .t1|Evim
                .t2|Bireysel
        .member-address-list-row-right
            .member-address-list-row-right-inner
                .cas
                    i.icon.icon-success
                    |Öncelikli Adresim
                .member-address-list-row-right-btn
                    a(href="#")|Sil
                    a(href="#")|Düzenle
        .member-address-list-row-bottom
            .address|Bereketzade Mahallesi, Bahtiyar Apt. 3/4, Hacı Ali Sk., 34421 Beyoğlu/İstanbul
            .date|0(533) 234 22 12
    .member-address-list-row.unselected
        .member-address-list-row-left
            .loc
                .t1|Ofis
                .t2|Kurumsal
        .member-address-list-row-right
            .member-address-list-row-right-inner
                a(href="#")(class="lnk")
                    |Öncelikli Adresim Yap
                .member-address-list-row-right-btn
                    a(href="#")|Sil
                    a(href="#")|Düzenle
        .member-address-list-row-bottom
            .address|Körfez Caddesi No:37/A Anadolu Hisarı Kavacık Beykoz
            .date|0(533) 234 22 12
    .member-address-list-row.unselected
        .member-address-list-row-left
            .loc
                .t1|Annem
                .t2|Bireysel
        .member-address-list-row-right
            .member-address-list-row-right-inner
                a(href="#")(class="lnk")
                    |Öncelikli Adresim Yap
                .member-address-list-row-right-btn
                    a(href="#")|Sil
                    a(href="#")|Düzenle
        .member-address-list-row-bottom
            .address|Erenköy, Fahrettin Kerim Gökay Cd. No: 278/4, 34738 Kadıköy/İstanbul
            .date|0(525) 355 11 33
.member-address-new-add
    a(href="#")
        i.icon.icon-plus
        |Yeni Adres Ekle