.quick-solution-banner
    .quick-solution-banner-wrapper
        .quick-solution-banner-header
            .quick-solution-banner-header-t1 Hızlı Çözüm Kolay Kullanım
            .quick-solution-banner-header-t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        .quick-solution-banner-btns 
            +button('Konfigürasyon','primary', 'm')
            +button('Materyal','primary', 'm')
            +button('Fiyatlandırma','primary', 'm')
        .quick-solution-banner-body
            .responsive-iframe-container
                iframe(class="responsive-iframe-container-iframe" src="https://player.vimeo.com/video/541713308?quality=1080p&autoplay=1&muted=1&loop=1&autopause=0&api=1&player_id=vimeo_id_1" frameborder="0")