.create-project-sets.create-project-reverse-engineering
    .create-project-left
        +picture({sm:require('Images/printing-page-cover.jpg'), lg:require('Images/printing-page-cover.jpg')})
    .create-project-right
        .create-project-right-inner
            .create-project-right-name|Prodigma uzmanlarından 3D Tarama ve Tersine Mühendislik desteği alın!
            .create-project-right-sub-text|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            .create-project-right-priting-case
                .create-project-right-priting-case-title|Bu işleme neden ihtiyaç duyuyorsunuz?
                ul
                    li
                        .input.radio(id="js-section-1")
                            input(type="radio")
                            label(for="js-section-1")|Yeniden üretmek istenilen ürünün 3D datası yok
                    li
                        .input.radio(id="js-section-2")
                            input(type="radio")
                            label(for="js-section-2")|İhtiyaç duyulan ürünün artık üretilmiyor
                    li
                        .input.radio(id="js-section-3")
                            input(type="radio")
                            label(for="js-section-3")|Ürün tasarımında revizyon ihtiyacı var
                    li
                        .input.radio(id="js-section-4")
                            input(type="radio")
                            label(for="js-section-4")|Orijinal 3D data güncel imalat yöntemleri için yeterli değil
            .create-project-right-priting-desc
                .input.textarea
                    textarea(placeholder="Açıklama belirtin")
            .create-project-right-priting-date
                .create-project-right-priting-date-title|Projenizi yüz yüze görüşelim... Uygun tarih ve saatlerden seçim yapın.
                .create-project-right-priting-date-select
                    .input.textbox
                        input(type="date")
                    .input.textbox
                        input(type="date")

        .create-project-right-priting-footer
            .create-project-right-priting-footer-left
                i.icon.icon-info
                span|Görüşmelerimiz 15 dk ile sınırlıdır.
            .create-project-right-priting-footer-btn
                button(type="button", class="btn btn-secondary btn-medium")|Uzman ile görüş