.create-project-sets.create-project-reverse-engineering
    .create-project-left
        .create-project-iframe-service 
            iframe(src="https://demo.amfg.ai/new/live/promakim.en.trl.html", frameborder="0")
        //-+picture({sm:require('Images/printing-page-cover.jpg'), lg:require('Images/printing-page-cover.jpg')})
    .create-project-right
        .create-project-right-inner
            .create-project-right-name|Prodigma uzmanlarından 3D Tarama ve Tersine Mühendislik desteği alın!
            .create-project-right-sub-text|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            form(id="reverse-engineer-form")
                .create-project-right-priting-case
                    .create-project-right-priting-case-title|Bu işleme neden ihtiyaç duyuyorsunuz?
                    ul(id="reverse-engineer-question")
                .create-project-right-priting-desc
                    .input.textarea.borders
                        textarea(placeholder="Açıklama belirtin")(id="js-reverse-engineer-description-input")
                .create-project-right-priting-date
                    .create-project-right-priting-date-title|Projenizi yüz yüze görüşelim... Uygun tarih ve saatlerden seçim yapın.
                    .create-project-right-priting-date-select
                        .input.textbox.borders
                            input(type="date")(id="js-reverse-engine-date-input", name="reverse-engine-date-input")
                        .input.textbox.borders
                            input(type="time")(id="js-reverse-engine-time-input", name="reverse-engine-time-input")
                .create-project-right-priting-footer
                    .create-project-right-priting-footer-left
                        i.icon.icon-info
                        span|Görüşmelerimiz 15 dk ile sınırlıdır.
                    .create-project-right-priting-footer-btn
                        button(type="submit", class="btn btn-secondary btn-medium")(id="js-reverse-engineer-form-send")|Uzman ile görüş