- var errors = false;
- var messages = {succes: 'İşleminiz ele alınmıştır. Teşekkür ederiz!', error: 'Lütfen girmiş olduğunuz alanları kontrol ediniz!'};

.site-subscribe
    .site-subscribe-wrapper 
        .site-subscribe-header 
            .site-subscribe-title
                |Bize Katılın 
            .site-subscribe-desc
                |En son haberler ve özel teklifler hakkında güncellemeler almak için abone olun!
        .site-subscribe-body 
            +inputs('textbox','Email', 'js-user-subscribe-email','arrow-line')
            if errors = false
                .site-messages
                    .site-messages-success= messages.succes
                    .site-messages-error= messages.error
        .site-subscribe-footer.hidden