.input-double.input-membership-select
    +inputs('radio','Bireysel Üyelik', 'js-individual-membership')(data-tab="click-individual", value="0")
    +inputs('radio','Kurumsal Üyelik', 'js-corporate-membership')(data-tab="click-corporate", value="1")
.input-step-selection.active(data-tab="click-individual")
    form(class="form-register" id="register-form")
        +inputs('textbox','Ad', 'js-register-user-name')
        +inputs('textbox','Soyad', 'js-register-user-surname')
        +inputs('textbox','E-Posta Adresi', 'js-register-user-email')(type="email")
        div.warning-text.warning-same-email-address-text
        +inputs('textbox','Şifre', 'js-register-user-passwords')(type="password", maxlength="8")
        div.warning-text.warning-register-pass-text
        +inputs('textbox','Cep Telefonu', 'js-register-user-phone')
        .hidden.corporate
            +select('Şirket','js-corporate-name')
                each value in [{value: '0', text: 'Şirket'}, {value: '1', text: 'Üniversite'}, {value: '2', text: 'Sanayi'}]
                    option(value=value.value) #{value.text}
        .hidden.corporate
            +select('Müşteri Tipi','js-corporate-type')
                each value in [{value: '0', text: 'Bireysel'}, {value: '1', text: 'Kurumsal'}, {value: '2', text: 'Eğitim'}]
                    option(value=value.value) #{value.text}
        .hidden.corporate
            +inputs('textbox','Telefon', 'js-register-user-normal-phone')
        .hidden.corporate
            +inputs('textbox','Fax', 'js-register-user-fax')
        .hidden.corporate
            +select('İl','js-corporate-province')
        .hidden.corporate
            +select('İlçe','js-corporate-district')
        .hidden.corporate
            +inputs('textarea','Fatura Adresi', 'js-corporate-billing-address')
        .input-privacy-policy 
            +inputs('checkbox','İletişim izinleri kapsamında Prodigma A.Ş. tarafından önemli bilgilerden haberdar olmak için elektronik ileti almayı kabul ediyorum.', 'js-user-remember-privacy-individual')
        +button('Üyelik Oluştur', 'secondary btn-sign-in', 'm')(type="submit")
        .input-subscribe-text
            span Kişisel verileriniz, Aydınlatma Metni kapsamında işlenmektedir.
                strong “Onay Kodu İste”
                |butonuna basarak Üyelik Sözleşmesi’ni, Rıza Metni’ni, İletişim İzinleri’ni okuduğunuzu ve kabul ettiğinizi onaylıyorsunuz.