.create-project
    .create-project-wrapper
        //-.create-project-header
            .create-project-header-title Prodigma ile bir proje oluşturmaya hazır mısın?
            .create-project-header-desc Hemen oluşturmak istediğin proje türünü seç, adım adım özelliklere karar ver, Prodigma senin için üretsin!
        .create-project-body 
            include slider/index.pug
        //-.create-project-footer
            .create-project-footer-btn
                +button('Sonraki Adım', 'gray' ,'m', badgy={icon:'arrow-line'})(href="javascript:void(0);", id='js-next-to-step-first', disabled)