.page-home-sss
    .page-home-sss-header
        .page-home-sss-header-title
            |Sık Sorulan Sorular
        .page-home-sss-header-desc
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    ul(class='accordion page-home-sss-accordion', data-type='connected')
        li(class='acc-item', id="item_1")
            .acc-header
                button(type='button') Dosyamı 3D olarak nereden yazdırabilirim?
            .acc-body
                p
                    strong Lorem Ipsum
        li(class='acc-item', id="item_2")
            .acc-header
                button(type='button') 3D baskı hizmetinin maliyeti nedir?
            .acc-body
                p 
                    strong Lorem Ipsum
        li(class='acc-item', id="item_3")
            .acc-header
                button(type='button') 3D baskı için ne tür bir dosya formatı gereklidir?
            .acc-body
                p 
                    strong Lorem Ipsum
        li(class='acc-item', id="item_4")
            .acc-header
                button(type='button') 3D baskı için fiyatlandırmayı nasıl yapıyorsunuz?
            .acc-body
                p 
                    strong Lorem Ipsum