.page-home-sss
    .page-home-sss-left
        //-+picture({sm:require('Upload/ana-sayfa-sikca-sorulan-sorular.jpg'), lg:require('Upload/ana-sayfa-sikca-sorulan-sorular.jpg')})(alt='Image Tag')
    .page-home-sss-right
        .page-home-sss-header
            .page-home-sss-header-title
                |Sık Sorulan Sorular
            .page-home-sss-header-desc.hidden
                |Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        ul(class='accordion page-home-sss-accordion', data-type='connected')
            li(class='acc-item', id="item_1")
                .acc-header
                    button(type='button')|Yalnızca çevrimiçi mi sipariş verebilirim?
                .acc-body
                    .content
                        |Prodigma talebe özel fiyatlandırmanın yapıldığı bir online platformdur. Kurumsal yapınız gereği çevrimiçi sipariş oluşturamıyorsanız 
                        a(href="mailto:info@prodigma.co" class="text-blue-200 underline")|info@prodigma.co 
                        |adresinden iletişime geçebilirsiniz.
            li(class='acc-item', id="item_2")
                .acc-header
                    button(type='button')|Prodigma web sitesine nasıl kayıt olabilirim?
                .acc-body
                    .content
                        p 
                            a(href="/proje-baslat.html", class="text-blue-200 underline")|Kayıt Ol
                        br
                        |Yukarıdaki linki kullanarak birkaç dakika içinde bir kullanıcı hesabı oluşturabilirsiniz. İstenen birkaç veriyi tamamlayın ve hesabınızı kalıcı olarak etkinleştirmek için tıklama bağlantısını bulacağınız onay e-postasını bekleyin.
                        br
                        |E-postayı birkaç dakika içinde almazsanız, lütfen SPAM klasöründe veya diğer şirket filtrelerinde olup olmadığını kontrol edin, yoksa mevcut yöntemlerden birini kullanarak bizimle iletişime geçebilirsiniz. Kayıt tamamen ücretsizdir ve herhangi bir yükümlülük veya son tarih içermez.
                        |Kaydolarak, bilgi ve promosyonları almak için doğrudan haber bültenine ekleneceksiniz, istediğiniz zaman doğrudan hesabınızdan veya bizimle iletişime geçerek aboneliğinizi iptal edebilirsiniz.
            li(class='acc-item', id="item_3")
                .acc-header
                    button(type='button')|Sizinle nasıl iletişime geçebilirim?
                .acc-body
                    .content
                        p 
                            a(href="mailto:info@prodigma.co" class="text-blue-200 underline")|info@prodigma.co 
                        p 
                            a(href="tel:+902124854250" class="text-blue-200 underline")|+90 212 4854250
            li(class='acc-item', id="item_4")
                .acc-header
                    button(type='button')|Yüklenen tasarımları nasıl koruyorsunuz?
                .acc-body
                    .content
                        |Prodigma S.r.l: Veri Sorumlusu, ilgili taraf olarak sizi bilgilendirir. 13 ve 14 AB Yönetmeliği n. 2016/679 (bundan böyle “GDPR” olarak anılacaktır), verilerinizin aşağıdaki şekilde ve aşağıdaki amaçlarla işleneceğini garanti eder.
        .page-home-sss-footer 
            +button('Daha Fazla Soru', 'primary', 'medium')(href="/sikca-sorulan-sorular.html")