.pwebinar-header
    .pwebinar-header-left 
        +picture({sm:"https://via.placeholder.com/400x195", lg:"https://via.placeholder.com/915x400"})(alt="img alt")
    .pwebinar-header-right
            .pwebinar-header-right-top
                .pwebinar-header-right-top-tt1 
                    |20 Haziran 2022 | 15:00 
                .pwebinar-header-right-top-tt2 67 / 80 kişi
            .pwebinar-header-right-body
                .pwebinar-header-right-body-title
                                .pwebinar-header-right-body-title-tt1 
                                    |Etkinlik 1
                                .pwebinar-header-right-body-title-tt2 
                                    |Uzun İsim Denemesi
                                .pwebinar-header-right-body-location
                                    |Prodigma, İstanbul TeknoPark
                .pwebinar-header-right-body-speech 
                    p Konuşmacılar: 
                    b Zeynep Aldemir  +9
                .pwebinar-header-right-footer
                    .pwebinar-header-right-footer-btn 
                        +button('Etkinliğe Katıl', 'green', 's')
                    .pwebinar-header-right-footer-social 
                        p Paylaş
                            a(href="#")
                                            i.icon.icon-facebook
                            a(href="#")
                                            i.icon.icon-twitter
                            a(href="#")
                                            i.icon.icon-linkedin