extends ../blocks/layout.pug

block prepend head
    - pageTitle = "3D Baskı"
    - pageDesc = "3D Baskı"
    - pageClass = "3d-printing"

block content
    .create-project
        include ../widgets/create-project/models/3d-model/index.pug

block foot
    block append footer