extends ../blocks/layout-en.pug

block prepend head
    - pageTitle = "Prodigma | About Us"
    - pageDesc = "About Us"
    - pageClass = "about-us"

block content
    .pabout
        +hero-banner('About Us', {sm:require("Upload/hakkimizda-hero-cover-mb.jpg"), lg:require("Upload/hakkimizda-hero-cover.jpg")})
        .pabout-body
            .pabout-body-content
                .pabout-body-content-title
                    span.stcky
                        |Prodigma Vision
                    .pabout-body-content-anim-wrap
                        .pabout-body-content-anim-title
                            img(src=require("Images/logo.svg"), alt="Prodigma Professional Digital Manufacturing")
                            div|Professional Digital Manufacturing
                .pabout-body-content-desc
                    p|By combining secondary processes various manufacturers and production technologies, Prodigma creates a user-friendly product services network, creating repeatable and easily accessible products for our customers. The online production platform allows users to access custom-made parts with the most suitable material options for your projects.
                    br
                    p|Our mission is to provide manufacturing solutions that optimize innovation with accessible, repeatable and scalable manufacturing technologies by providing the most appropriate services according to the demands of our customers.
            //-include ../widgets/counter-banner/index.pug
        include ../widgets/benefits-brands/index.pug
        //-include ../widgets/photo-banner/index.pug
        .photo-banner
            .photo-banner-img
                +picture({sm:require("Upload/hakkimizda-detail-cover-mb.jpg"),lg:require("Upload/hakkimizda-detail-cover-lg.jpg")})(alt="Prodigma 3D")
        include ../widgets/double-listed-banner/index-en.pug