extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Ardıl İşlemler"
    - pageDesc = "Ardıl İşlemler"
    - pageClass = "successive-processes"

block content
    .create-project
        include ../widgets/create-project/models/successive-processes/index.pug

block foot
    block append footer