extends ../blocks/layout.pug

block prepend head
    - var pageTitle= 'Sepet'
    - var pageDesc= 'Sepet'
    - var pageClass= 'cart'

block content
    .basket
        .basket-wrapper
            .basket-left
                include ../basket/basket-list/index.pug
                .basket-accordion
                    ul(class='accordion accordion-basket', data-type='connected')
                        li(class='acc-item', id="item_1")
                            .acc-header
                                button(type='button') Alıcı Bilgileri
                            .acc-body
                                include ../basket/delivery/index.pug
                        li(class='acc-item', id="item_2")
                            .acc-header
                                button(type='button') Adres Bilgileri
                            .acc-body
                                include ../basket/addresses/index.pug
                        li(class='acc-item', id="item_2")
                            .acc-header
                                button(type='button') Ödeme Bilgileri
                            .acc-body
                                include ../basket/payment/index.pug
            .basket-right
                include ../basket/summary/index.pug
    .vail.vail-summary