extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Bildirimlerim"
    - pageDesc = "Bildirimlerim"
    - pageClass = "notification"

block content
    .pmember
        .pmember-wrapper
            .pmember-left
                .pmember-left-title Hesabım
                include ../components/member/navigation/index.pug
            .pmember-right
                .pmember-right-content
                    include ../components/member/notifications/index.pug