extends ../blocks/layout-en.pug

block prepend head
    - pageTitle = "Prodigma | How to Design for 3D Printing"
    - pageDesc = "How to Design for 3D Printing"
    - pageClass = "blog-detail-single"

block content
    .pwebinar
        //-include ./blog-header-timer-banner/index.pug
        .pwebinar-body
            .pwebinar-body-wrapper 
                .pwebinar-body-wrapper-html
                    p 
                        strong|How to Design for 3D Printing?
                    +content-html("3D modeling or CAD allows to create realistic computer models of parts and assemblies. These models are then used for 3D printers.")
                    +content-html("After the design of the model on the computer is completed, its manufacturability in 3D printers should be checked. Otherwise, problems such as the printed 3D part being faulty or incompatible with each other during assembly may be encountered.")
                    p 
                        strong|Bridge Structures
                    +content-html("The bridge is a plastic thread suspended between two attachment points. Depending on the design, some parts require bridges.")
                    +content-html("When one wants to press a structure between two attachment points or supports, but nothing to build on, the extruded molten filament will sag. Reducing the distance of the bridge allows two supports or ports to be printed without the support, but the design constraints of the part may prevent this.")
                    +content-html("Support structures can act as a temporary build plate for bridged layers. After the part is pressed, the supports are removed.")
                    p 
                        strong|Holes
                    +content-html("The actual size of the holes of the 3D printed model may vary. For example, horizontal holes may not usually be perfectly round, depending on technology and machinery, while vertical holes are likely to be smaller than intended.")
                    +content-html("Choosing a teardrop shape, rather than designing a circular hole, provides a margin of error. This solution works especially well on functional parts where the appearance of the hole is not important. However, if it is not possible to change the design, a thin support membrane can be created to hold the top of the hole.")
                    p 
                        strong|Support Structures
                    +content-html("Since each layer is normally supported by the layer below it, if the model has an overhang of more than 45 degrees, supporting structures are needed to achieve successful printing.")
                    +content-html("Because the supports are sometimes difficult to remove and sometimes leave scars; Reducing the use of support as much as possible while designing the model will be beneficial for successful printing. Rotating the model in the working plane, adjusting variables such as the pattern and density of the support helps to reduce the use of the support.")
                    p 
                        strong|Embossing or Dipping
                    +content-html("The model is printed incorrectly when embossment, embossed text, or small details fall below certain tolerances.")
                    +content-html("The width and depth of embossed or inset text should not fall below a certain limit. Usually it should be around 1mm, but it is also recommended to design it larger to avoid potential problems.")
                    p 
                        strong|Printing Material
                    +content-html("While designing the model, the printing material to be used must also be taken into consideration. For this, attention should be paid to both the properties specified by the filament manufacturers and the properties learned by testing the material.")
                    +content-html("For example, when using materials that are prone to warping due to high temperature, such as ABS, it is beneficial to increase the size of the build plate so that the extruded plastic adheres well to the build plate.")
                    p 
                        strong|Large and Complex Designs
                    +content-html("A large design may not fit within the 3D printer's printing area, while a complex design may require difficult or impossible support structures.")
                    +content-html("It is a successful solution to print both the large model and the complex model to reach the final result by dividing the model into multiple parts, printing and pasting.")
                    p 
                        strong|Wall Thickness
                    +content-html("33D printers can produce thin walls up to a certain point. Beyond this point, it becomes impossible to print the wall because it is so thin.")
                    +content-html("The wall thickness should typically be two or three times the nozzle width. For example, for an extruder with a standard nozzle diameter of 0.4 mm, it is necessary to design a model with a wall thickness of at least 0.8 mm.")
                    p 
                        strong|Undrilled (Closed) Model
                    +content-html("Basically, the model to be printed should have an integrated structure, that is, without holes. Although it may seem digitally perfect, it should be ensured that the designed model is completely without holes and complete as it cannot be printed by a 3D printer.")
                    +content-html("A solution is to remodel, or to get help from an STL editing software.")
                //-include ../photo-banner/index.pug
                //-include ./double-banner/index.pug
                .pwebinar-body-double-banner
                    ul 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/tasariminizi-3d-uretime-hazir-hale-getirmek-gallery-1-mb.jpg"),lg:require("Upload/tasariminizi-3d-uretime-hazir-hale-getirmek-gallery-1.jpg")})(alt="Prodigma How to Design for 3D Printing") 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/tasariminizi-3d-uretime-hazir-hale-getirmek-gallery-2-mb.jpg"),lg:require("Upload/tasariminizi-3d-uretime-hazir-hale-getirmek-gallery-2.jpg")})(alt="Prodigma How to Design for 3D Printing") 
                //-include ./blog-other-contents/index.pug