extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Prodigma | Haberler ve Sizden Gelenler"
    - pageDesc = "Haberler ve Sizden Gelenler"
    - pageClass = "blog-detail-single"

block content
    .pwebinar
        //-include ./blog-header-timer-banner/index.pug
        .pwebinar-body
            .pwebinar-body-wrapper 
                .pwebinar-body-wrapper-html.p-5.bg-white.text-center
                    p 
                        strong|Haberler ve Sizden Gelenler
                    +content-html("Pek çok farklı teknoloji ve malzemeyi tek bir platform altında toplayan Prodigma’dan; yeni haberler, sizden gelen örnekler ve çok daha fazlası. Siz de çalışmalarınızı bizimle paylaşabilir ve bu topluluğun bir parçası olabilirsiniz.")
                //-photo-banner/index.pug
                //-.pwebinar-body-double-banner
                    ul 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/3d-baski-ve-yedek-parca-gallery-1-mb.jpg"),lg:require("Upload/3d-baski-ve-yedek-parca-gallery-1.jpg")})(alt="Prodigma Blog")
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/3d-baski-ve-yedek-parca-gallery-2-mb.jpg"),lg:require("Upload/3d-baski-ve-yedek-parca-gallery-2.jpg")})(alt="Prodigma Blog") 
                //-include ./blog-other-contents/index.pug