extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Prodigma | Hobi ve Endüstriyel 3D Yazıcılar Arasındaki Farklar"
    - pageDesc = "Hobi ve Endüstriyel 3D Yazıcılar Arasındaki Farklar"
    - pageClass = "blog-detail-single"
    - var activity = false
    - var activityStart = false

block content
    .pwebinar
        //-include ./blog-header-timer-banner/index.pug
        .pwebinar-body
            .pwebinar-body-wrapper 
                .pwebinar-body-wrapper-html
                    p 
                        strong|Hobi ve Endüstriyel 3D Yazıcılar Arasındaki Farklar
                    +content-html("Bu videomuzda hobi ve endüstriyel olarak ikiye ayrılan 3D yazıcıların, belirleyici özellikleri ile kullanım alanlarından bahsediyoruz.")
                    +content-html("Kullanıcıların, sürekli gelişen teknoloji sayesinde eklemeli imalat yöntemlerinden beklentilerinin artması sonucunda hızla gelişen yazıcı ve malzeme çeşitliliğini hep birlikte değerlendirelim. İyi seyirler!")
                //-photo-banner/index.pug
                .responsive-iframe-container.mt-5.lg.mt-10
                    iframe(class="responsive-iframe-container-iframe responsive-iframe-container-iframe-other" src="https://www.youtube.com/embed/kykA1-uZ-NU?rel=0&modestbranding=1&autohide=1&mute=1&showinfo=0&controls=1&autoplay=1&version=3&loop=1&playlist=kykA1-uZ-NU", frameborder="0", 
                    allowfullscreen)
                //-.pwebinar-body-double-banner
                    ul 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/3d-baski-ve-yedek-parca-gallery-1-mb.jpg"),lg:require("Upload/3d-baski-ve-yedek-parca-gallery-1.jpg")})(alt="Prodigma Blog")
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/3d-baski-ve-yedek-parca-gallery-2-mb.jpg"),lg:require("Upload/3d-baski-ve-yedek-parca-gallery-2.jpg")})(alt="Prodigma Blog") 
                //-include ./blog-other-contents/index.pug