extends ../blocks/layout-en.pug

block prepend head
    - pageTitle = "Prodigma | 10 Common Misconceptions about 3D Printing Technologies"
    - pageDesc = "10 Common Misconceptions about 3D Printing Technologies"
    - pageClass = "blog-detail-single"

block content
    .pwebinar
        //-include ./blog-header-timer-banner/index.pug
        .pwebinar-body
            .pwebinar-body-wrapper 
                .pwebinar-body-wrapper-html
                    p 
                        strong|1- 3D printing can only be used for prototyping.
                    +content-html("Although 3D printing technologies have started to take place in our lives with the advantages of rapid prototyping and easy revision, they are now much more than just prototype production. With the developing technology, different sizes of printers with different production methods have been produced and a new one is being added every day. Today, 3D printers and 3D printing technologies, which are becoming more and more widespread, are on their way to becoming a brand new way to meet these ever-increasing demands for the production sector. It also enables manufacturers to quickly launch new products into the market. Large-scale 3D printing enables companies to obtain a cost-effective, fast and flexible solution.")
                    p 
                        strong|2- There is no other printing method other than the FDM method which is using filaments.
                    +content-html("Contrary to what some might argue, it's important to understand that no technology is better than any other. Each technology has its advantages and disadvantages, and this applies to machines that produce parts from metal or polymer. Understanding these machine types is essential to knowing when to use one technology over another and how to best design for them.")
                    p 
                        strong|3- It is not possible to obtain small details with 3D printing.
                    +content-html("At this point, we need to determine our priority and sift through our options, namely different printing methods. For example, if printing details are important to us and strength is secondary, we can consider SLA and DLP printing as an option. Thanks to their success in details, they are among the frequently used methods in the mold industry.")
                    p 
                        strong|4- 3D printers are harmful to health.
                    +content-html("Researchers have found that printers using Acrylonitrile butadiene styrene (ABS) filaments are more dangerous to workers' health than polylactic acid (PLA) filaments. For example, metal stampings with a very fine metal powder can also pose a respiratory hazard. This dust can be emitted through the air and there is a risk of workers inhaling these metallic particles. However, as in every field, if appropriate procedures are applied and necessary precautions are taken, our health will not be adversely affected.")
                    p 
                        strong|5- After pressing the Print button, the machine takes care of it.
                    +content-html("Pre- and post-processing is required, especially in parts that require high precision. When preparing a structure, the operator must decide how best to orient the pieces and where and what type of support structures and anchors to use. In addition to all these, machine parameters should be adjusted in accordance with the printing in order to achieve the best result. An example of this is that three different operators usually achieve three different part qualities, even when using the same machine and material.")
                    p 
                        strong|6- Material variety is less compared to traditional production methods.
                    +content-html("Every day, new materials are produced to be used in additive manufacturing technologies. Countless organizations around the world are using 3D printing to manufacture parts currently in service in aircraft, satellites, automobiles and industrial machinery. For example; Materials such as copper, PEEK, Ultem, Onyx FR, Onyx ESD, and Kevlar from continuous fiber reinforcements. Products produced with this method can meet the requirements of products produced with traditional production methods and give better results.")
                    p 
                        strong|7- 3D printing systems are very expensive.
                    +content-html("At this point, it is important to determine the needs. It is wrong to have the perception that every 3D printing system is very expensive. From desktop printers to industrial printers, there are many different options, ranging in price from $200 to $1.5 million. If your needs are clear, you can narrow the list with printers that meet these needs. If you are just starting out with 3D printing, you can improve yourself with beginner-level printers and then switch to more advanced printers with printer and technology features.")
                    p 
                        strong|8- 3D printing is not something that everyone can do.
                    +content-html("I think we all agree that some knowledge and experience is required in order to use 3D printing technologies to produce. However, with the developing technology, there are many platforms and software that we can get support from. For example, model libraries where we can find ready-made designs and machine software where we can easily change print settings.")
                    p 
                        strong|9- Surface quality is always bad in 3D printing.
                    +content-html("There are many different factors that affect this. For example; such as production technology, material used, resolution settings, nozzle diameter. The important thing here is to determine the most effective configuration for you from these and many other options. The fact that you have many different intervention areas in printing gives you an advantage in this and similar situations.")
                    p 
                        strong|10- In the future, every home will have a 3D printer.
                    +content-html("Even the most basic level of 3D printing requires certain design skills and software tools. The future may bring simple and low-cost 3D printers for kids and hobbyists, but they will only be suitable for a limited number of materials and products. Yes, with 3D printers, we can customize many of our needs according to our wishes in a short time, but it will not be easy to obtain hybrid parts. Let's say you have the skill, talent, and software, but does your 3D printer offer the right material or size needed for the product? The idea of 3D printing at home is similar to the fact that many people own a sewing machine, but few people wear homemade clothing.")
                //-include ./double-banner/index.pug
                .pwebinar-body-double-banner
                    ul 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/baski-teknolojileri-bilinen-on-yanlis-gallery-1-mb.jpg"),lg:require("Upload/baski-teknolojileri-bilinen-on-yanlis-gallery-1.jpg")})(alt="Prodigma blog content") 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/baski-teknolojileri-bilinen-on-yanlis-gallery-2-mb.jpg"),lg:require("Upload/baski-teknolojileri-bilinen-on-yanlis-gallery-2.jpg")})(alt="Prodigma blog content") 
                //-include ./blog-other-contents/index.pug