extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Prodigma | Tasarımınızı 3D Üretime Hazır Hale Getirmek"
    - pageDesc = "Tasarımınızı 3D Üretime Hazır Hale Getirmek"
    - pageClass = "blog-detail-single"
    - var activity = false
    - var activityStart = false

block content
    .pwebinar
        //-include ./blog-header-timer-banner/index.pug
        .pwebinar-body
            .pwebinar-body-wrapper 
                .pwebinar-body-wrapper-html
                    p 
                        strong|3D Baskı için Tasarım Nasıl Olmalı?
                    +content-html("3D modelleme veya CAD, parça ve montajların gerçekçi bilgisayar modellerini oluşturmayı sağlar. Bu modeller daha sonra 3D yazıcılar için kullanılmaktadır.")
                    +content-html("Modelin bilgisayar üzerinde tasarımı tamamlandıktan sonra 3D yazıcılarda üretilebilirliği kontrol edilmelidir. Aksi takdirde yazdırılan 3D parçanın hatalı olması ve ya birbirleriyle montajları sırasında uyuşmaması gibi problemler ile karşılaşılabilir.")
                    p 
                        strong|Köprü Yapılar
                    +content-html("Köprü, iki bağlantı noktası arasında asılı plastik bir ipliktir. Tasarıma bağlı olarak, bazı parçalar köprülere ihtiyaç duymaktadır.")
                    +content-html("İki bağlantı noktası veya destek arasına bir yapı basmak istendiğinde, ancak üzerine inşa edilecek bir şey bulunamadığında, ekstrüde edilen erimiş filament sarkacaktır. Köprünün mesafesini azaltmak iki desteğin veya bağlantı noktasının desteğe gerek kalmadan yazdırılmasını sağlar ancak parçanın tasarım kısıtlamaları buna engel olabilir.")
                    +content-html("Destek yapıları, köprülü katmanlar için geçici baskı tablası görevi görebilir. Parça basıldıktan destekler çıkarılmaktadır.")
                    p 
                        strong|Delikler
                    +content-html("3D yazdırılan modelin deliklerinin gerçek ölçüsü arasında değişiklik olabilmektedir. Örneğin, yatay delikler teknoloji ve makinaya da bağlı olmak üzere genellikle mükemmel şekilde yuvarlak olamazken, dikey deliklerin ise amaçlanandan daha küçük olma ihtimali vardır.")
                    +content-html("Dairesel bir delik tasarlamak yerine, gözyaşı şekli seçmek bir hata payı sağlar. Bu çözüm özellikle deliğin görünümünün önemli olmadığı fonksiyonel parçalarda iyi çalışır. Ancak tasarımı değiştirmek mümkün değilse, deliğin üst kısmını tutmak için ince bir destek zarı oluşturulabilir.")
                    p 
                        strong|Destek Yapıları
                    +content-html("Her katman normalde altındaki katman tarafından desteklendiğinden, model 45 dereceden fazla bir çıkıntıya sahip ise, başarılı bir baskı elde etmek için destek yapılara ihtiyaç vardır.")
                    +content-html("Desteklerin çıkarılması bazen zor, bazen de izler bıraktığından; model tasarlanırken destek kullanımını mümkün olduğunca azaltmak başarılı bir baskı için faydalı olacaktır. Modeli çalışma düzleminde döndürmek, desteğin desenini ve yoğunluğu gibi değişkenleri ayarlamak destek kullanımını azaltmayı sağlar.")
                    p 
                        strong|Kabartma veya İçeri Batırma.
                    +content-html("Kabartma, kabarık metin veya küçük detaylar belirli toleransların altında kaldıklarında model hatalı basılmaktadır.")
                    +content-html("Kabartmalı veya içeri batırılmış metnin genişliği ve derinliği belirli bir limitin altına düşmemelidir. Genellikle 1mm civarında olmalı, ancak olası sorunları önlemek adına daha büyük tasarlanması da önerilmektedir.")
                    p 
                        strong|Baskı Malzemesi
                    +content-html("Modeli tasarlarken, kullanılacak baskı malzemesi de mutlaka göz önünde bulundurulmalıdır. Bunun için hem filament üreticilerin belirttiği özelliklere, hem de malzemeyi test ederek öğrenilen özelliklere dikkat edilmelidir.")
                    +content-html("Örneğin, ABS gibi yüksek sıcaklık nedeniyle bükülmeye eğilimli malzemeler kullanırken, ekstrüde edilen plastiğin baskı tablasına iyi yapışması için baskı tabanının boyutunu arttırmak faydalı olacaktır.")
                    p 
                        strong|Büyük ve Karmaşık Tasarımlar
                    +content-html("Büyük bir tasarım 3D yazıcının baskı alanına sığmayabilir, karmaşık bir tasarım ise zor veya imkansız destek yapıları gerektirebilir.")
                    +content-html("Modeli birden fazla parçaya bölüp, bastıktan sonra yapıştırarak nihai sonuca ulaşmak hem büyük modeli hem de karmaşık modeli basmak işin başarılı bir çözümdür.")
                    p 
                        strong|Duvar Kalınlığı
                    +content-html("3D yazıcılar belirli bir noktaya kadar ince duvar üretebilirler. Bu noktanın ötesinde, çok ince olduğundan duvarı basmak imkansız hale gelir.")
                    +content-html("Duvar kalınlığı tipik olarak nozül genişliğinin iki veya üç katı olmalıdır. Örneğin, standart 0.4 mm nozül çapına sahip bir ekstrüder için en az 0.8 mm duvar kalınlığına sahip bir model tasarlamak gerekir.")
                    p 
                        strong|Deliksiz (Kapalı) Model
                    +content-html("Temel olarak, basılacak model kapalı yani deliksiz, bütünleşik bir yapıya sahip olmalıdır. Dijital olarak kusursuz gibi görünse de, 3D yazıcı tarafından yazdırılamayacağından tasarlanan modelin bir bütün halinde deliksiz ve eksiksiz olduğundan emin olunmalıdır.")
                    +content-html("Çözüm olarak yeniden modellemek, ya da bir STL düzenleme yazılımından yardım almak gerekmektedir.")
                //-include ../photo-banner/index.pug
                //-.pwebinar-body-wrapper-html
                    +content-html("After more than a dozen trades at the deadline, there are still many moves to be made, with lingering free agents, buyouts and executive contracts in the balance. All the trades have been made. This season’s roster shuffling, barring a free-agent signing or three coming soon, is complete. It’s time, then, to take a tour around the league for some post-trade deadline fallout, rumbles, analysis and storytelling; don’t be surprised that the Los Angeles")
                    +content-html("Like Lowry, Ujiri has been regarded by fans and the organization as Raptors royalty since the team’s championship run in 2018-19. It is widely presumed in league circles that only an overwhelming offer in a highly desirable market could lure him away from the influence and affection he has amassed in Toronto. Yet these many months without a deal and Webster’s rising profile as a natural successor have raised the question: How much longer will Ujiri be running the Raptors? ")
                    +content-html("After more than a dozen trades at the deadline, there are still many moves to be made, with lingering free agents, buyouts and executive contracts in the balance. All the trades have been made. This season’s roster shuffling, barring a free-agent signing or three coming soon, is complete. It’s time, then, to take a tour around the league for some post-trade deadline fallout, rumbles, analysis and storytelling; don’t be surprised that the Los Angeles")
                    +content-html("Like Lowry, Ujiri has been regarded by fans and the organization as Raptors royalty since the team’s championship run in 2018-19. It is widely presumed in league circles that only an overwhelming offer in a highly desirable market could lure him away from the influence and affection he has amassed in Toronto. Yet these many months without a deal and Webster’s rising profile as a natural successor have raised the question: How much longer will Ujiri be running the Raptors? ")
                //-include ./double-banner/index.pug
                .pwebinar-body-double-banner
                    ul 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/tasariminizi-3d-uretime-hazir-hale-getirmek-gallery-1-mb.jpg"),lg:require("Upload/tasariminizi-3d-uretime-hazir-hale-getirmek-gallery-1.jpg")})(alt="Prodigma Blog") 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/tasariminizi-3d-uretime-hazir-hale-getirmek-gallery-2-mb.jpg"),lg:require("Upload/tasariminizi-3d-uretime-hazir-hale-getirmek-gallery-2.jpg")})(alt="Prodigma Blog") 
                //-include ./blog-other-contents/index.pug