extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Prodigma | Dünyanın En Büyük Metal 3D Yazıcısı"
    - pageDesc = "Dünyanın En Büyük Metal 3D Yazıcısı"
    - pageClass = "blog-detail-single"
    - var activity = false
    - var activityStart = false

block content
    .pwebinar
        //-include ./blog-header-timer-banner/index.pug
        .pwebinar-body
            .pwebinar-body-wrapper 
                .pwebinar-body-wrapper-html
                    p 
                        strong|3D Baskı için Tasarım Nasıl Olmalı?
                    +content-html("Otomasyon ve havacılık için gelecek 3D baskıda!")
                    +content-html("Havacılık üretimi yaklaşık 60 yıldır; çok uzun sürede üretilebilen ve 100.000’den fazla parçadan oluşan maliyetli roketler inşa etmek için büyük fabrikalara, sabit araçlara, karmaşık tedarik zincirlerine ve el emeğine ihtiyaç duydu.")
                    p 
                        strong|Köprü Yapılar
                    +content-html("Relativity, sektördeki inovasyonu hızlandırmak için akıllı robotik, yazılım ve veri odaklı 3D baskı teknolojisini birbiri ile entegre ederek roket üretimini otomatikleştiren ilk havacılık platformu olan Geleceğin Fabrikası'nı kurdu. Long Beach merkezli uzay firması, birden fazla kabloyu tek bir baskı kafasına beslediği için dikey yerine yatay hareket ederek geleneksel 3D baskı yöntemlerine meydan okuyan Stargate 4. Nesil yazıcısını tanıttı. Şirket uzun süredir dünyanın en büyük 3D yazıcılarına ev sahipliği yaptığı için Relativity bu son nesil ile kendi rekorunu kırdı.")
                    +content-html("Ham maddeyi bitmiş ürüne dönüştürmek için tek bir işlem kullanarak, karmaşık bileşenleri basmak için eklemeli üretimden yararlanarak işgücü sorununa çözüm buldular. Bu yaklaşım, parça sayısını önemli ölçüde azalttı. Bu da süreci çok daha çevik ve özgür bir şekilde yönetmelerine olanak sağladı. Geleneksel üretime kıyasla daha az maliyet ile önemli tasarım değişiklikleri yapma imkanı buldular. Geleneksel havacılık imalatında, bir tasarım değişikliği neredeyse bir yıllık yeniden teçhizat ve ayarlamalar gerektirebilir.")
                    +content-html("Roketlerini tamamen 3D olarak basan Relativity Space, geleneksel roket yapımından 100 kat daha hızlı roketler üretiyor. Metal 3D baskı ile gündeme gelen Relativity, yeni yazıcının uzun vadede 1 trilyon doları aşan havacılık, uzay, enerji ve savunma sektörlerindeki diğer ürünler için değer yaratma potansiyeli sunduğunu belirtti.")
                //-include ../photo-banner/index.pug
                .pwebinar-body-double-banner
                    ul 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/dunyanin-en-buyuk-metal-3d-yazicisi-gallery-1-mb.jpg"),lg:require("Upload/dunyanin-en-buyuk-metal-3d-yazicisi-gallery-1.jpg")})(alt="Prodigma Blog")
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/dunyanin-en-buyuk-metal-3d-yazicisi-gallery-2-mb.jpg"),lg:require("Upload/dunyanin-en-buyuk-metal-3d-yazicisi-gallery-2.jpg")})(alt="Prodigma Blog") 
                //-include ./blog-other-contents/index.pug