extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Page title"
    - pageDesc = "Blog detay açıklama metni"
    - pageClass = "blog-detail-activity"
    - var activity = true
    - var activityStart = false

block content
    .pwebinar
        include ../widgets/blog/blog-header-timer-banner/index.pug
        .pwebinar-body
            .pwebinar-body-wrapper 
                include ../widgets/blog/blog-body/index.pug
                include ../widgets/photo-banner/index.pug
                include ../widgets/blog/blog-other-contents/index.pug
                if activity
                    include ../widgets/blog/activity-form/index.pug
                if activity
                    .pwebinar-body-map
                        .pwebinar-body-map-title
                            |Etkinlik Yeri
                        include ../widgets/contact-banner/index.pug