extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Prodigma | Smooth TPU 95A"
    - pageDesc = "Smooth TPU 95A"
    - pageClass = "blog-detail-single"

block content
    .pwebinar
        //-include ./blog-header-timer-banner/index.pug
        .pwebinar-body
            .pwebinar-body-wrapper 
                .pwebinar-body-wrapper-html
                    p 
                        strong|Smooth TPU 95A
                    +content-html("Smooth TPU 95A, ürün geliştiricilere ve üreticilere talep üzerine esnek, darbe emici parçalar oluşturma yeteneği sunan kauçuk benzeri bir malzemedir. Üreticiler, uzun zamandır düşük hacimlerde esnek parçalar üretmek için mücadele etmektedirler. Bu malzemelerde özel geometriler yapmak için kullanılan geleneksel yöntemler genellikle tek seferlik aletler gerektirir, bu da yüksek başlangıç maliyetleri ve uzun teslim süreleri anlamına gelir. Çok az sayıda 3D baskı sistemi, üretim için gereken tutarlılık ve mekanik özelliklere sahip parçalar üretebilir.")
                    +content-html("Smooth TPU 95A üreticilere talep üzerine, yüksek kaliteli ve esnek parçalar üretme yeteneği sunuyor. Üreticiler artık prototip ürünlerinden son ürün parçalarına kadar ihtiyaçlarını kolaylıkla elde edebiliyor.")
                    br
                    ol(class="pl-5 list-disc")
                        li Düşük hacimli esnek parçalar
                        li Çarpıcı geometrik doğruluk ve yüzey kalitesi
                        li Fonksiyonel esnek parçalarda düşük maliyet
                    +content-html(">%500 kopma uzaması ve 95 ShoreA sertliği ile Smooth TPU şunlar için uygundur:")
                    +content-html("Hacim gerekmediğinde yüksek değerli, esnek, darbeye dayanıklı son kullanım parçaları üretmek için geleneksel üretimi değiştirmek")
                    +content-html("Eski parçalar artık mevcut olmadığında üretim hatlarını çalışır durumda tutmak.")
                    +content-html("Üretimi büyütme taahhüdünde bulunmadan önce tasarım doğrulaması için prototip oluşturmak")
                    +content-html("Kullanım alanları: Contalar, amortisörler, kayışlar, bantlar, tekerlekler ve koruyucu kaplamalar.")
                .pwebinar-body-double-banner
                    ul 
                        li 
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/smooth-tpu-95a-gallery-1-mb.jpg"),lg:require("Upload/smooth-tpu-95a-gallery-1.jpg")})(alt="Prodigma Blog") 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/smooth-tpu-95a-gallery-2-mb.jpg"),lg:require("Upload/smooth-tpu-95a-gallery-2.jpg")})(alt="Prodigma Blog")