extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Prodigma | 3D Baskı ve Yedek Parça"
    - pageDesc = "3D Baskı ve Yedek Parça"
    - pageClass = "blog-detail-single"
    - var activity = false
    - var activityStart = false

block content
    .pwebinar
        //-include ./blog-header-timer-banner/index.pug
        .pwebinar-body
            .pwebinar-body-wrapper 
                .pwebinar-body-wrapper-html
                    p 
                        strong|3D Baskı ve Yedek Parça
                    +content-html("Günümüzde yedek parça maliyetleri, genellikle endüstrideki tüm işletme bakım maliyetlerinin %60'ından daha fazladır. Profesyonel 3D yazıcıların birçok sektörde kullanımı şimdiden bir standart haline geldi. Yedek parça ihtiyacının karşılanması da bu kullanımlara örnek olarak verilebilir. Arıza sürelerini ve yedek parçaya önceden yapılan yatırımı minimuma indirme avantajları ile gündeme gelen 3D baskı; şirketlerin operasyon bakımı, aşırı yüklenmiş depolar ve bitmiş ürünlerin son müşterilere teslimatındaki gecikmelerle ilgili sorunları çözmelerine yardımcı olur. Depo alanı tutma ve envanter kontrolleri yapma gibi süreçlerde zaman tasarrufu sağlanabilir.")
                    +content-html("Ayrıca prototip yapmak için bir üretim hattı kullanma zorunluluğu da sorun olabilir. Bu gibi durumlarda günlük üretim durdurulur ve hat, yeni bir ürünün ilk, test versiyonunu oluşturmak amacıyla işgal edilir. Ve bu tür kesintiler genellikle uzun sürmese de, tüm süreci ve müşteriye teslim tarihini etkiler.")
                    +content-html("Bir kilit elemanın arızalanması nedeniyle bir üretim hattı kesintisi meydana gelebilir. Bu tür bir durum, şirketleri, yenisini beklerken, hatta birkaç hafta sürebilen, zamanla büyüyebilen mali kayıplara maruz bırakır. Ayrıca, değiştirilecek elemanlar için orijinal parçalar çok yüksek maliyetli olabilir. 3D çıktılar, bitmiş ürünlerde kullanılan birçok parçanın yerini almada iyi performans gösterdiği gibi, üretim süresini hızlandırır ve tüm sürecin maliyetlerini önemli ölçüde düşürür.")
                    p 
                        strong|3D Baskılı Yedek Parçaların 4 Avantajı
                    br
                    p 
                        strong|1. Maliyet Azaltma
                    +content-html("Yedek parçaların 3D baskısı, yedek parça üretim maliyetlerini önemli ölçüde azaltır. Sadece üretim ve nakliye maliyetleri değil, aynı zamanda yedek parça depolama maliyetleri de azaltılabilir.")
                    p 
                        strong|2. Daha Kısa Teslim Süresi
                    +content-html("3D baskı yedek parçalar ile üretimi kendi bünyenizde gerçekleştirebilir ve dış etkenlere bağlı kalmadan (nakliye, termin süresi vs.) süreci yönetebilirsiniz.")
                    p 
                        strong|3. Doğruluk
                    +content-html("3D baskı yedek parçalar, gelişen teknoloji ile birlikte size en yüksek hassasiyette, özel tasarım ve istediğiniz malzemeden parçalar elde etme imkanı sağlar.")
                    p 
                        strong|4. Kolay Saklama
                    +content-html("CAD tasarımı herhangi bir formatta saklanabilir ve ihtiyaç duyulduğunda baskı işlemi tekrarlanabilir.")
                //-include ../photo-banner/index.pug
                .pwebinar-body-double-banner
                    ul 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/3d-baski-ve-yedek-parca-gallery-1-mb.jpg"),lg:require("Upload/3d-baski-ve-yedek-parca-gallery-1.jpg")})(alt="Prodigma Blog")
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/3d-baski-ve-yedek-parca-gallery-2-mb.jpg"),lg:require("Upload/3d-baski-ve-yedek-parca-gallery-2.jpg")})(alt="Prodigma Blog") 
                //-include ./blog-other-contents/index.pug