extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Prodigma | 3D Baskı ile Çevre Dostu Olmanın Yolları"
    - pageDesc = "3D Baskı ile Çevre Dostu Olmanın Yolları"
    - pageClass = "blog-detail-single"
    - var activity = false
    - var activityStart = false

block content
    .pwebinar
        //-include ./blog-header-timer-banner/index.pug
        .pwebinar-body
            .pwebinar-body-wrapper 
                .pwebinar-body-wrapper-html
                    p 
                        strong|3D Baskı ile Çevre Dostu Olmanın Yolları
                    +content-html("Sürdürülebilirlik söz konusu olduğunda 3D baskının sahip olduğu avantaj; model, prototip, alet, kalıp veya nihai ürün her türlü parçanın çıkarmak yerine malzeme ekleyerek yapılmasıdır.")
                    +content-html("Örneğin, bir motor parçası prototipi, bir metal bloğundan işlemeye göre 3D baskı için çok daha az malzeme gerektirir. İşlevsel bir kapı menteşesinin plastik bir prototipi, üç ayrı kalıptan enjeksiyonla kalıplama ve ardından monte edilmesi yerine tek parça olarak 3D olarak da basılabilir.")
                    +content-html("Bir Avrupa Komisyonu çalışmasına göre; 2050 yılına kadar, katmanlı üretim (AM) için gerekli hammaddede %90’a varan oranda tasarruf sağlayabilir. ABD Enerji Bakanlığı, geleneksel üretime kıyasla katmanlı üretimin atık ve malzeme maliyetlerini yaklaşık %90 oranında azaltabileceğini ve üretim enerji kullanımını yarıya indirebileceğini tahmin ediyor. Bu, 3D baskının ekonomik ve çevresel avantajlarını düşünen herhangi bir şirket için cesaret verici bir haber niteliği taşıyabilir.")
                    +content-html("Tüm şirketlerin, hükümetlerden ticaret gruplarına ve tüketicilere kadar herkesin kabul ettiği gibi daha sürdürülebilir ve çevre dostu hale gelebilmesi için atık, kirlilik ve enerji ve hammaddelerin aşırı tüketimi sorunlarını çözmek için daha fazla çaba gerekiyor. Küçük şirketlerin bile geri dönüşümde, sürdürülebilirliği göz önünde bulundurarak satın alma kararları vermede, tedarik zincirlerini kısaltmada ve enerji kullanımını azaltma gibi daha çevreci ofis uygulamalarına geçmede oynayacakları bir rol vardır.")
                    +content-html("Yapılan her şeyin geri dönüştürülebildiği, istek uyandıran döngüsel ekonomide, 3D baskı yapan her şirket geri dönüştürülmüş malzemeyi hammadde olarak kullanabilir ve ardından basılı parçanın modası geçtikten sonra bu malzemeyi daha fazla geri dönüştürebilir veya yeniden kullanabilir. Henüz bu hedefe ulaşmamış olsak da, günümüzde 3D baskı şirketlerin hammaddeden tasarruf etmesine, daha az atık üretmesine ve diğer önemli çevre dostu avantajlara sahip olmasını sağlıyor.")
                    p 
                        strong|3D baskı ile çevre dostu yaklaşım için alternatif yollardan bazıları;
                    br
                    p 
                        |1. Daha az malzeme için verimli tasarımlar.
                    p 
                        |2. Daha az hammadde kullanımı.
                    p 
                        |3. Onarılabilir tasarımlar ve yedek parça kullanımı.
                    p 
                        |4. Yerel parça üretimi ile dışa bağımlılığın azalması.
                    p 
                        |5. Fiziksel envanter ihtiyacının ortadan kalkması.
                    p 
                        |6. Daha az işçilik ve ekipman ile üretimin kolaylaşması.
                    p 
                        |7. Daha küçük ve daha sessiz üretim alanları.
                //-include ../photo-banner/index.pug
                .pwebinar-body-double-banner
                    ul 
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/3d-baski-ile-cevre-dostu-olmanin-yollari-gallery-1-mb.jpg"),lg:require("Upload/3d-baski-ile-cevre-dostu-olmanin-yollari-gallery-1.jpg")})(alt="Prodigma 3D Baskı ile Çevre Dostu Olmanın Yolları")
                        li
                            a(href="javascript:void(0);") 
                                +picture({sm:require("Upload/3d-baski-ile-cevre-dostu-olmanin-yollari-gallery-2-mb.jpg"),lg:require("Upload/3d-baski-ile-cevre-dostu-olmanin-yollari-gallery-2.jpg")})(alt="Prodigma 3D Baskı ile Çevre Dostu Olmanın Yolları") 
                //-include ./blog-other-contents/index.pug