extends ../blocks/layout-en.pug

block prepend head
    - pageTitle = "Prodigma Career"
    - pageDesc = "Career"
    - pageClass = "career"

block content
    .pcareer
        +hero-banner('Career', {sm:require("Upload/kariyer-hero-banner-mb.jpg"), lg:require("Upload/kariyer-hero-banner.jpg")})
        .pcareer-body
            .pcareer-body-wrapper
                include ../widgets/career-banner/index-en.pug