extends ../blocks/layout-en.pug

block prepend head
    - pageTitle = "Prodigma Career"
    - pageDesc = "Career"
    - pageClass = "career"

block content
    .pcareer
        +hero-banner('Career', {sm:require("Upload/kariyer-hero-banner-mb.jpg"), lg:require("Upload/kariyer-hero-banner.jpg")})
        .pcareer-body
            .pcareer-body-wrapper
                .pcareer-body-title
                    p|Would you like to join the Prodigma Team?
                    span 3D printing technology, on the other hand, produces much more environmentally friendly results as it produces only the desired product by producing from scratch. When it comes to multi-material 3D printing, such as 3D printing electronics, electrical and mechanical functionality can be combined while reducing the number of parts, creating a more fluid, efficient and sustainable production process.
                include ../widgets/career-banner/index-en.pug