extends ../blocks/layout-en.pug

block prepend head
    - pageTitle = "Prodigma | Clarification Text"
    - pageDesc = "Clarification Text"
    - pageClass = "operation-guide"

block content
    .pmember.pmember-flatpages
        .pmember-wrapper
            .pmember-left
                .pmember-left-title Legal Informations
                include ../flatpages/menu-information/index-en.pug
            .pmember-right.pmember-flatpages-bg
                .pmember-right-content
                    .pmember-right-content-title.mb-2
                        |CLARIFICATION TEXT
                    p  
                        |Hereby, this Clarification Text has been prepared for fulfilling the obligation of disclosure regarding the processing and transfer of personal data obtained from visitors and suppliers by 
                        strong|Prodigma Technology Joint Stock Company (“Company”) 
                        |within the framework of activities arising from The Law No. 6698 on the Protection of Personal Data (“Law”) and the relevant legislation and legal regulations.
                    p 
                        strong|Data Controller
                    p 
                        |Your personal data; As the data controller,  
                        strong|Prodigma Technology Joint Stock Company (“Company”)  
                        |(https://www.prodigma.co İkitelli OSB Mah. Mutfakçılar M12 Blok Sk. Mutfakçılar San. Sit. M12 Blok No:50 Başakşehir/İSTANBUL) 
                        a(href="mailto:info@prodigma.co")|info@prodigma.co 
                        |will be collected and processed within the scope described below.
                    p 
                        strong|Purpose of Processing Personal Data
                    p
                        |Personal data is processed as specified in Article 4 of the Protection of Personal Data Law; Pursuant to the principles of being in compliance with the law and honesty, being accurate and up-to-date when necessary, being processed for specific, clear and legitimate purposes, being linked to the purpose for which they are processed, being limited and proportional, and being preserved for the period required by the relevant legislation or for the purpose for which they are processed, the following purposes is processed for.
                    br
                    ul(style="list-style:disc; padding-left:20px")
                        li|Carrying out product sales processes
                        li|Monitoring and execution of legal affairs
                        li|Carrying out activities for customer satisfaction
                        li|Execution of Goods / Services Sales Processes
                        li|Providing information to authorized person, institutions and organizations when necessary
                        li|Execution of financial and accounting affairs
                        li|Carrying out marketing and analysis studies
                        li|Execution of contract processes between the company and related persons
                        li|Follow-up of requests and complaints of related persons
                        li|Müşteri ilişkilerinin yönetilmesi
                        li|Pazarlama ve analiz çalışmalarının yürütülmesi
                        li|Ensuring the Security of Data Controller Operations
                        li|Carrying out Management Activities
                    br
                    p 
                        strong|Transfer of Personal Data
                    p|Personal data processed for the purposes listed above may be transferred to the following 3rd parties, again limited to the same purposes:
                    br
                    ul(style="list-style:disc; padding-left:20px")
                        li|Authorized Public Institutions and Organizations
                        li|Attorney's Office Consulted
                        li|Independent Accountant and Financial Advisor
                    br
                    p 
                        strong|Collection Method and Legal Reason of Personal Data
                    p 
                        |Personal data is collected from the visitors via the https://prodigma.co website, using the complaint and suggestion forms, log records, closed circuit camera recording systems and the contact form methods available on the https://prodigma.co website, from the suppliers to the service and sales contract are obtained by using the methods of purchase and sale invoices, bills of exchange and closed circuit camera recording systems.
                    p 
                        |Personal data, provided that it is clearly stipulated in the law, is directly related to the establishment or performance of the contract, it is necessary to process the personal data of the parties to the contract, it is compulsory for the data controller to fulfill its legal obligation, the data processing is mandatory for the establishment, exercise or protection of a right, depending on legal reason is processed.
                    p 
                        strong|Rights of Personal Data Owner
                    p 
                        |In accordance with Article 11 of the Law, everyone can apply to the data controller and has the rigths of;
                    br
                    ul(style="list-style:disc; padding-left:20px")
                        li|Learning whether personal data is processed or not,
                        li|Requesting information on personal data if processed,
                        li|Learning the purpose of processing personal data and whether they are used in accordance with the purpose,
                        li|Knowing the third parties to whom personal data is transferred at home or abroad,
                        li|Requesting correction of personal data in case of incomplete or incorrect processing,
                        li|Requesting the deletion or destruction of personal data in the event that the reasons requiring processing disappear, although it has been processed in accordance with the provisions of the law and other relevant laws,
                        li|In case of requesting the deletion or destruction of personal data with missing or incorrect data files, requesting the notification of the third parties to whom this personal data has been transferred,
                        li|Objecting to the emergence of a result against the person herself by analyzing the processed data exclusively through automated systems,
                        li|Requesting the compensation of the damage in case of loss due to unlawful processing of personal data.
                    br
                    p
                        |In order to exercise your rights listed above, fill out the Data Owner Application Form, which you can obtain from the https://prodigma.co website, by hand, with a wet signature, by mail or through a notary public, to İkitelli OSB Mah. Mutfakçılar M12 Blok Sk. Mutfakçılar San. Sit. M12 Blok No:50 Başakşehir/İSTANBUL address.
                    p
                        |Applications made as stated above will be answered free of charge as soon as possible and within 30 (thirty) days at the latest. However, if the transaction subject to your request incurs an additional cost, the fee in the tariff determined by the Personal Data Protection Board will be charged by the Company.