extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Endüstriyel Tasarım"
    - pageDesc = "Siz tasarlayın, Prodigma CNC işlesin"
    - pageClass = "cnc-process"

block content
    .create-project
        include ../widgets/create-project/models/cnc/index.pug

block foot
    block append footer