extends ../blocks/layout-en.pug

block prepend head
    - pageTitle = "Prodigma | Cookie Policy"
    - pageDesc = "Cookie Policy"
    - pageClass = "operation-guide"

block content
    .pmember.pmember-flatpages
        .pmember-wrapper
            .pmember-left
                .pmember-left-title Legal Informations
                include ../flatpages/menu-information/index-en.pug
            .pmember-right.pmember-flatpages-bg
                .pmember-right-content
                    .pmember-right-content-title
                        |COOKIE POLICY
                    p
                        |Hereby, this Cookie Policy applies to all websites and mobile platforms operated by 
                        strong|Prodigma Technology Joint Stock Company ("Company"), 
                        |platforms accessed and used through third party programs or websites.
                    p 
                        strong|Purpose of Use of Cookies
                    +content-html("Cookies are used by websites on computers, smartphones, tablets, etc. are the identification files left to the communication tools. It allows the accessed devices to be recognized in order to provide an enhanced user experience when websites are visited again.")
                    +content-html("Cookies help the relevant website to remember information about your visit to any website. It can provide convenience on your next visit and make the site more useful.")
                    +content-html("The use of cookies left on the company's https://prodigma.co address is carried out in accordance with the Law on the Protection of Personal Data No. 6698 and the legislation we are obliged to comply with.")
                    p 
                        strong|Use of Cookies
                    +content-html("When you visit the https://prodigma.co/ website, you accept that the cookies necessary for the use of the company's website are placed on your device.")
                    +content-html("If you do not want the company to use cookies for your device, you can refuse the use of cookies in the cookie settings section of your browser. If you refuse the use of cookies, you may not be able to use some parts of the https://prodigma.co/ website properly.")
                    +content-html("When deemed necessary, the company may refuse to use the cookies it uses, change their types or functions, or add new cookies to the website. In cases where the Cookie Policy is changed, the changed policy will be effective from the date of change.")
                    p 
                        strong|Types of Cookies Used and Purposes of Use
                    p
                        strong|Session Cookies: 
                        |It refers to temporary cookies that are kept on your devices until you leave the website.
                    p
                        strong|Persistent Cookies:
                        |These are the types of cookies that stay on the hard disk of your device for a long time.
                    p
                        strong|Mandatory Cookies:
                        |It ensures that the website can function properly and that users can browse the site and benefit from its features. Mandatory cookies are anonymous.
                    p
                        strong|Functional and Analytical Cookies:
                        |It includes data about remembering your preferences, using the website effectively, optimizing the site to respond to user requests, and how visitors use the site. Due to their nature, these types of cookies do not contain usernames, etc. may contain your personal information.
                    p 
                        |The retention period of session, permanent, functional and analytical cookies described above is approximately six months, but necessary adjustments can be made for this period in the settings of the internet browser from which our site is accessed.
                    p 
                        |The information obtained from the cookies used by the above-mentioned Company may be processed in line with your consent when necessary, and otherwise without your consent, within the scope of the specified in Articles 5 and 8 of the La
                    p
                        |As the Company, we indicate that we may share your personal data within the scope of the Cookie Policy with third parties and business partners who are in contact with the Company in accordance with the legislation, limited to the above-mentioned purposes, and that the parties to which your data is transferred may store your personal data on their own servers.
                    p 
                        strong|Ways to Control Cookie Usage
                    p|You have the opportunity to customize your preferences regarding cookies by changing the settings of your browser.
                    p 
                        strong|Your Rights Under Law Regarding Cookies Obtained by You
                    p|In accordance with Article 11 of the Law, everyone can apply to the data controller and has the rigths of;
                    br
                    ul(style="list-style:disc; padding-left:20px")
                        li|Learning whether personal data is processed or not,
                        li|Requesting information on personal data if processed,
                        li|Learning the purpose of processing personal data and whether they are used in accordance with the purpose,
                        li|Knowing the third parties to whom personal data is transferred at home or abroad,
                        li|Requesting correction of personal data in case of incomplete or incorrect processing,
                        li|Requesting the deletion or destruction of personal data in the event that the reasons requiring processing disappear, although it has been processed in accordance with the provisions of the law and other relevant laws,
                        li|In case of requesting the deletion or destruction of personal data with missing or incorrect data files, requesting the notification of the third parties to whom this personal data has been transferred,
                        li|Objecting to the emergence of a result against the person herself by analyzing the processed data exclusively through automated systems,
                        li|Requesting the compensation of the damage in case of loss due to unlawful processing of personal data.
                    br
                    p
                        |In order to exercise your rights listed above, fill out the 
                        strong|Data Owner Application Form 
                        |, which you can obtain from the https://prodigma.co website, by hand, with a wet signature, by mail or through a notary public, to İkitelli OSB Mah. Mutfakçılar M12 Blok Sk. Mutfakçılar San. Sit. M12 Blok No:50 Başakşehir/İSTANBUL address.
                    p
                        |Applications made as stated above will be answered free of charge as soon as possible and within 30 (thirty) days at the latest. However, if the transaction subject to your request incurs an additional cost, the fee in the tariff determined by the Personal Data Protection Board will be charged by the Company.