extends ../blocks/layout-en.pug

block prepend head
    - pageTitle = "Prodigma | Customer Clarification Text"
    - pageDesc = "Customer Clarification Text"
    - pageClass = "operation-guide"

block content
    .pmember.pmember-flatpages
        .pmember-wrapper
            .pmember-left
                .pmember-left-title Legal Informations
                include ../flatpages/menu-information/index-en.pug
            .pmember-right.pmember-flatpages-bg
                .pmember-right-content
                    .pmember-right-content-title.mb-2
                        |Customer Clarification Text
                    p  
                        |Hereby, this Clarification Text has been prepared for fulfilling the obligation of disclosure regarding the processing and transfer of personal data obtained from customer by 
                        strong|Prodigma Technology Joint Stock Company (“Company”) 
                        |within the framework of activities arising from The Law No. 6698 on the Protection of Personal Data (“Law”) and the relevant legislation and legal regulations.
                    p 
                        strong|Data Controller
                    p 
                        |Your personal data; As the data controller, 
                        strong|Prodigma Technology Joint Stock Company (“Company”) 
                        |(https://www.prodigma.co İkitelli OSB Mah. Mutfakçılar M12 Blok Sk. Mutfakçılar San. Sit. M12 Blok No:50 Başakşehir/İSTANBUL) 
                        a(href="mailto:info@prodigma.co")|info@prodigma.co 
                        |will be collected and processed within the scope described below.
                    p 
                        strong|Purpose of Processing Personal Data
                    p
                        |Personal data is processed as specified in Article 4 of the Protection of Personal Data Law; Pursuant to the principles of being in compliance with the law and honesty, being accurate and up-to-date when necessary, being processed for specific, clear and legitimate purposes, being linked to the purpose for which they are processed, being limited and proportional, and being preserved for the period required by the relevant legislation or for the purpose for which they are processed, the following purposes is processed for.
                    br
                    ul(style="list-style:disc; padding-left:20px")
                        li|Carrying out product sales processes
                        li|Providing after-sales support services
                        li|Monitoring and execution of legal affairs
                        li|Carrying out activities for customer satisfaction
                        li|Execution of Goods / Services Purchasing Processes
                        li|Execution of Goods / Services After-Sales Support Service
                        li|Execution of Goods / Services Sales Processes
                        li|Providing information to authorized person, institutions and organizations when necessary
                        li|Execution of financial and accounting affairs
                        li|Managing customer relations
                        li|Carrying out marketing and analysis studies
                        li|Execution of contract processes between the company and related persons
                        li|Follow-up of requests and complaints of related persons
                        li|Ensuring the Security of Data Controller Operations
                        li|Carrying out Management Activities
                    br
                    p 
                        strong|Transfer of Personal Data
                    p|Personal data processed for the purposes listed above may be transferred to the following 3rd parties, again limited to the same purposes:
                    br
                    ul(style="list-style:disc; padding-left:20px")
                        li|Authorized Public Institutions and Organizations
                        li|Suppliers
                        li|Business Partners
                        li|Attorney's Office Consulted
                        li|Independent Accountant and Financial Advisor
                    br
                    p 
                        |Since the order and software infrastructure of the https://prodigma.co website of the data controller, for which an order is created by the customers, is supported by a London-based business partner, the personal data of the customers and prospective customers are automatically transferred to the aforementioned company. All kinds of data transferred to a resident business partner abroad are processed in accordance with ISO 27001 and ISO 9001 standards and are under the protection of a comprehensive Data Privacy protocol. The Company bears all responsibility for any breach of data by third parties to whom data is transferred, and the data controller processes and protects all personal data of the data owner in accordance with detailed data protection and privacy policies.
                    p 
                        strong|Collection Method and Legal Reason of Personal Data
                    p 
                        |Personal data is collected via the approved distance sales contract, website membership agreement, purchase invoice, sales invoice, complaint and suggestion forms, log records and log records during the online order process on the https://prodigma.co website of the customers and contact form on the https://prodigma.co website.
                    p 
                        |Identity, Contact and Finance information, which have the characteristics of personal data, are obtained from the customers with the order form, apart from the website navigation information. Personal data other than identity and website navigation data are only subject to the Company's responsibility if the order is approved and sent to the Company, otherwise it is not transferred to the Company.
                    p 
                        |Personal data, provided that it is clearly stipulated in the law, is directly related to the establishment or performance of the contract, it is necessary to process the personal data of the parties to the contract, it is compulsory for the data controller to fulfill its legal obligation, the data processing is mandatory for the establishment, exercise or protection of a right, depending on legal reason is processed.
                    p 
                        strong|Rights of Personal Data Owner
                    p
                        |In accordance with Article 11 of the Law, everyone can apply to the data controller and has the rigths of;
                    ul(style="list-style:disc; padding-left:20px")
                        li|Learning whether personal data is processed or not,
                        li|Requesting information on personal data if processed,
                        li|Learning the purpose of processing personal data and whether they are used in accordance with the purpose,
                        li|Knowing the third parties to whom personal data is transferred at home or abroad,
                        li|Requesting correction of personal data in case of incomplete or incorrect processing,
                        li|Requesting the deletion or destruction of personal data in the event that the reasons requiring processing disappear, although it has been processed in accordance with the provisions of the law and other relevant laws,
                        li|In case of requesting the deletion or destruction of personal data with missing or incorrect data files, requesting the notification of the third parties to whom this personal data has been transferred,
                        li|Objecting to the emergence of a result against the person herself by analyzing the processed data exclusively through automated systems,
                        li|Requesting the compensation of the damage in case of loss due to unlawful processing of personal data.
                    br
                    p
                        |In order to exercise your rights listed above, fill out the Data Owner Application Form, which you can obtain from the https://prodigma.co website, by hand, with a wet signature, by mail or through a notary public, to İkitelli OSB Mah. Mutfakçılar M12 Blok Sk. Mutfakçılar San. Sit. M12 Blok No:50 Başakşehir/İSTANBUL address.
                    p
                        |Applications made as stated above will be answered free of charge as soon as possible and within 30 (thirty) days at the latest. However, if the transaction subject to your request incurs an additional cost, the fee in the tariff determined by the Personal Data Protection Board will be charged by the Company.