extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Endüstriyel Tasarım"
    - pageDesc = "Endüstriyel Tasarım"
    - pageClass = "industrial"

block content
    .create-project
        include ../widgets/create-project/models/industrial/index.pug

block foot
    block append footer