extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Enjeksiyon Kalıplama"
    - pageDesc = "Enjeksiyon Kalıplama"
    - pageClass = "injection"

block content
    .create-project
        include ../widgets/create-project/models/injection/index.pug

block foot
    block append footer