extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Hakkımızda"
    - pageDesc = "Prodigma Hakkımızda"
    - pageClass = "about-us"

block content
    .pabout
        +hero-banner('Hakkımızda', {sm:require("Upload/hakkimizda-hero-cover-mb.jpg"), lg:require("Upload/hakkimizda-hero-cover.jpg")})
        .pabout-body
            .pabout-body-content
                .pabout-body-content-title
                    span.stcky
                        |Dijital Üretime,
                        br
                        |Prodigma Vizyonu
                    .pabout-body-content-anim-wrap
                        .pabout-body-content-anim-title
                            img(src=require("Images/logo.svg"), alt="Prodigma Professional Digital Manufacturing")
                            div|Professional Digital Manufacturing
                .pabout-body-content-desc
                    p|Prodigma, talebe yönelik ve belirlenen adetlerde final ürün ya da prototiplerin gelişmiş malzemeler kullanarak endüstriyel eklemeli (3D) imalat yöntemleri ile birlikte farklı geleneksel üretim metodlarından da yararlanıp en kısa sürede fiyatlandırma yapan ve projelerinizi üreten hızlı bir dijital üretim merkezidir.
                    br
                    p|Alanında başarılı ve yetenekli mühendislerin, tasarımcıların, kalite kontrol ve özel işlem prosesleri uzmanlarının oluşturduğu; erişilebilir, ölçeklenebilir ve sürdürülebilir üretim teknolojilerini kullanarak talebe yönelik çözümler üretmeyi hedefleyen özel bir ekip tarafından kurulmuştur.
                    br
                    p|Prodigma; yüksek doğruluğa sahip prototiplerden, pazara girmeye hazır ürünlerin seri üretimine kadar olan tüm periyotlarda ve Endüstriyel Makine & Ekipman, Tüketici Ürünleri & Elektroniği, Uzay & Havacılık, Otomotiv, Savunma ve Medikal başta olmak üzere pek çok sektörde tedarik zincirini geliştirerek üretim öncesi ve üretim esnasındaki süreçlerde aktif rol oynamaktadır.
                    br
                    p|Prodigma’nın vizyonu; ulaşabildiği tüm ürün tasarımcılarına, mühendislere ya da üretimin/tasarımın herhangi bir aşamasından sorumlu olan herkese ihtiyaç duydukları üretim çözümünü hızlı ve güvenilir şekilde ulaştırmak ve güçlü altyapısı sayesinde istenilen adette kritik parçaların kolaylıkla teminini sağlamaktır.
            //-include ../widgets/counter-banner/index.pug 
        include ../widgets/benefits-brands/index.pug
        include ../widgets/trio-info-banner/index.pug
        //-include ../widgets/photo-banner/index.pug
        .photo-banner
            .photo-banner-img
                +picture({sm:require("Upload/hakkimizda-detail-cover-mb.jpg"),lg:require("Upload/hakkimizda-detail-cover-lg.jpg")})(alt="Prodigma 3D")
        include ../widgets/double-listed-banner/index.pug