extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Hakkımızda"
    - pageDesc = "Hakkımızda açıklama metni"
    - pageClass = "about-us"

block content
    .pabout
        +hero-banner('Hakkımızda', {sm:'https://via.placeholder.com/375', lg:'https://via.placeholder.com/1440x500'})
        .pabout-body
            .pabout-body-content
                +title("Dijital Üretime,Prodigma Vizyonu")
                +desc("Prodigma Dijital Üretim ve Baskı Teknolojileri, Ambalaj Baskı sistemleri, Sürdürülebilir & İleri Teknoloji üretim modelleri ve Eklemeli İmalat alanlarında, katma değerli hizmetler ve ürünler sağlamak amacıyla kurulmuş, her biri alanında başarılı ve yetenekli teknik ve satış uzmanları, tasarımcılar ve mühendislerden oluşan kadroya sahip bir organizasyondur")
            include ../widgets/counter-banner/index.pug
            include ../widgets/photo-banner/index.pug
        include ../widgets/double-listed-banner/index.pug