extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Hakkımızda"
    - pageDesc = "Prodigma Hakkımızda"
    - pageClass = "about-us"

block content
    .pabout
        +hero-banner('Hakkımızda', {sm:'img/hakkimizda_hero_sm.jpg', lg:'img/hakkimizda_hero.jpg'})
        .pabout-body
            .pabout-body-content
                +title("Dijital Üretime, Prodigma Vizyonu")
                +desc("Pek çok farklı üretici ve üretim teknolojisi ile birlikte ikincil işlemleri birleştirerek kullanıcı dostu bir ürün hizmetleri ağı oluşturan Prodigma, müşterileri için tekrar edilebilir ve kolay erişilebilir ürünler ortaya koymaktadır.Çevrimiçi üretim platformu ile kullanıcıların projeleri için en uygun malzeme seçeneğine sahip özel üretim parçalara ulaşmalarına olanak sağlamaktadır. Misyonumuz, müşterilerimizin taleplerine göre en uygun hizmetleri sunarak; erişilebilir, tekrarlanabilir ve ölçeklenebilir üretim teknolojileriyle yeniliği optimize eden üretim çözümleri sunmaktır.")
            include ../widgets/counter-banner/index.pug
            include ../widgets/photo-banner/index.pug
        include ../widgets/double-listed-banner/index.pug