extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Hizmetler"
    - pageDesc = "Hizmetler"
    - pageClass = "services"

block content
    .pservices
        +hero-banner('Hizmetler',  {sm:require("Upload/hizmetler-hero-banner-mb.jpg"), lg:require("Upload/hizmetler-hero-banner.jpg")})
        include ../widgets/services-banner/index.pug
        include ../widgets/info-banner/index.pug