extends ../blocks/layout.pug

block prepend head
    - pageTitle = "3D Baskı"
    - pageDesc = "3D Baskı"
    - pageClass = "services"

block content
    .pcnc
        +hero-banner('3D Baskı', {sm:'img/hero_type_single_mb.jpg', lg:'img/hero_type_single.jpg'})
        .pcnc-body
            .pcnc-body-content
                .pcnc-body-content-title|3D Baskı Nedir?
                .pcnc-body-content-desc 
                    p 3D baskı, CAD ortamında tasarlanmış veya 3D taranmış modelin, çeşitli mühendislik malzemeleri kullanılarak hızlı bir şekilde, katmanlı üretim tekniği ile üretilmesidir.
                .pcnc-body-content-title.mt-6|Kullanım Alanları
                .pcnc-body-content-desc
                    p 3D baskı, plastik ve metal prototiplerin üretiminde kullanıldığı gibi, gelişmiş malzeme çeşitliliği sayesinde günümüzde nihai ürün üretiminde de sıklıkla kullanılmaktadır.
                .pcnc-body-content-title.mt-6|Avantajları
                .pcnc-body-content-desc
                    p Hızlı prototipleme, uygun maliyet, kompleks geometriler, çevre dostu, malzeme çeşitliliği, kişiselleştirilmiş ürünler, tasarımda özgürlük
            include ../widgets/photo-banner/index.pug
            include ../widgets/cnc-gallery/index.pug
        .pcnc-footer-info 
            .pcnc-footer-info-wrapper
                .pcnc-footer-info-title Üretim partnerimiz olmak ister misiniz?
                .pcnc-footer-info-form 
                    .pcnc-footer-info-form-top 
                        +inputs('textbox','Ad')
                        +inputs('textbox','Cep Telefonu', 'js-user-phone')
                    .pcnc-footer-info-form-bottom
                        +inputs('textbox','E-Posta Adresi')(type="email")
                        +inputs('textbox','Kurum Adı')
                    .pcnc-footer-info-form-checkbox     
                        +inputs('checkbox','Kişisel Verilerin Korunması Kanunu (KVKK) Açık Rıza Metnini okudum ve onaylıyorum.')
                        +inputs('checkbox','Girdiğim kişisel bilgilerimin tarafıma iletişime geçilebilmesi için işlenmesine ve kullanımına izin veriyorum.')
                    .pcnc-footer-info-form-btn 
                        +button('Gönder', 'green', 's')