extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Hizmetler"
    - pageDesc = "Hizmetler"
    - pageClass = "services"

block content
    .pservices
        +hero-banner('Hizmetler',  {sm:'img/hero_type_single_mb.jpg', lg:'img/hero_type_single.jpg'})
        include ../widgets/services-banner/index.pug
        include ../widgets/info-banner/index.pug