extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Ana Sayfa"
    - pageDesc = "Ana sayfa açıklama metni"
    - pageClass = "home"

block content
    include ../widgets/home-page-main-slider/index.pug
    include ../widgets/quadraple-banner/quadraple-banner.pug
    include ../widgets/quick-solution-easy-use/index.pug
    include ../widgets/paralax-banner/index.pug
    include ../widgets/our-services/index.pug
    include ../widgets/create-project-banner/index.pug
    include ../widgets/supply-banner/index.pug
    include ../widgets/prodigma-plus-banner/index.pug
    include ../widgets/home-page-sss/index.pug