extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Kariyer"
    - pageDesc = "Kariyer"
    - pageClass = "career"

block content
    .pcareer
        +hero-banner('Kariyer', {sm:require("Upload/kariyer-hero-banner-mb.jpg"), lg:require("Upload/kariyer-hero-banner.jpg")})
        .pcareer-body
            .pcareer-body-wrapper
                include ../widgets/career-banner/index.pug    