extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Kariyer"
    - pageDesc = "Kariyer"
    - pageClass = "career"

block content
    .pcareer
        +hero-banner('Kariyer', {sm:require("Upload/kariyer-hero-banner-mb.jpg"), lg:require("Upload/kariyer-hero-banner.jpg")})
        .pcareer-body
            .pcareer-body-wrapper
                .pcareer-body-title
                    p Prodigma Ekibine Katılmak İster Misiniz?
                    span 3D baskı teknolojisi ise sıfırdan üretim yaparak sadece istenilen ürünü ürettiği için çok daha çevre dostu sonuçlar verir. 3D baskı elektronikler gibi çok malzemeli 3D baskı söz konusu olduğunda elektriksel ve mekanik işlevsellik birleştirilirken parça sayıları azaltılarak daha akıcı, verimli ve sürdürülebilir bir üretim süreci oluşturulabilir.
                include ../widgets/career-banner/index.pug    