extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Login"
    - pageDesc = "Prodigma Üye Giriş"
    - pageClass = "login"

block content
    .plog
        .plog-img 
            +picture({sm:require("Images/loginCover.jpg"), lg:require("Images/loginCover.jpg")})(alt="Prodigmd 3D Üye Giriş")
        .plog-enters
            include ../components/register/index.pug
block foot
    block append footer