extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Login"
    - pageDesc = "Login açıklama metni"
    - pageClass = "login"

block content
    .plog
        .plog-img 
            +picture({sm:"img/loginCover.jpg", lg:"img/loginCover.jpg"})(alt="Prodigmd 3D")
        .plog-enters
            include ../components/register/index.pug
block foot
    block append footer