extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Login"
    - pageDesc = "Login açıklama metni"
    - pageClass = "login"

block content
    .plog
        .plog-img 
            +picture({sm:"https://via.placeholder.com/768x768.png", lg:"https://via.placeholder.com/2048x2048.png"})(alt="Login page")
        .plog-enters
            include ../components/register/index.pug
block foot
    block append footer