extends ../blocks/layout.pug

block prepend head
    - pageTitle = "CNC İşelem Malzemeleri"
    - pageDesc = "CNC İşelem Malzemeleri"
    - pageClass = "materials"

block content
    .pmaterials
        +hero-banner('CNC İşleme Malzemeleri', {sm:require("Upload/malzemeler-hero-banner-mb.jpg"), lg:require("Upload/malzemeler-hero-banner.jpg")})
        include ../widgets/cnc-plastics-materials/index.pug
        include ../widgets/cnc-metal-materials/index.pug