extends ../blocks/layout.pug

block prepend head
    - pageTitle = "3d Baskı Malzemeleri"
    - pageDesc = "3d Baskı Malzemeleri"
    - pageClass = "materials"

block content
    .pmaterials
        +hero-banner('3D Baskı Malzemeleri', {sm:'img/hero_type_single_mb.jpg', lg:'img/hero_type_single.jpg'})
        include ../widgets/thermoplastics/index.pug
        include ../widgets/continous-fiber/index.pug
        include ../widgets/metals/index.pug
        include ../widgets/polimers/index.pug