extends ../blocks/layout.pug

block prepend head
    - pageTitle = "3d Baskı Malzemeleri"
    - pageDesc = "3d Baskı Malzemeleri"
    - pageClass = "materials"

block content
    .pmaterials
        +hero-banner('3D Baskı Malzemeleri', {sm:require("Upload/malzemeler-hero-banner-mb.jpg"), lg:require("Upload/malzemeler-hero-banner.jpg")})
        .pmaterials-page-title|Plastik
        include ../widgets/thermoplastics/index.pug
        include ../widgets/continous-fiber/index.pug
        include ../widgets/fotopolimers/index.pug
        include ../widgets/polimers/index.pug