extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Prodigma Manifesto"
    - pageDesc = "Manifestomuz"
    - pageClass = "manifest"

block content
    .pmanifesto
        +hero-banner('Manifesto', {sm:require("Upload/manifesto-hero-cover-mb.jpg"), lg:require("Upload/manifesto-hero-cover.jpg")})
        //-include ../widgets/trio-info-banner/index.pug 
        include ../widgets/manifesto-banner/index.pug