extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Prodigma PostProcess"
    - pageDesc = "Prodigma PostProcess için de yanınızda!"
    - pageClass = "successive-processes"

block content
    .create-project
        include ../widgets/create-project/models/successive-processes/index.pug

block foot
    block append footer