extends ../blocks/layout-en.pug

block prepend head
    - pageTitle = "Prodigma Plus"
    - pageDesc = "Prodigma Plus Blog"
    - pageClass = "prodigma-plus"

block content
    include ../widgets/prodigma-plus-page/index-en.pug