extends ../blocks/member-layout.pug

block prepend head
    - pageTitle = "Şifremi Unuttum"
    - pageDesc = "Şifremi Unuttum"
    - pageClass = "pass-forgot"

block content
    include ../components/forms/password-forgot/index.pug