extends ../blocks/member-layout.pug

block prepend head
    - pageTitle = "Sıkça Sorulan Sorular"
    - pageDesc = "Sıkça Sorulan Sorular açıklama metni"
    - pageClass = "faq"

block content
    |Test