extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Silikon Kalıplama"
    - pageDesc = "Silikon Kalıplama"
    - pageClass = "silicon"

block content
    .create-project
        include ../widgets/create-project/models/silicone/index.pug

block foot
    block append footer