extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Sipariş Detay"
    - pageDesc = "Sipariş Detay"
    - pageClass = "order-detail"

block content
    include ../widgets/order-detail/index.pug