extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Prodigma Sürdürülebilirlik"
    - pageDesc = "Sürdürülebilirlik"
    - pageClass = "sustain"

block content
    .psustain
        +hero-banner('Sürdürülebilirlik', {sm:require("Upload/surdurulebilirlik-hero-cover-mb.jpg"), lg:require("Upload/surdurulebilirlik-hero-cover.jpg")})
        include ../widgets/sustain-banner/index.pug