extends ../blocks/layout.pug

block prepend head
    - pageTitle = "Prodigma Tedarikçi Formu"
    - pageDesc = "Tedarikçi Formu"
    - pageClass = "faq"

block content
    .pmember.pmember-flatpages
        .pmember-wrapper
            .pmember-left
                .pmember-left-title Destek
                include ../flatpages/menu/index.pug
            .pmember-right
                .pmember-right-content
                    .pmember-right-content-title.mb-2
                        |TEDARİKÇİ OLUN
                    include ../flatpages/support/forms/index.pug
                    //-p 
                        |Tedarikçi Formu'nu eksiksiz doldurduktan sonra lütfen  
                        a(href="mailto:info@prodigma.co" class="text-blue-200 underline")|info@prodigma.co 
                        |adresine iletmenizi rica ederiz. 
                        |Tedarikçi Formunu indirmek için lütfen 
                        a(href=require("Upload/prodigma-tedarikci-formu.docx") class="text-blue-200 underline")|linki 
                        |tıklayınız.