extends ../blocks/layout-en.pug

block prepend head
    - pageTitle = "Prodigma Trading Guide"
    - pageDesc = "Trading Guide"
    - pageClass = "operation-guide"

block content
    .pmember.pmember-flatpages
        .pmember-wrapper
            .pmember-left
                .pmember-left-title Support
                include ../flatpages/menu/index-en.pug
            .pmember-right.pmember-flatpages-bg
                .pmember-right-content
                    include ../flatpages/support/operation-guide/index-en.pug