.psustain-banner 
    .psustain-banner-wrapper 
        ul.psustain-banner-body
            li 
                .psustain-banner-body-icon 
                    .icon test
                .psustain-banner-body-content
                    p 3D baskı israfı azaltabilir
                    span 3D baskı teknolojisi ise sıfırdan üretim yaparak sadece istenilen ürünü ürettiği için çok daha çevre dostu sonuçlar verir. 3D baskı elektronikler gibi çok malzemeli 3D baskı söz konusu olduğunda elektriksel ve mekanik işlevsellik birleştirilirken parça sayıları azaltılarak daha akıcı, verimli ve sürdürülebilir bir üretim süreci oluşturulabilir.
            li 
                .psustain-banner-body-icon 
                    .icon test
                .psustain-banner-body-content
                    p 3D baskı emisyonları azaltabilir
                    span 2014 yılında yapılan bir araştırmaya göre 3D baskı, 2025’e kadar %5 olmak üzere karbon emisyonlarını azaltmaya yardımcı olacak potansiyeli taşıyor. 3D baskıda üretim sürecinin verimli olmasının yanı sıra, katmanlı üretimin doğası gereği geleneksel üretimin gerektirdiği kapsamlı nakliye, depolama ve seyahat ihtiyacını ortadan kaldırma potansiyeli sunuyor.
            li 
                .psustain-banner-body-icon 
                    .icon test
                .psustain-banner-body-content
                    p 3D baskı plastikleri yeniden kullanıyor
                    span 3D baskı, plastikleri dönüştürerek yeniden kullanma fırsatı sunuyor. Eski plastik artıkların yeniden kullanılmasıyla elde edilen OWA filament serisi gibi birçok ürün uzmanlar tarafından beğeni topluyor. 3D baskının plastik atıklardan filament üretimi ile plastik kirliliğinin önüne geçilmesi hedefleniyor.
            li 
                .psustain-banner-body-icon 
                    .icon test
                .psustain-banner-body-content
                    p 3D baskı plastikleri yeniden kullanıyor
                    span 3D baskı geleneksel üretim yöntemleriyle karşılaştırıldığında, önemli ölçüde daha çevreci ve daha çevre dostu olduğunu söylenebilir. Aynı zamanda gelecek için potansiyeli ile büyüme olanakları geniş ve yaratıcılığı henüz keşfedilmemiş bir alan olarak sayısız olasılık sunuyor.