.psustain-banner 
    .psustain-banner-wrapper 
        ul.psustain-banner-body
            li 
                .psustain-banner-body-icon 
                    .icon.icon-earth-day
                .psustain-banner-body-content
                    p 3D printing can reduce waste
                    span 3D printing technology, on the other hand, produces much more environmentally friendly results as it produces only the desired product by producing from scratch. When it comes to multi-material 3D printing, such as 3D printing electronics, electrical and mechanical functionality can be combined, while reducing the number of parts, creating a more fluid, efficient and sustainable production process.
            li 
                .psustain-banner-body-icon 
                    .icon.icon-plant-based
                .psustain-banner-body-content
                    p 3D printing can reduce emissions
                    span According to a 2014 study, 3D printing has the potential to help reduce carbon emissions by 5% by 2025. In addition to being efficient in the production process in 3D printing, the nature of additive manufacturing offers the potential to eliminate the extensive transportation, storage and travel needs required by traditional manufacturing.
            li 
                .psustain-banner-body-icon 
                    .icon.icon-plastic-based
                .psustain-banner-body-content
                    p 3D printing reuses plastics
                    span 3D printing offers the opportunity to reuse plastics by transforming them. Many products, such as the OWA filament series, obtained by reusing old plastic scraps, are appreciated by experts. It is aimed to prevent plastic pollution with the production of filament from plastic waste by 3D printing.
            li 
                .psustain-banner-body-icon 
                    .icon.icon-recycle-symbol
                .psustain-banner-body-content
                    p 3D printing reuses plastics
                    span Compared to traditional production methods, 3D printing can be said to be significantly more environmentally friendly and more environmentally friendly. At the same time, with its potential for the future, the possibilities for growth are wide and creativity offers countless possibilities as an area that has not yet been explored.