.psustain-banner 
    .psustain-banner-wrapper 
        ul.psustain-banner-body
            li 
                .psustain-banner-body-icon 
                    .icon.icon-earth-day
                .psustain-banner-body-content
                    p 3D baskı israfı azaltabilir
                    span 3D baskı teknolojisi sıfırdan üretim yaparak sadece istenilen ürünü ürettiği için diğer yöntemlere kıyasla çok daha çevre dostu sonuçlar verir. 3D baskı elektriksel ve mekanik işlevselliği birleştirerek parça sayıları azaltır ve çok daha akıcı, verimli ve sürdürülebilir bir üretim süreci oluşturulabilir.
            li 
                .psustain-banner-body-icon 
                    .icon.icon-plant-based
                .psustain-banner-body-content
                    p 3D baskı emisyonları azaltabilir
                    span 2014 yılında yapılan bir araştırmaya göre 3D baskı, 2025’e kadar %5 olmak üzere karbon emisyonlarını azaltmaya yardımcı olacak potansiyeli taşıyor. 3D baskıda üretim sürecinin verimli olmasının yanı sıra, katmanlı üretimin doğası gereği geleneksel üretimin gerektirdiği kapsamlı nakliye, depolama ve seyahat ihtiyacını ortadan kaldırma potansiyeli sunuyor.
            li 
                .psustain-banner-body-icon 
                    .icon.icon-plastic-based
                .psustain-banner-body-content
                    p 3D baskı plastikleri yeniden kullanıyor
                    span 3D baskı, plastikleri dönüştürerek yeniden kullanma fırsatı sunuyor. Eski plastik atıkların yeniden kullanılmasıyla elde edilen filamentler uzmanlar tarafından beğeni topluyor. 3D baskının plastik atıklardan filament üretimi ile plastik kirliliğinin önüne geçilmesi hedefleniyor.
            li 
                .psustain-banner-body-icon 
                    .icon.icon-recycle-symbol
                .psustain-banner-body-content
                    p 3D baskı plastikleri yeniden kullanıyor
                    span 3D baskı geleneksel üretim yöntemleriyle karşılaştırıldığında, önemli ölçüde daha çevreci ve daha çevre dostu olduğunu söylenebilir. Aynı zamanda gelecek için potansiyeli ile büyüme olanakları geniş ve yaratıcılığı henüz keşfedilmemiş bir alan olarak sayısız olasılık sunuyor.