footer.site-footer
    //-include ../../widgets/benefits-brands/index.pug
    .site-footer-wrapper
        .site-footer-top 
            //-.site-footer-top-one
                include ../../components/subscribe/index.pug
            .site-footer-top-two 
                .site-footer-top-menu 
                    ul 
                        li 
                            span.site-footer-top-sub-title Our Services
                            ul 
                                li 
                                    a(href="/services-3d-printing.html")|3D Printing 
                                //-li 
                                    a(href="/hizmetler-cnc-isleme.html")|CNC İşleme
                                //-li 
                                    a(href="/hizmetler-sac-metal-sekillendirme.html")|Sac Metal Şekillendirme
                                li 
                                    a(href="/services-3d-scanning-and-reverse-engineering.html")|3D Scanning and Reverse Engineering
                                li 
                                    a(href="/services-industrial-design.html")|Industrial Design
                                li 
                                    a(href="/services-post-processing.html")|Post Processing
                    ul 
                        li 
                            span.site-footer-top-sub-title Prodigma +
                            ul 
                                li 
                                    a(href="/prodigma-plus.html") Blog
                                //-li 
                                    a(href="#") Webinar
                                li 
                                    a(href="https://www.youtube.com/@prodigma6319", target="_blank") Youtube
                                li 
                                    a(href="/etkinlikler-ve-isbirlikleri.html")|Events & Collaborations
                            .site-footer-top-sub-title.site-footer-top-sub-title-social|Follow us
                            ul.site-footer-social
                                li 
                                    a(href="https://www.linkedin.com/company/prodigma-co", target="_blank")
                                        i.icon.icon-linkdn
                                //-li 
                                    a(href="#")
                                        i.icon.icon-twitter
                                li 
                                    a(href="https://www.instagram.com/prodigma.co", target="_blank")
                                        i.icon.icon-instagram
                                li 
                                    a(href="https://www.youtube.com/@prodigma6319", target="_blank")
                                        i.icon.icon-youtube
                    ul 
                        li 
                            span.site-footer-top-sub-title Support
                            ul
                                li 
                                    a(href="/frequently-asked-questions.html")|Frequently asked Questions
                                li 
                                    a(href="/trading-guide.html")|Trading Guide
                                //-li 
                                    a(href="/teslimat.html")|Teslimat
                                li 
                                    a(href="/start-project.html")|Order Tracking
            .site-footer-top-tree
                .site-footer-top-sub-title Contact Us
                .site-footer-top-tree-col
                    i.icon.icon-pin
                    |İkitelli Org. San. Böl. Mutsan San. M12 Blok No:50
                    br
                    |İkitelli/Başakşehir - İstanbul
                .site-footer-top-tree-col
                    i.icon.icon-call-center 
                    a(href="tel:+902124854250")|Tel: +90 212 4854250
                .site-footer-top-tree-col 
                    i.icon.icon-envelope
                    a(href="mailto:info@prodigma.co")|info@prodigma.co
        .site-footer-bottom
            .site-footer-bottom-wrap
                .site-footer-bottom-menu
                    ul 
                        li 
                            a(href="#")|Terms of Use
                        li  
                            a(href="#")|Privacy and Security
                        li 
                            a(href="/cookie-policy.html")|Cookie Policy
                        li 
                            a(href="#")|Personal Data Protection and Processing Policy
                        li 
                            a(href="#")|Sales Agreement
                        li 
                            a(href="#")|Information Society Services
                        li 
                            a(href="/illumination-text.html")|Illumination Text
                .site-footer-copyright 
                    |©2023 prodigma.co