footer.site-footer
    include ../../widgets/benefits-brands/index.pug
    .site-footer-wrapper
        .site-footer-top 
            .site-footer-top-one
                include ../../components/subscribe/index.pug
            .site-footer-top-two 
                .site-footer-top-menu 
                    ul 
                        li 
                            span.site-footer-top-sub-title Hizmetlerimiz
                            ul 
                                li 
                                    a(href="/3d-baski.html")|3D Baskı 
                                li 
                                    a(href="/cnc-isleme.html")|CNC İşleme
                                li 
                                    a(href="/silikon-kaliplama.html")|Silikon Kalıplama
                                li 
                                    a(href="/enjeksiyon-kaliplama.html")|Enjeksiyon Kalıplama
                                li 
                                    a(href="/endustriyel.html")|Endüstriyel Tasarım
                                li 
                                    a(href="/3d-tarama-tersine-muhendislik.html")|3D Tarama & Tersine Mühendislik
                                li 
                                    a(href="/sac-metal-isleme.html")|Sac Metal İşleme
                                li 
                                    a(href="ardil-islemler.html")|Ardıl İşlemler
                    ul 
                        li 
                            span.site-footer-top-sub-title Prodigma +
                            ul 
                                li 
                                    a(href="#") Blog
                                li 
                                    a(href="#") Webinar
                                li 
                                    a(href="#") Youtube
                                li 
                                    a(href="") Etkinlikler & İş Birlikleri
                            .site-footer-top-sub-title.site-footer-top-sub-title-social Bizi Takip Edin
                            ul.site-footer-social
                                li 
                                    a(href="#")
                                        i.icon.icon-facebook
                                li 
                                    a(href="#")
                                        i.icon.icon-twitter
                                li 
                                    a(href="#")
                                        i.icon.icon-instagram
                                li 
                                    a(href="#")
                                        i.icon.icon-youtube
                    ul 
                        li 
                            span.site-footer-top-sub-title Destek
                            ul
                                li 
                                    a(href="/sikca-sorulan-sorular.html")|Sık Sorulan Sorular
                                li 
                                    a(href="/islem-rehberi.html")|İşlem Rehberi
                                li 
                                    a(href="/teslimat.html")|Teslimat
                                li 
                                    a(href="#")|Sipariş Takibi
            .site-footer-top-tree
                .site-footer-top-sub-title Bize Ulaşın
                .site-footer-top-tree-col
                    i.icon.icon-pin 
                    |Sanayi, Teknopark Blv A Blok
                    br
                    |No:208, 34906 Pendik/İstanbul
                .site-footer-top-tree-col
                    i.icon.icon-call-center 
                    a(href="tel:+904449867") 444 9 867
                .site-footer-top-tree-col 
                    i.icon.icon-envelope
                    a(href="mailto:info@prodigma.com") info@prodigma.com 
        .site-footer-bottom
            .site-footer-bottom-wrap
                .site-footer-bottom-menu
                    ul 
                        li 
                            a(href="/kullanim-kosullari.html") Kullanım Koşulları
                        li  
                            a(href="/gizlilik-ve-guvenlik.html") Gizlilik ve Güvenlik
                        li 
                            a(href="/cerez-politikasi.html") Çerez Politikası  
                        li 
                            a(href="/kisisel-verilerin-korunmasi-ve-islenmesi-politikasi.html") Kişisel Verilerin Korunması ve İşlenmesi Politikası
                        li 
                            a(href="/satis-sozlesmesi.html") Satış Sözleşmesi
                        li 
                            a(href="/bilgi-toplumu-hizmetleri.html") Bilgi Toplumu Hizmetleri
                        li 
                            a(href="/aydinlatma-metni.html") Aydınlatma Metni 
                .site-footer-copyright 
                    |© 2022 Prodigma.com