.site-footer {
  @apply bg-blue-100;

  &-wrapper {
    @apply lg:container lg:pt-14 lg:px-5 lg:mx-auto;
  }
  &-copyright {
    @apply text-sm py-5 self-center text-white;
    @apply lg:self-start lg:order-first lg:py-2;
  }
  &-top {
    @apply container mx-auto;
    @apply lg:grid lg:pb-14;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "C B"
      "C B";
    &-one {
      grid-area: A;
      @apply px-5 pt-10 pb-5;
      @apply lg:px-0 lg:pt-0 lg:pb-0;

      .site-footer-top-sub-title {
        @apply text-center;
        @apply lg:text-left;
      }
    }
    &-two {
      grid-area: B;
    }
    &-tree {
      @apply p-5;
      @apply lg:p-0 lg:pr-2; //lg:mt-16
      grid-area: C;
      &-col {
        @apply relative py-1 mb-2 font-inter text-sm text-white;
        .icon {
          @apply hidden absolute top-[calc(50%-12px)] left-0 w-6 h-6 text-2xl leading-[normal] text-blue-100;
        }
      }
    }
    &-menu {
      @apply p-5;
      @apply lg:flex lg:justify-between lg:p-0;
      > ul {
        > li {
          .site-footer-top-sub-title {
            @apply cursor-pointer relative py-3 border-b border-solid border-white text-white;
            @apply lg:pointer-events-none lg:py-0 lg:border-0;
            &::after {
              content: "+";
              @apply bg-white w-6 h-6 inline-flex justify-center text-2xl text-black-100 leading-none absolute top-[50%-12px] right-0 rounded-full;
            }
            @media screen and (min-width: 1024px) {
              &::after {
                @apply hidden;
              }
            }
          }
          > ul {
            @apply hidden;
            @apply lg:block;
          }
          &.open {
            .site-footer-top-sub-title {
              &::after {
                content: "-";
              }
            }
            > ul {
              @apply block;
            }
          }
        }
      }
      ul {
        li {
          a {
            @apply block font-inter font-normal text-sm text-white py-2;
          }
        }
      }
    }
    &-sub-title {
      @apply block font-heading font-medium text-lg text-white leading-[normal] mb-3;
      &-social {
        @apply hidden lg:block #{!important};
        @apply mt-14;
      }
    }
  }
  &-social {
    @apply hidden lg:flex #{!important};
    @apply gap-7 justify-center pt-2 pb-4;
    @apply lg:justify-start lg:pt-0 lg:pb-0;
    li {
      a {
        @apply inline-flex #{!important};
        @apply items-center justify-center w-9 h-9 bg-blue rounded-full;
        .icon {
          @apply text-white text-xl leading-none;
        }
      }
    }
  }
  &-bottom {
    @apply bg-blue-100 pt-6;
    @apply lg:py-4;
    &-wrap {
      @apply container mx-auto;
      @apply flex flex-col items-start;
      @apply lg:flex-row lg:justify-between lg:items-center;
    }
    &-menu {
      @apply lg:order-last;
      ul {
        @apply flex flex-wrap justify-center items-center px-3;
        @apply lg:justify-start lg:px-0;
        li {
          @apply inline-flex items-center first:ml-0 ml-2;
          &:not(:first-child) {
            &::before {
              content: "";
              @apply w-1 h-1 bg-white rounded-full mr-2;
            }
          }
          a {
            @apply inline-flex text-xs text-white underline py-2;
          }
        }
      }
    }
  }
}
