.pmaterials-metals
    .pmaterials-metals-wrapper
        .pmaterials-metals-title.mb-8
            |PLASTİK 
        //-.pmaterials-metals-desc 
            |Geniş malzeme yelpazesine sahip reçinelerimiz ile, genel amaçlı prototiplerinizden, mekanik performans gerektiren özellikler sayesinde nihai ürüne kadar her türlü parça ihtiyacınızı karşılayabilirsiniz. 
        .pmaterials-metals-content(id="pmaterials-cnc-plastics")
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pe.jpg"), lg:require("Upload/pe.jpg")})(alt="PE Polietilen")
                .pmaterials-metals-content-material-title
                    |PE (Polietilen)
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pvc.jpg"), lg:require("Upload/pvc.jpg")})(alt="PVC")
                .pmaterials-metals-content-material-title
                    |PVC
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pp.jpg"), lg:require("Upload/pp.jpg")})(alt="PP")
                .pmaterials-metals-content-material-title
                    |PP
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pc.jpg"), lg:require("Upload/pc.jpg")})(alt="Pc Polikarbonat")
                .pmaterials-metals-content-material-title
                    |PC (Polikarbonat)
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pei.jpg"), lg:require("Upload/pei.jpg")})(alt="Pei Polieterimid")
                .pmaterials-metals-content-material-title
                    |PEI (Polieterimid)
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/ptfe.jpg"), lg:require("Upload/ptfe.jpg")})(alt="PTFE Teflon")
                .pmaterials-metals-content-material-title
                    |PTFE (Teflon)
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pvdf.jpg"), lg:require("Upload/pvdf.jpg")})(alt="PVDF")
                .pmaterials-metals-content-material-title
                    |PVDF
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pom.jpg"), lg:require("Upload/pom.jpg")})(alt="POM Delrin")
                .pmaterials-metals-content-material-title
                    |POM (Delrin)
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pa6.jpg"), lg:require("Upload/pa6.jpg")})(alt="PA6 Poliamid")
                .pmaterials-metals-content-material-title
                    |PA6 (Poliamid)
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pa6g.jpg"), lg:require("Upload/pa6g.jpg")})(alt="PA6G Kestamid")
                .pmaterials-metals-content-material-title
                    |PA6G (Kestamid)
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/peek.jpg"), lg:require("Upload/peek.jpg")})(alt="PEEK")
                .pmaterials-metals-content-material-title
                    |PEEK
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/abs.jpg"), lg:require("Upload/abs.jpg")})(alt="ABS")
                .pmaterials-metals-content-material-title
                    |ABS
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pmma.jpg"), lg:require("Upload/pmma.jpg")})(alt="PMMA")
                .pmaterials-metals-content-material-title
                    |PMMA
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right
            .pmaterials-metals-content-material
                .pmaterials-metals-content-material-img
                    +picture({sm:require("Upload/pps.jpg"), lg:require("Upload/pps.jpg")})(alt="PPS")
                .pmaterials-metals-content-material-title
                    |PPS
                //-.pmaterials-metals-content-material-detail
                    a(href="javascript:void(0);", data-attr="abs-white") Malzeme Detayı
                        i.icon.icon-arrow-right