.create-project-sets.create-project-successive-processes
    .create-project-left
        .create-project-iframe-service 
            iframe(src="https://demo.amfg.ai/new/live/promakim.en.trl.html", frameborder="0")
        //-+picture({sm:require('Images/printing-page-cover.jpg'), lg:require('Images/printing-page-cover.jpg')})
    .create-project-right
        .create-project-right-inner
            .create-project-right-name|Prodigma PostProcess için de yanınızda!
            .create-project-right-sub-text|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            form(id="form-post-process")
                .create-project-right-post-process-select-material.mt-6
                    .input.select.borders
                        label(for="js-post-process-material-list")|Malzeme Seçimi
                        span.wrp
                            select(id="js-post-process-material-list") 
                .create-project-right-priting-desc.mt-5
                    .input.textarea.borders
                        textarea(placeholder="Açıklama belirtin", id="js-post-process-note-input")
                .create-project-right-priting-date
                    .create-project-right-priting-date-title|Projenizi yüz yüze görüşelim... Uygun tarih ve saatlerden seçim yapın.
                    .create-project-right-priting-date-select
                        .input.textbox.borders
                            input(type="date", id="js-post-process-date-input")
                        .input.textbox.borders
                            input(type="time", id="js-post-process-time-input")
                .create-project-right-priting-footer
                    .create-project-right-priting-footer-left
                        i.icon.icon-info
                        span|Görüşmelerimiz 15 dk ile sınırlıdır.
                    .create-project-right-priting-footer-btn
                        button(type="submit" class="btn btn-green btn-medium", id="js-post-process-offter-btn")|Uzman ile görüş