.create-project-sets.create-project-silicone
    .create-project-left
        .drag-area
        .create-project-left-desc|Bir CAD dosyası yükleyin veya sürükleyip bırakın
        .create-project-left-tt1|*Maxmum dosya yükleme boyutu 150 mb’dir.
        .create-project-left-tt2|*Şu uzantıdaki dosyaları yükleyin; 3DM, IGES, IGS, STEP, STL
    .create-project-right
        .create-project-right-steps
            button(class="lnk active", data-selection="properties")|1
            span.seperate
            button(class="lnk", data-selection="properties")|2
        div(data-selection="properties")
            .create-project-right-inner
                .create-project-right-name|Silikon Kalıplama ile Tasarımlarınızı Hayata Geçirin!
                .create-project-right-sub-text|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        div(data-selection="materials", hidden)
            .create-project-right-inner
                .create-project-right-materials-title|Malzeme Seçimi
                ul.create-project-right-materials
                    li
                        .input.radio
                            input(type="radio")
                            label(for="js-material-keys")|ABS Like
                    li
                        .input.radio
                            input(type="radio")
                            label(for="js-material-keys")|Elastomer Like
                    li
                        .input.radio
                            input(type="radio")
                            label(for="js-material-keys")|Akrilik Like
        .create-project-right-nextbtn
            button(class="btn btn-secondary btn-medium btn-next-to-bid", type="button", data-type="silicone", disabled)
                span|Sonraki Adım
                i.icon.icon-arrow-line     
            button(class="btn btn-secondary btn-medium btn-next-bid",type="button" disabled data-modal="modal-silicone")
                span|Fiyat Teklifi Al
                i.icon.icon-arrow-line