.member
    .member-mobile-trigger Yasal Bilgilendirme
    .member-bottom 
        .member-bottom-content
            ul 
                li
                    a(href="/aydinlatma-metni.html")|Genel Aydınlatma Metni 
                li 
                    a(href="/cerez-politikasi.html")|Çerez Politikası
                li 
                    a(href="/musteri-aydinlatma-metni.html")|Müşteri Aydınlatma Metni
                li 
                    a(href="/musteri-acik-riza-metni.html")|Müşteri Açık Rıza Metni