.member
    .member-mobile-trigger Legal Informations
    .member-bottom 
        .member-bottom-content
            ul 
                li
                    a(href="/clarification-text.html")|Clarification Text 
                li 
                    a(href="/cookie-policy.html")|Cookie Policy 
                li 
                    a(href="/customer-clarification-text.html")|Customer Clarification Text 
                li 
                    a(href="/customer-express-written-consent.html")|Customer Express Written Consent 
                //-li 
                    a(href="/uyelik-sozlesmesi.html")|Üyelik Sözleşmesi