.pmaterials-polimers(id="metal")
    .pmaterials-page-title.pmaterials-page-title-other|Metal
    .pmaterials-polimers-wrapper
        //-.pmaterials-polimers-title 
            |Polimers 
        .pmaterials-polimers-desc 
            |Our metal 3D printing materials combine the simplicity and safety of FFF printing with the superior properties of advanced metal materials to bring metal 3D printing to your desktop.
        ul.pmaterials-polimers-content
            li.pmaterials-polimers-content-material
                .pmaterials-polimers-content-material-img
                    +picture({sm:require("Upload/paslanmaz-celik.jpg"), lg:require("Upload/paslanmaz-celik.jpg")})(alt="17-4 PH Stainless Steel")
                .pmaterials-polimers-content-material-title
                    |17-4 PH Stainless Steel
                .pmaterials-polimers-content-material-detail
                    a(href="javascript:void(0);", data-attr="ph-paslanmaz-celik") Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-ph-paslanmaz-celik", data-attr="ph-paslanmaz-celik")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is a multi-purpose steel used to produce strong and durable parts in industrial applications.
                                ul.pmaterials-tables-other.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|17-4 PH Stainless Steel
                                        .px-1.py-1.text-center|Standard
                                        .px-1.py-1.text-center|Markforged H900
                                    li.col-body
                                        .px-1.py-1.text-center|Ultimate Tensile Strength
                                        .px-1.py-1.text-center|ASTM E8
                                        .px-1.py-1.text-center|1250 MPa
                                    li.col-body
                                        .px-1.py-1.text-center|With Voltage Module
                                        .px-1.py-1.text-center|ASTM E8
                                        .px-1.py-1.text-center|170 GPa
                                    li.col-body
                                        .px-1.py-1.text-center|Hardness
                                        .px-1.py-1.text-center|ASTM E18
                                        .px-1.py-1.text-center|36 HRC
                                    li.col-body
                                        .px-1.py-1.text-center|Corrosion
                                        .px-1.py-1.text-center|ASTM F1089
                                        .px-1.py-1.text-center|Pass
                                    li.col-body
                                        .px-1.py-1.text-center|Relative Density
                                        .px-1.py-1.text-center|ASTM B923
                                        .px-1.py-1.text-center|96%
                                .text-sm.mt-5|Maximum part size: 250mm x 183mm x 150mm
            li.pmaterials-polimers-content-material
                .pmaterials-polimers-content-material-img
                    +picture({sm:require("Upload/bakir.jpg"), lg:require("Upload/bakir.jpg")})(alt="Pure Copper")
                .pmaterials-polimers-content-material-title
                    |Pure Copper
                .pmaterials-polimers-content-material-detail
                    a(href="javascript:void(0);", data-attr="saf-bakir") Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-saf-bakir", data-attr="saf-bakir")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is a conductive, ductile metal optimized for thermal and electrical processes.
                                ul.pmaterials-tables-other.border.border-custom-100
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Copper
                                        .px-1.py-1.text-center|Standard
                                        .px-1.py-1.text-center|Heat
                                    li.col-body
                                        .px-1.py-1.text-center|Ultimate Tensile Strength
                                        .px-1.py-1.text-center|ASTM E8
                                        .px-1.py-1.text-center|Room temperature
                                    li.col-body
                                        .px-1.py-1.text-center|Elongation at Break
                                        .px-1.py-1.text-center|ASTM E8
                                        .px-1.py-1.text-center|Room temperature
                                    li.col-body
                                        .px-1.py-1.text-center|Relative Density
                                        .px-1.py-1.text-center|ASTM B923
                                        .px-1.py-1.text-center|Room temperature
                                    li.col-body
                                        .px-1.py-1.text-center|Electrical Conductivity
                                        .px-1.py-1.text-center|ASTM E1004
                                        .px-1.py-1.text-center|Room temperature
                                    li.col-body
                                        .px-1.py-1.text-center|Thermal Conductivity
                                        .px-1.py-1.text-center|ASTM E1461
                                        .px-1.py-1.text-center|Room temperature
                                    li.col-body
                                        .px-1.py-1.text-center|Coefficient of Thermal Expansion
                                        .px-1.py-1.text-center
                                            |ASTM E831-19
                                            sup|5
                                        .px-1.py-1.text-center|68-100°F
                                .text-sm.mt-5|Maximum part size: 250mm x 183mm x 150mm
            li.pmaterials-polimers-content-material
                .pmaterials-polimers-content-material-img
                    +picture({sm:require("Upload/inconel-625.jpg"), lg:require("Upload/inconel-625.jpg")})(alt="Inconel 625")
                .pmaterials-polimers-content-material-title
                    |Inconel 625
                .pmaterials-polimers-content-material-detail
                    a(href="javascript:void(0);", data-attr="inocel625") Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-inocel625", data-attr="inocel625")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is a nickel-chromium-based alloy that is extremely resistant to corrosion and strong at high temperatures.
                                ul.pmaterials-tables-other.border.border-custom-100
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Inconel 625
                                        .px-1.py-1.text-center|Standard
                                        .px-1.py-1.text-center|Markforged (Sintered)
                                    li.col-body
                                        .px-1.py-1.text-center|Ultimate Tensile Strength
                                        .px-1.py-1.text-center|ASTM E8
                                        .px-1.py-1.text-center|765 MPa
                                    li.col-body
                                        .px-1.py-1.text-center|Elongation at Break
                                        .px-1.py-1.text-center|ASTM E8
                                        .px-1.py-1.text-center|42%
                                    li.col-body
                                        .px-1.py-1.text-center|Hardness
                                        .px-1.py-1.text-center|ASTM E18
                                        .px-1.py-1.text-center|7 HRC
                                    li.col-body
                                        .px-1.py-1.text-center|Relative Density
                                        .px-1.py-1.text-center|ASTM B923
                                        .px-1.py-1.text-center|96.5%
                                .text-sm.mt-5|Maximum part size: 250mm x 183mm x 150mm
            li.pmaterials-polimers-content-material
                .pmaterials-polimers-content-material-img
                    +picture({sm:require("Upload/h13-takim-celigi.jpg"), lg:require("Upload/h13-takim-celigi.jpg")})(alt="H13 Takım Çeliği")
                .pmaterials-polimers-content-material-title
                    |H13 Tool Steel
                .pmaterials-polimers-content-material-detail
                    a(href="javascript:void(0);", data-attr="h13-takim-celigi") Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-h13-takim-celigi", data-attr="h13-takim-celigi")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is a versatile metal that is hard and can maintain its material properties at high temperatures.
                                ul.pmaterials-tables-other.border.border-custom-100
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|H13 Tool Steel
                                        .px-1.py-1.text-center|Standard
                                        .px-1.py-1.text-center|Markforged (Sintered)
                                    li.col-body
                                        .px-1.py-1.text-center|Ultimate Tensile Strength
                                        .px-1.py-1.text-center|ASTM E8
                                        .px-1.py-1.text-center|1420 MPa
                                    li.col-body
                                        .px-1.py-1.text-center|Elongation at Break
                                        .px-1.py-1.text-center|ASTM E8
                                        .px-1.py-1.text-center|5%
                                    li.col-body
                                        .px-1.py-1.text-center|Hardness
                                        .px-1.py-1.text-center|ASTM E18
                                        .px-1.py-1.text-center|40 HRC
                                    li.col-body
                                        .px-1.py-1.text-center|Relative Density
                                        .px-1.py-1.text-center|ASTM B923
                                        .px-1.py-1.text-center|94.5%
                                .text-sm.mt-5|Maximum part size: 250mm x 183mm x 150mm
            li.pmaterials-polimers-content-material
                .pmaterials-polimers-content-material-img
                    +picture({sm:require("Upload/a2-d2-takim-celigi.jpg"), lg:require("Upload/a2-d2-takim-celigi.jpg")})(alt="A2 ve D2 Takım Çeliği")
                .pmaterials-polimers-content-material-title
                    |A2 and D2 Tool Steel
                .pmaterials-polimers-content-material-detail
                    a(href="javascript:void(0);", data-attr="a2-d2-takim-celigi") Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-a2-d2-takim-celigi", data-attr="a2-d2-takim-celigi")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|Cold tool steels used for a wide variety of manufacturing applications.
                                ul.pmaterials-tables-other.border.border-custom-100
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|A2 Tool Steel
                                        .px-1.py-1.text-center|Standard
                                        .px-1.py-1.text-center|Markforged (Heat Treated)
                                    li.col-body
                                        .px-1.py-1.text-center|Elastic Module
                                        .px-1.py-1.text-center|ASTM E9
                                        .px-1.py-1.text-center|160 GPa
                                    li.col-body
                                        .px-1.py-1.text-center|Hardness
                                        .px-1.py-1.text-center|ASTM E18
                                        .px-1.py-1.text-center|50 HRC
                                    li.col-body
                                        .px-1.py-1.text-center|Relative Density
                                        .px-1.py-1.text-center|ASTM B923
                                        .px-1.py-1.text-center|94.5%
                                ul.pmaterials-tables-other.border.border-custom-100.mt-5
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|D2 Tool Steel
                                        .px-1.py-1.text-center|Standard
                                        .px-1.py-1.text-center|Markforged (Heat Treated)
                                    li.col-body
                                        .px-1.py-1.text-center|Elastic Module
                                        .px-1.py-1.text-center|ASTM E9
                                        .px-1.py-1.text-center|187 GPa
                                    li.col-body
                                        .px-1.py-1.text-center|Hardness
                                        .px-1.py-1.text-center|ASTM E18
                                        .px-1.py-1.text-center|55 HRC
                                    li.col-body
                                        .px-1.py-1.text-center|Relative Density
                                        .px-1.py-1.text-center|ASTM B923
                                        .px-1.py-1.text-center|97%
                                .text-sm.mt-5|Maximum part size: 250mm x 183mm x 150mm