.pwebinar-header
    .pwebinar-header-img 
        +picture({sm:"https://via.placeholder.com/400x195", lg:"https://via.placeholder.com/915x400"})(alt="img alt")
    .pwebinar-header-content
        .pwebinar-header-content-left 
            .pwebinar-header-content-left-header
                .pwebinar-header-content-left-header-tt1 
                    |20 Haziran 2022 
                .pwebinar-header-content-left-header-tt2
                    |Bostancı Gösteri Merkezi
            .pwebinar-header-content-left-body        
                .pwebinar-header-content-left-body-title
                        .pwebinar-header-content-left-body-title-tt1 
                            |Webinar
                        .pwebinar-header-content-left-body-title-tt2 
                            |Uzun İsim Denemesi
                .pwebinar-header-content-left-body-speech 
                    p Konuşmacılar: 
                    span Zeynep Aldemir, Cansu Çakmak
            .pwebinar-header-content-left-footer
                p Paylaş
                    a(href="#")
                                    i.icon.icon-facebook
                    a(href="#")
                                    i.icon.icon-twitter
                    a(href="#")
                                    i.icon.icon-linkedin
        .pwebinar-header-content-right
            .pwebinar-header-content-right-timer 
                i.icon.icon-timer
                span#timer