.pmember.podp
    .podp-wrap
        .pmember-back-history
            +page-history-back('Sipariş Detay','/siparislerim.html')(class="pmember-back-history-btn")
        include ../../components/member/order-detail-info/index.pug
        include ../../components/member/order-detail-invoice/index.pug
        include ../../components/member/order-detail-summary/index.pug