.benefits-banner-brands
    ul 
        li
            img(src=require('Images/aselsan.png') alt="Aselsan")
        li
            img(src=require('Images/roketsan.png'), alt="Roketsan")
        li
            img(src=require('Images/turkish-technic.png'), alt="Turkhish Technic")
        li
            img(src=require('Images/mercedes-benz.png'), alt="Mercedes Benz")