- var authenticated= true

.site-mobile-header
    .site-mobile-header-hamburger
        i.icon.icon-hamburger
    .site-mobile-header-logo 
        a(href="/")
            img(src=require('Images/logo.svg') alt="Prodigma")
    .site-mobile-header-auth
        i.icon.icon-cart
    .site-mobile-header-wrapper
        .site-mobile-header-wrapper-top
            .site-mobile-header-wrapper-top-close 
                i.icon.icon-close
            .site-mobile-header-wrapper-top-title MENÜ
            .site-mobile-header-wrapper-top-member 
                case authenticated
                    when authenticated= true
                        .mmbr TA
                    when authenticated= false
                        i.icon.icon-cart
        .site-mobile-header-nav
            ul
                li 
                    a(href="#")
                        |Hakkımızda
                    .site-mobile-header-list
                        ul
                            li
                                a(href="#")
                                    .title Manifesto
                                    .desc Prodigma 3D tasarımların gerçek nesnelere dönüştürülmesine aracı olan bir dijital üretim ekosistemidir.
                            li
                                a(href="#")
                                    .title Sürdürülebilirlik
                                    .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            li
                                a(href="#")
                                    .title Kariyer
                                    .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            li
                                a(href="#")
                                    .title İletişim
                                    .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                li
                    a(href="#")
                        |Hizmetler
                    .site-mobile-header-list.site-mobile-header-list-img
                        ul
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="3D Baskı")
                                    .text
                                        .title 3D Baskı
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Sac Metal İşleme")
                                    .text
                                        .title Sac Metal İşleme
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="CNC İşleme")
                                    .text
                                        .title CNC İşleme
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Endüstriyel Tasarım")
                                    .text
                                        .title Endüstriyel Tasarım
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Silikon Kalıplama")
                                    .text
                                        .title Silikon Kalıplama
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="3D Tarama ve Tersine Mühendislik")
                                    .text
                                        .title 3D Tarama ve Tersine Mühendislik
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Enjeksiyon Kalıplama")
                                    .text
                                        .title Enjeksiyon Kalıplama
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Ardıl İşlemler")
                                    .text
                                        .title Ardıl İşlemler
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                li
                    a(href="#")
                        |Malzemeler
                    .site-mobile-header-list.site-mobile-header-list-img            
                        ul 
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="3D Baskı")
                                    .text
                                        .title 3D Baskı
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                .site-mobile-header-list-img-submenu
                                    .site-mobile-header-list-img-header
                                        .site-mobile-header-list-img-header-history
                                            a(href="#")(class="back-to-history")
                                                i.icon.icon-arrow-left
                                                |Back Title
                                        a(href="#")(class="back-to-close")
                                            i.icon.icon-close
                                    ul
                                        li 
                                            a(href="#")
                                                |Termoplastikler
                                            ul
                                                li 
                                                    a(href="#")|P-PLA
                                                li 
                                                    a(href="#")|Onyx
                                                li 
                                                    a(href="#")|Onyx FR
                                                li 
                                                    a(href="#")|Onyx FR-A
                                        li 
                                            a(href="#")
                                                |Sürekli Fiberler
                                            ul 
                                                li 
                                                    a(href="#")|Kevlar 
                                                li 
                                                    a(href="#")|Fiberglas 
                                                li 
                                                    a(href="#")|HSHT Fiberglas 
                                                li 
                                                    a(href="#")|Karbon Fiber 
                                                li 
                                                    a(href="#")|Karbon Fiber FR 
                                                li 
                                                    a(href="#")|Karbon Fiber FR-A 
                                        li 
                                            a(href="#")
                                                |Fotopolimerler
                                            ul 
                                                li 
                                                    a(href="#")|ABS like White 
                                                li 
                                                    a(href="#")|ABS Like Brown 
                                                li 
                                                    a(href="#")|Proto45
                                                li 
                                                    a(href="#")|Flexible
                                                li 
                                                    a(href="#")|Proflex
                                                li 
                                                    a(href="#")|Clear
                                        li 
                                            a(href="#")
                                                |Metaller
                                            ul 
                                                li 
                                                    a(href="#")|17-4 Paslanmaz Çelik
                                                li 
                                                    a(href="#")|Alüminyum
                                                li 
                                                    a(href="#")|Titanyum
                                                li 
                                                    a(href="#")|Inconel 625
                                                li 
                                                    a(href="#")|H13 Takım Çeliği
                                                li 
                                                    a(href="#")|A2 ve D2 Takım Çelikleri
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="CNC İşleme")
                                    .text
                                        .title CNC İşleme
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Silikon Kalıplama")
                                    .text
                                        .title Silikon Kalıplama
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="CNC Baskı Malzemeleri")
                                    .text
                                        .title CNC Baskı Malzemeleri
                                        .desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                li
                    a(href="#")
                        |Prodigma +
        .site-mobile-header-start-project
            +button('Proje Başlat', 'light', 'm', false)
        .site-mobile-header-social 
            .site-mobile-header-social-title Bizi takip Edin
            ul
                li
                    a(href="")
                        i.icon.icon-facebook
                    li 
                        a(href="")
                            i.icon.icon-twitter
                    li 
                        a(href="")
                            i.icon.icon-instagram
                    li 
                        a(href="")
                            i.icon.icon-youtube