.site-mobile-header 
    .site-mobile-header-hamburger 
        i.icon.icon-hamburger
    .site-mobile-header-logo 
        a(href="/")
            img(src=require('Images/logo.svg') alt="pug logo")
    .site-mobile-header-auth
        i.icon.icon-cart