.site-mobile-header
    .site-mobile-header-hamburger
        i.icon.icon-hamburger
    .site-mobile-header-logo 
        a(href="/")
            img(src=require('Images/logo.svg') alt="Prodigma 3D")
    .site-mobile-header-auth
        a(href="javascript:void(0);")(id="js-mobile-basket-redirect-btn", hidden)
            i.icon.icon-cart
        a(href="/login.html")(id="js-mobile-login-redirect-btn")
            i.icon.icon-member
    .site-mobile-header-wrapper
        .site-mobile-header-wrapper-top
            .site-mobile-header-wrapper-top-close 
                i.icon.icon-close
            .site-mobile-header-wrapper-top-title MENÜ
            .site-mobile-header-wrapper-top-member
                .mmbr(id="js-mobile-mmbr-info", hidden)|TA
                a(href="/login.html")(id="js-mobile-mmbr-login-redirect")
                    i.icon.icon-member
        .site-mobile-header-nav
            ul
                li 
                    a(href="javascript:void(0);")
                        |Hakkımızda
                    .site-mobile-header-list
                        ul
                            li
                                a(href="#")
                                    .title|Manifesto
                                    .desc|Müşterilerimize talepleri doğrultusunda yaptıklarımız.
                            li
                                a(href="#")
                                    .title|Sürdürülebilirlik
                                    .desc|Ekibimizin bir parçası olmak için mevcut kariyer fırsatları.
                            li
                                a(href="#")
                                    .title|Kariyer
                                    .desc|Dönüştürülebilir kaynaklar kullanılmasına olanak sağlayan teknolojiler ile üretim imkanı.
                            li
                                a(href="#")
                                    .title|İletişim
                                    .desc|İletişime geçmek istediğiniz her konu için ihtiyacınız olan bilgiler
                li
                    a(href="javascript:void(0);")
                        |Hizmetler
                    .site-mobile-header-list.site-mobile-header-list-img
                        ul
                            li
                                a(href="/hizmetler-3d-baski.html")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="3D Baskı")
                                    .text
                                        .title 3D Baskı
                                        .desc CAD ortamında tasarlanmış veya 3D taranmış modelin baskı işlemleri.
                            li
                                a(href="/hizmetler-cnc-isleme.html")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="CNC İşleme")
                                    .text
                                        .title CNC İşleme
                                        .desc Plastik veya metal endüstriyel parçaların hızlı ve ultra hassasiyetli üretim işlemleri.
                            li
                                a(href="/hizmetler-sac-metal-sekillendirme.html")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Sac Metal İşleme")
                                    .text
                                        .title Sac Metal Şekillendirme
                                        .desc Yüksek hassasiyetli metal kesim ve büküm işlemleri.
                            li
                                a(href="/hizmetler-3d-tarama-tersine-muhendislik.html")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="3D Tarama ve Tersine Mühendislik")
                                    .text
                                        .title 3D Tarama ve Tersine Mühendislik
                                        .desc 3D datası mevcut olmayan parçanın 3D tarama ile elde edilmesi ve elde edilen datanın 3 boyutlu modellenmesi işlemleri.
                            li
                                a(href="/hizmetler-endustriyel-tasarim.html")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Endüstriyel Tasarım")
                                    .text
                                        .title Endüstriyel Tasarım
                                        .desc Yeni fikirlerin konseptten uygulamaya kadar olan tüm süreci
                            li
                                a(href="/hizmetler-ardil-islemler.html")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Ardıl İşlemler")
                                    .text
                                        .title Ardıl İşlemler
                                        .desc 3D baskı ile üretilen parçaların yüzey iyileştirme işlemleri
                li
                    a(href="javascript:void(0);")
                        |Malzemeler
                    .site-mobile-header-list.site-mobile-header-list-img            
                        ul 
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="3D Baskı Malzemeleri")
                                    .text
                                        .title 3D Baskı Malzemeleri
                                        .desc Plastik ve metal 3D baskı malzeme detayı
                                .site-mobile-header-list-img-submenu
                                    .site-mobile-header-list-img-header
                                        .site-mobile-header-list-img-header-history
                                            a(href="#")(class="back-to-history")
                                                i.icon.icon-arrow-left
                                                |Back Title
                                        a(href="#")(class="back-to-close")
                                            i.icon.icon-close
                                    ul
                                        li 
                                            a(href="#")
                                                |Termoplastikler
                                            ul
                                                li 
                                                    a(href="#")|P-PLA
                                                li 
                                                    a(href="#")|Onyx
                                                li 
                                                    a(href="#")|Onyx FR
                                                li 
                                                    a(href="#")|Onyx FR-A
                                        li 
                                            a(href="#")
                                                |Sürekli Fiberler
                                            ul 
                                                li 
                                                    a(href="#")|Kevlar 
                                                li 
                                                    a(href="#")|Fiberglas 
                                                li 
                                                    a(href="#")|HSHT Fiberglas 
                                                li 
                                                    a(href="#")|Karbon Fiber 
                                                li 
                                                    a(href="#")|Karbon Fiber FR 
                                                li 
                                                    a(href="#")|Karbon Fiber FR-A 
                                        li 
                                            a(href="#")
                                                |Fotopolimerler
                                            ul 
                                                li 
                                                    a(href="#")|ABS like White 
                                                li 
                                                    a(href="#")|ABS Like Brown 
                                                li 
                                                    a(href="#")|Proto45
                                                li 
                                                    a(href="#")|Flexible
                                                li 
                                                    a(href="#")|Proflex
                                                li 
                                                    a(href="#")|Clear
                                        li 
                                            a(href="#")
                                                |Metaller
                                            ul 
                                                li 
                                                    a(href="#")|17-4 Paslanmaz Çelik
                                                li 
                                                    a(href="#")|Alüminyum
                                                li 
                                                    a(href="#")|Titanyum
                                                li 
                                                    a(href="#")|Inconel 625
                                                li 
                                                    a(href="#")|H13 Takım Çeliği
                                                li 
                                                    a(href="#")|A2 ve D2 Takım Çelikleri
                            li
                                a(href="#")
                                    .img
                                        img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="CNC Baskı Malzemeleri")
                                    .text
                                        .title CNC Baskı Malzemeleri
                                        .desc CNC işleme malzeme detayı
                li
                    a(href="javascript:void(0);")
                        |Prodigma +
        .site-mobile-header-start-project
            +button('Proje Başlat', 'green', 'm', false)(href='/login.html')
        .site-mobile-header-social 
            .site-mobile-header-social-title Bizi takip Edin
            ul
                li
                    a(href="https://www.linkedin.com/company/prodigma-co", target="_blank")
                        i.icon.icon-linkdn
                //-li 
                    a(href="")
                        i.icon.icon-twitter
                li 
                    a(href="https://www.instagram.com/prodigma.co", target="_blank")
                        i.icon.icon-instagram
                li 
                    a(href="https://www.youtube.com/@prodigma6319", target="_blank")
                        i.icon.icon-youtube