//Quadruple Banner
.quadruple-banner {
  background: linear-gradient(270deg, #190049 0%, #4500c2 100%);
  &-wrapper {
    @apply container mx-auto;
    @apply lg:px-5;
  }
  //- Desktop
  &-header {
    &-title {
      @apply font-heading text-2xl leading-7 pt-10 pb-6 text-center font-medium text-white px-4;
      @apply lg:text-4xl lg:leading-[50px] lg:pt-20 lg:pb-16;
    }
  }
  &-body {
    @apply hidden flex-row justify-between gap-12;
    @apply lg:flex lg:pb-24;
    &-img {
      @apply relative;
      @apply lg:w-[55%] lg:max-w-[55%];
      /*&::after {
        content: "";
        @apply hidden absolute top-0 left-0 z-[1] w-full h-full bg-contain bg-[url('../../../assets/img/animation-vectorel.svg')] bg-no-repeat translate-y-[70px];
      }*/
      img {
        @apply mx-auto;
      }
    }
    &-right {
      @apply text-right relative overflow-hidden h-[50vh] min-h-[640px];
      @apply lg:w-[45%] max-w-[45%];
      &-wrapper {
        @apply w-full max-w-full relative overflow-y-auto max-h-[640px] pr-5;
        &::-webkit-scrollbar {
          display: none;
        }
        -webkit-mask-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.5, rgba(0, 0, 0, 1)),
          color-stop(1, rgba(0, 0, 0, 0))
        );
      }
      &::after {
        @apply block content-[""] absolute bottom-0 right-0 w-full h-40;
        -webkit-mask-image: -webkit-gradient(
          linear,
          left bottom,
          left top,
          color-stop(0.5, rgba(0, 0, 0, 1)),
          color-stop(1, rgba(0, 0, 0, 0))
        );
      }
      ul {
        position: relative;
        top: 280px;
        transition: transform 0.3s;
        overflow: hidden;
        li {
          @apply h-[280px] overflow-hidden;
          transition: transform 0.3s;
          line-height: 280px;
          &:last-of-type {
            padding-bottom: 280px;
          }
          p {
            @apply font-heading text-2xl font-medium text-green-300 pb-4;
            @apply lg:text-4xl;
          }
          span {
            @apply block font-inter font-normal text-base text-white pb-5;
          }
          a {
            @apply text-white underline font-inter font-medium text-base;
          }
        }
      }
    }
  }
  //-Mobile
  &-mobile {
    @apply flex flex-col overflow-hidden;
    @apply lg:hidden;
    &-body {
      &-img {
        @apply relative mx-5 pb-10;
        img {
          @apply relative z-[2] rounded-full items-center justify-center mx-auto;
        }
        &::after {
          content: "";
          @apply absolute top-0 left-0 z-[1] w-full h-full bg-contain bg-[url('../../../assets/img/animation-vectorel.svg')] bg-no-repeat translate-y-[30px];
        }
      }
      &-content {
        @apply py-10;
        ul {
          @apply overflow-x-auto whitespace-nowrap;
          -webkit-overflow-scrolling: touch;
          -ms-overflow-style: -ms-autohiding-scrollbar;
          &::-webkit-scrollbar {
            display: none;
          }
          li {
            @apply w-72 inline-block align-top px-5 border-r last:border-r-0 whitespace-normal;
            @apply md:w-[350px];
            p {
              @apply max-w-[240px] min-h-[90px] font-heading font-medium text-2xl leading-6 text-purple-100 pb-[10px];
            }
            span {
              @apply font-inter font-normal text-sm text-white pb-3;
              @apply max-w-[210px];
            }
            a {
              @apply flex font-heading font-medium text-sm leading-[17px] underline text-white mt-3;
            }
          }
        }
      }
    }
  }
}
