.quadruple-banner
    //-.quadruple-banner-wrapper
        //-.quadruple-banner-header 
            .quadruple-banner-header-title 
                p Üretimin Geleceğini Prodigma ile Keşfedin!
        //-.quadruple-banner-body
            .quadruple-banner-body-img
                +picture({sm:require("Images/how-the-works-prodigma.png"), lg:require("Images/how-the-works-prodigma.png")})
            .quadruple-banner-body-right
                .quadruple-banner-body-right-wrapper
                    ul
                    //-ul 
                        li.active
                            div
                                p|Hızlı Fiyatlandırma
                                span|Prodigma ile hızlı fiyat teklifi deneyimi, iş akışınızı ve parçalarınızın üretilmesini her zamankinden daha kolay hale getirecektir. Yapmanız gereken tek şey dosyanızı yüklemek ve fiyat teklifinizi görüntülemek.
                        li 
                            div
                                p|Talebe Yönelik ve Dilediğiniz Adette Üretim Çeşitliliği
                                span|Yüklemiş olduğunuz tasarım dosyası ile beraber kolaylıkla malzeme ve adet seçimi yapabilirsiniz. Bir parça spesifikasyonunu her değiştirdiğinizde, fiyat teklifi anında yeniden hesaplanır. Bu sayede talebe özel dilediğiniz adette sipariş vermek sizler için en pratik hale gelir.
                        li 
                            div
                                p|Yüksek Kalitede Parçalar
                                span|Teslimattan önce parça fotoğraflarına ve üretim aşamalarına erişim sağlayabilir, siparişiniz elinize ulaşmadan önce üretim detayları ile ilgili bilgi sahibi olabilirsiniz.
                        li 
                            div
                                p|Adrese Teslim Hizmet
                                span|Parçalarınızın hasar görmeden zamanında elinize ulaşması için ürün paketlemesi konusunda son derece hassas davranıyor, anlaşmalı olduğumuz kargo şirketlerinin takip numaralarını sizlerle paylaşıyoruz.
        .quadruple-banner-mobile
            .quadruple-banner-mobile-body 
                .quadruple-banner-mobile-body-content 
                    ul 
                        li 
                            p|Hızlı Fiyatlandırma
                            span|Prodigma ile hızlı fiyat teklifi deneyimi, iş akışınızı ve parçalarınızın üretilmesini her zamankinden daha kolay hale getirecektir. Yapmanız gereken tek şey dosyanızı yüklemek ve fiyat teklifinizi görüntülemek.
                            //-a(href="/proje-baslat.html") Anında Teklif Alın
                        li 
                            p|Talebe Yönelik ve Dilediğiniz Adette Üretim Çeşitliliği
                            span|Yüklemiş olduğunuz tasarım dosyası ile beraber kolaylıkla malzeme ve adet seçimi yapabilirsiniz. Bir parça spesifikasyonunu her değiştirdiğinizde, fiyat teklifi anında yeniden hesaplanır. Bu sayede talebe özel dilediğiniz adette sipariş vermek sizler için en pratik hale gelir.
                            //- a(href="/proje-baslat.html") Anında Teklif Alın
                        li 
                            p|Yüksek Kalitede Parçalar
                            span|Teslimattan önce parça fotoğraflarına ve üretim aşamalarına erişim sağlayabilir, siparişiniz elinize ulaşmadan önce üretim detayları ile ilgili bilgi sahibi olabilirsiniz.
                            //-a(href="/proje-baslat.html") Anında Teklif Alın
                        li 
                            p|Adrese Teslim Hizmet
                            span|Parçalarınızın hasar görmeden zamanında elinize ulaşması için ürün paketlemesi konusunda son derece hassas davranıyor, anlaşmalı olduğumuz kargo şirketlerinin takip numaralarını sizlerle paylaşıyoruz.
                            //-a(href="/proje-baslat.html") Anında Teklif Alın
                .quadruple-banner-mobile-body-img 
                    +picture({sm:require("Images/how-the-works-prodigma.png"), lg:require("Images/how-the-works-prodigma.png")})