.quadruple
    .quadruple-wrapper
        .quadruple-title
            p Prodigma Nasıl Çalışır?
        .quadruple-banner
            .quadruple-banner-left
                ul 
                    li 
                        p Anında Fiyatlandırma  Geri Bildirimi Alın
                        span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                        a(href="#") Anında Teklif Alın
                    li 
                        p DFM İle Tasarımlarınızı Optimize Edin
                        span Parçalarınızı üretilebilirlik açısından analiz ederek size maliyet etkenlerine ve potansiyel üretim risklerine ilişkin tam görünürlük sağlayacağız.
                        a(href="#") Platform özelliklerini keşfedin
            .quadruple-banner-img
                +picture({lg:"https://via.placeholder.com/524x484"})(alt="Banner Img")      
            .quadruple-banner-right
                ul 
                    li 
                        p Parçalarınızı  Gelmeden Önce Görün
                        span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                        a(href="#") Şeffaflık özelliklerini keşfedin
                    li 
                        p Lorem ipsum dolor sit amet, consectetur 
                        span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                        a(href="#") Anında Teklif Alın
        .quadruple-mBanner 
            .quadruple-img 
                +picture({sm:"https://via.placeholder.com/299x299"})(alt="Banner Mobile Img")
            .quadruple-content 
                ul 
                    li 
                        p Anında Fiyatlandırma  Geri Bildirimi Alın
                        span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                        a(href="#") Anında Teklif Alın
                    li 
                        p Anında Fiyatlandırma  Geri Bildirimi Alın
                        span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                        a(href="#") Anında Teklif Alın
                    li 
                        p Anında Fiyatlandırma  Geri Bildirimi Alın 
                        span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                        a(href="#") Anında Teklif Alın
                    li 
                        p Anında Fiyatlandırma  Geri Bildirimi Alın
                        span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                        a(href="#") Anında Teklif Alın

                
       