.quadruple-banner
    .quadruple-banner-wrapper
        .quadruple-banner-header 
            .quadruple-banner-header-title 
                p Discover the Future of Production with Prodigma!
        .quadruple-banner-body
            .quadruple-banner-body-img
                +picture({sm:require("Images/how-the-works-prodigma.png"), lg:require("Images/how-the-works-prodigma.png")})
            .quadruple-banner-body-right
                .quadruple-banner-body-right-wrapper
                    ul 
                        li.active
                            div
                                p|Quick Quotation
                                span|Quick quotation with Prodigma will make your workflow and production of your parts easier than ever before. All you have to do is upload your file and view our price quotation.
                                //-a(href="#") Şeffaflık özelliklerini keşfedin
                        li 
                            div
                                p|Production Diversity on Demand and in any Quantity You Wish
                                span|You can easily select material and quantity with the design file you have uploaded. Every time you change a part specification, the price quotation is instantly recalculated. In this way, the platform becomes the most practical for you to place an order in the quantity you want.
                                //-a(href="#") Anında Teklif Alın
                        li 
                            div
                                p|High Quality Parts
                                span|Before delivery, you can access part photos and production stages, and have information about production details before your order is delivered.
                                //-a(href="#") Anında Teklif Alın
                        li 
                            div
                                p|Delivery to Address Service
                                span|In order for your parts to reach you on time without any damage, we are extremely careful about product packaging and share with you the tracking numbers of the courier companies we have contracted with.
                                //-a(href="#") Platform özelliklerini keşfedin
        .quadruple-banner-mobile
            .quadruple-banner-mobile-body 
                .quadruple-banner-mobile-body-content 
                    ul 
                        li 
                            p|Quick Quotation
                            span|Quick quotation with Prodigma will make your workflow and production of your parts easier than ever before. All you have to do is upload your file and view our price quotation.
                            //-a(href="/proje-baslat.html") Anında Teklif Alın
                        li 
                            p|Production Diversity on Demand and in any Quantity You Wish
                            span|You can easily select material and quantity with the design file you have uploaded. Every time you change a part specification, the price quotation is instantly recalculated. In this way, the platform becomes the most practical for you to place an order in the quantity you want.
                            //-a(href="/proje-baslat.html") Anında Teklif Alın
                        li 
                            p|High Quality Parts
                            span|Before delivery, you can access part photos and production stages, and have information about production details before your order is delivered.
                            //-a(href="/proje-baslat.html") Anında Teklif Alın
                        li 
                            p|Delivery to Address Service
                            span|In order for your parts to reach you on time without any damage, we are extremely careful about product packaging and share with you the tracking numbers of the courier companies we have contracted with.
                            //-a(href="/proje-baslat.html") Anında Teklif Alın
                .quadruple-banner-mobile-body-img 
                    +picture({sm:require("Images/how-the-works-prodigma.png"), lg:require("Images/how-the-works-prodigma.png")})