.quadruple-banner
    .quadruple-banner-wrapper
        .quadruple-banner-header 
            .quadruple-banner-header-title 
                p Prodigma Nasıl Çalışır?
        .quadruple-banner-body
            .quadruple-banner-body-left
                ul 
                    li 
                        p Anında Fiyatlandırma Geri Bildirimi Alın
                        span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                        a(href="#") Anında Teklif Alın
                    li 
                        p DFM İle Tasarımlarınızı Optimize Edin
                        span Parçalarınızı üretilebilirlik açısından analiz ederek size maliyet etkenlerine ve potansiyel üretim risklerine ilişkin tam görünürlük sağlayacağız.
                        a(href="#") Platform özelliklerini keşfedin
            .quadruple-banner-body-img
                +picture({sm:require("Images/how-the-works-prodigma.png"), lg:require("Images/how-the-works-prodigma.png")})
            .quadruple-banner-body-right
                ul 
                    li 
                        p Parçalarınızı Gelmeden Önce Görün
                        span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                        a(href="#") Şeffaflık özelliklerini keşfedin
                    li 
                        p Lorem ipsum dolor sit amet, consectetur 
                        span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                        a(href="#") Anında Teklif Alın
        .quadruple-banner-mobile
            .quadruple-banner-mobile-body 
                .quadruple-banner-mobile-body-img 
                    +picture({sm:"https://via.placeholder.com/600x600.png"})
                .quadruple-banner-mobile-body-content 
                    ul 
                        li 
                            p Anında Fiyatlandırma Geri Bildirimi Alın
                            span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                            a(href="#") Anında Teklif Alın
                        li 
                            p Anında Fiyatlandırma Geri Bildirimi Alın
                            span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                            a(href="#") Anında Teklif Alın
                        li 
                            p Anında Fiyatlandırma Geri Bildirimi Alın 
                            span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                            a(href="#") Anında Teklif Alın
                        li 
                            p Anında Fiyatlandırma Geri Bildirimi Alın
                            span Teklifleri geri almak için günler veya haftalar beklemek yok. PRODIGMA, karmaşık parçalar için anında veya bir saat içinde size fiyatlandırma sunar.
                            a(href="#") Anında Teklif Alın