.pmaterials-fibers
    .pmaterials-fibers-wrapper
        .pmaterials-fibers-title
            |Continuous Fiber
        .pmaterials-fibers-desc 
            |By embedding our continuous fiber materials in a composite base material such as Onyx, you can produce parts with up to aluminum strength.
        .pmaterials-fibers-content
            .pmaterials-fibers-content-material
                .pmaterials-fibers-content-material-img
                    +picture({sm:require("Upload/kevlar.jpg"), lg:require("Upload/kevlar.jpg")})(alt="Kevlar")
                .pmaterials-fibers-content-material-title
                    |Kevlar
                .pmaterials-fibers-content-material-detail
                    a(href="javascript:void(0);", data-attr="kevlar")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-kevlar", data-attr="kevlar")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is a continuous fiber known for its strength and stiffness used for high impact applications. It is suitable for use in harsh environments, including body armor and bulletproofing. It is used to produce impact resistant parts that are almost completely immune to breakage.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test (ASTM)
                                        .px-1.py-1.text-center|Kevlar
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus (GPa)
                                        .px-1.py-1.text-center|D3039
                                        .px-1.py-1.text-center|27
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Stress at Break (%)
                                        .px-1.py-1.text-center
                                            |D3039
                                        .px-1.py-1.text-center|2.7
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|26
                                    li.col-body
                                        .px-1.py-1.text-center|Heat Deviation Temperature (ºC)
                                        .px-1.py-1.text-center
                                            |D648 B
                                        .px-1.py-1.text-center|105
                                .text-sm.mt-5|Print capacity: 330mm x 270mm x200mm
            .pmaterials-fibers-content-material
                .pmaterials-fibers-content-material-img
                    +picture({sm:require("Upload/fiberglas.jpg"), lg:require("Upload/fiberglas.jpg")})(alt="Fiberglass")
                .pmaterials-fibers-content-material-title
                    |Fiberglass
                .pmaterials-fibers-content-material-detail
                    a(href="javascript:void(0);", data-attr="fiberglas")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-fiberglas", data-attr="fiberglas")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is a durable continuous fiber used for industrial applications, known for its energy absorption and stiffness. It enables the production of parts 10 times stronger than ABS.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test (ASTM)
                                        .px-1.py-1.text-center|Fiberglass
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus (GPa)
                                        .px-1.py-1.text-center|D3039
                                        .px-1.py-1.text-center|21
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Stress at Break (%)
                                        .px-1.py-1.text-center
                                            |D3039
                                        .px-1.py-1.text-center|3.8
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|22
                                    li.col-body
                                        .px-1.py-1.text-center|Heat Deviation Temperature(ºC)
                                        .px-1.py-1.text-center
                                            |D648 B
                                        .px-1.py-1.text-center|105
                                .text-sm.mt-5|Print capacity: 330mm x 270mm x 200mm
            .pmaterials-fibers-content-material
                .pmaterials-fibers-content-material-img
                    +picture({sm:require("Upload/hsht-fiberglas.jpg"), lg:require("Upload/hsht-fiberglas.jpg")})(alt="HSHT Fiberglass")
                .pmaterials-fibers-content-material-title
                    |HSHT Fiberglass
                .pmaterials-fibers-content-material-detail
                    a(href="javascript:void(0);", data-attr="hshtfiberglas")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-hshtfiberglas", data-attr="hshtfiberglas")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is a thermally resistant fiberglass used for strong parts in high temperature environments.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test (ASTM)
                                        .px-1.py-1.text-center|HSHT Fiberglass
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus (GPa)
                                        .px-1.py-1.text-center|D3039
                                        .px-1.py-1.text-center|21
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Stress at Break (%)
                                        .px-1.py-1.text-center
                                            |D3039
                                        .px-1.py-1.text-center|3.9
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|21
                                    li.col-body
                                        .px-1.py-1.text-center|Heat Deviation Temperature(ºC)
                                        .px-1.py-1.text-center
                                            |D648 B
                                        .px-1.py-1.text-center|150
                                .text-sm.mt-5|Print capacity: 330mm x 270mm x 200mm
            .pmaterials-fibers-content-material
                .pmaterials-fibers-content-material-img
                    +picture({sm:require("Upload/karbon-fiber.jpg"), lg:require("Upload/karbon-fiber.jpg")})(alt="Carbon Fiber")
                .pmaterials-fibers-content-material-title
                    |Carbon Fiber
                .pmaterials-fibers-content-material-detail
                    a(href="javascript:void(0);", data-attr="karbonfiber")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-karbonfiber", data-attr="karbonfiber")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is an ultra high strength continuous fiber. It is used to produce extremely hard and strong parts that provide aluminum strength.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test (ASTM)
                                        .px-1.py-1.text-center|Carbon Fiber
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus (GPa)
                                        .px-1.py-1.text-center|D3039
                                        .px-1.py-1.text-center|60
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Stress at Break (%)
                                        .px-1.py-1.text-center
                                            |D3039
                                        .px-1.py-1.text-center|1.5
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|51
                                    li.col-body
                                        .px-1.py-1.text-center|Heat Deviation Temperature(ºC)
                                        .px-1.py-1.text-center
                                            |D648 B
                                        .px-1.py-1.text-center|105
                                .text-sm.mt-5|Print capacity: 330mm x 270mm x 200mm
            .pmaterials-fibers-content-material
                .pmaterials-fibers-content-material-img
                    +picture({sm:require("Upload/karbon-fiber-fr.jpg"), lg:require("Upload/karbon-fiber-fr.jpg")})(alt="Carbon Fiber FR")
                .pmaterials-fibers-content-material-title
                    |Carbon Fiber FR
                .pmaterials-fibers-content-material-detail
                    a(href="javascript:void(0);", data-attr="karbonfiberfr")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-karbonfiberfr", data-attr="karbonfiberfr")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is the non-flammable type of carbon fiber, that is noncombustible.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test (ASTM)
                                        .px-1.py-1.text-center|Carbon Fiber FR
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus (GPa)
                                        .px-1.py-1.text-center|D3039
                                        .px-1.py-1.text-center|57
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Stress at Break (%)
                                        .px-1.py-1.text-center
                                            |D3039
                                        .px-1.py-1.text-center|1.6
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|50
                                    li.col-body
                                        .px-1.py-1.text-center|Heat Deviation Temperature(ºC)
                                        .px-1.py-1.text-center
                                            |D648 B
                                        .px-1.py-1.text-center|105
                                .text-sm.mt-5|Print capacity: 330mm x 270mm x 200mm
            .pmaterials-fibers-content-material
                .pmaterials-fibers-content-material-img
                    +picture({sm:require("Upload/karbon-fiber-fra.jpg"), lg:require("Upload/karbon-fiber-fra.jpg")})(alt="Carbon Fiber FR-A")
                .pmaterials-fibers-content-material-title
                    |Carbon Fiber FR-A
                .pmaterials-fibers-content-material-detail
                    a(href="javascript:void(0);", data-attr="karbonfiberfra")|Material Detail
                        i.icon.icon-arrow-right
                    .modal(id="modal-cnc-karbonfiberfra", data-attr="karbonfiberfra")
                        .modal-bg
                        .modal-container
                            button(class="modal-close modal-exit")
                                i.icon.icon-close
                            .modal-container-append-html
                                .text-xs.mb-5|It is the non-flammable Carbon Fiber FR specially produced for the requirements of transportation industries such as aviation and automotive. It is certified to be used in these industries.
                                ul.pmaterials-tables.border.border-custom-100 
                                    li.col-head.border-b.border-custom-100
                                        .px-1.py-1.text-center|Test (ASTM)
                                        .px-1.py-1.text-center|Carbon Fiber FR-A
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Modulus (GPa)
                                        .px-1.py-1.text-center|D3039
                                        .px-1.py-1.text-center|57
                                    li.col-body
                                        .px-1.py-1.text-center|Tensile Stress at Break (%)
                                        .px-1.py-1.text-center
                                            |D3039
                                        .px-1.py-1.text-center|1.6
                                    li.col-body
                                        .px-1.py-1.text-center|Flexural Modulus (GPa)
                                        .px-1.py-1.text-center
                                            |D790
                                            sup|1
                                        .px-1.py-1.text-center|50
                                    li.col-body
                                        .px-1.py-1.text-center|Heat Deviation Temperature(ºC)
                                        .px-1.py-1.text-center
                                            |D648 B
                                        .px-1.py-1.text-center|105
                                .text-sm.mt-5|Print capacity: 330mm x 270mm x 200mm