.pwebinar-body-double-banner
    ul 
        li
            a(href="javascript:void(0);") 
                +picture({sm:require("Images/webinar_list_1_mb.png"),lg:require("Images/webinar_list_1_lg.png")})(alt="Prodigma webinar") 
        li
            a(href="javascript:void(0);") 
                +picture({sm:require("Images/webinar_list_2_mb.png"),lg:require("Images/webinar_list_2_lg.png")})(alt="Prodigma webinar") 