.pwebinar-body-double-banner
    ul 
        li
            a(href="") 
                +picture({sm:"https://via.placeholder.com/590x300",  lg:"https://via.placeholder.com/590x300"})(alt="img alt") 
        li
            a(href="") 
                +picture({sm:"https://via.placeholder.com/590x300",  lg:"https://via.placeholder.com/590x300"})(alt="img alt") 