.pabout-counter-banner
    ul 
        li 
            p %92
            span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. 
        li 
            p 1000 +
            span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor. 
        li 
            p 600
            span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.  