.swiper-paralax-container
    .swiper-paralax-wrapper 
        .swiper.swiper-paralax
            .parallax-bg(class="parallax-bg", style=`background-image: url(${require('Images/paralax-banner.png')})` data-swiper-parallax="-20%")
            .swiper-wrapper
                .swiper-slide
                    .title(data-swiper-parallax-y="-100" data-swiper-parallax-duration="300")|Gizlilik
                    .subtitle(data-swiper-parallax-y="-200" data-swiper-parallax-duration="600")|Gizliliğiniz bizim için önemlidir. Web Sitemizi ziyaret ettiğinizde veya hizmetlerimizi kullanırken kişisel bilgilerinizin toplanması ve kullanılmasına ilişkin uygulamalarımız hakkında sizi bilgilendiriyoruz. Tarafımıza ilettiğiniz bilgiler sunduğumuz hizmeti işletmek, sürdürmek ve geliştirmek için kullanılmaktadır.
                .swiper-slide
                    .title(data-swiper-parallax-y="-100" data-swiper-parallax-duration="300")|Sürdürülebilirlik
                    .subtitle(data-swiper-parallax-y="-200" data-swiper-parallax-duration="600")|3D baskı, havacılık ve medikal sektörleri gibi düşük hacimli, özelleştirilmiş ve yüksek değerli üretim zincirlerine sahip pazarlarda üretim girdilerini ve çıktılarını uygun maliyetli bir şekilde azaltmakla tanınır. Bu, tüm ürün yaşam döngüsü boyunca enerji kullanımını, kaynak taleplerini ve ilgili CO2 emisyonlarını düşürür, iş gücü yapılarında değişikliklere neden olur ve daha dijital ve yerelleştirilmiş tedarik zincirlerine doğru yönelime neden olur.
            .swiper-pagination.hidden