.swiper-paralax-wrapper 
    .swiper.swiper-paralax
        .parallax-bg(class="parallax-bg", style=`background-image: url(${require('Images/paralax-banner.png')})` data-swiper-parallax="-20%")
        .swiper-wrapper
            .swiper-slide
                .title(data-swiper-parallax-y="-100" data-swiper-parallax-duration="300") Sürdürülebilirlik
                .subtitle(data-swiper-parallax-y="-200" data-swiper-parallax-duration="600") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .swiper-slide
                .title(data-swiper-parallax-y="-100" data-swiper-parallax-duration="300") Döngüsel Ekonomi
                .subtitle(data-swiper-parallax-y="-200" data-swiper-parallax-duration="600") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .swiper-slide
                .title(data-swiper-parallax-y="-100" data-swiper-parallax-duration="300") Sürdürülebilirlik
                .subtitle(data-swiper-parallax-y="-200" data-swiper-parallax-duration="600") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            .swiper-slide
                .title(data-swiper-parallax-y="-100" data-swiper-parallax-duration="300") Döngüsel Ekonomi
                .subtitle(data-swiper-parallax-y="-200" data-swiper-parallax-duration="600") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        .swiper-pagination.hidden 