.swiper-paralax-container
    .swiper-paralax-wrapper 
        .swiper.swiper-paralax
            //-.parallax-bg(class="parallax-bg", style=`background-image: url(${require('Images/paralax-banner.png')})` data-swiper-parallax="-20%")
            .swiper-wrapper
                .swiper-slide
                    .txt-abs
                        .title(data-swiper-parallax-y="-400" data-swiper-parallax-duration="400")|Privacy
                        .subtitle(data-swiper-parallax-y="-400" data-swiper-parallax-duration="400")|Your privacy is important to us. We inform you about our practices regarding the collection and use of your personal information when you visit our Website or use our services. The information you provide to us is used to operate, maintain and improve the service we provide.
                    +picture({sm:require("Upload/slider-gizlilik-mb.jpg"), lg:require("Upload/slider-gizlilik.jpg")})(alt="Prodigma Privacy")
                .swiper-slide
                    .txt-abs
                        .title(data-swiper-parallax-y="-400" data-swiper-parallax-duration="400")|Sustainability
                        .subtitle(data-swiper-parallax-y="-400" data-swiper-parallax-duration="400")|3D printing is known for cost-effectively reducing production inputs and outputs in markets with low-volume, customized and high-value production chains, such as the aerospace and medical sectors. This reduces energy use, resource demands and associated CO2 emissions across the entire product lifecycle, drives changes in workforce structures, and drives a shift towards more digital and localized supply chains.
                    +picture({sm:require("Upload/slider-surdurulebilirlik-mb.jpg"), lg:require("Upload/slider-surdurulebilirlik.jpg")})(alt="Prodigma Sustainability")
                .swiper-slide
                    .txt-abs
                        .title(data-swiper-parallax-y="-400" data-swiper-parallax-duration="400")|News
                    +picture({sm:require("Upload/slider-sizden-gelenler-mb.jpg"), lg:require("Upload/slider-sizden-gelenler.jpg")})(alt="News")
            .swiper-pagination.hidden