include ../mobile/index.pug

- var authenticated = false 

header.site-header
    .site-header-wrapper
        .site-header-logo
            a(href="/")
                img(src=require('Images/logo.svg') alt="pug logo")
        .site-header-nav
            ul
                li 
                    a(href="/hakkimizda.html")
                        |Hakkımızda
                    .site-header-submenu
                        .site-header-submenu-inner
                            .site-header-submenu-nav
                                ul 
                                    li 
                                        a(href="#")
                                            .nav-t1|Manifesto
                                            .nav-t2|Müşterilerimize talepleri doğrultusunda yaptıklarımız.
                                    li 
                                        a(href="#")
                                            .nav-t1|Sürdürülebilirlik
                                            .nav-t2|Dönüştürülebilir kaynaklar kullanılmasına olanak sağlayan teknolojiler ile üretim imkanı.
                                    li 
                                        a(href="#")
                                            .nav-t1|Kariyer
                                            .nav-t2|Ekibimizin bir parçası olmak için mevcut kariyer fırsatları.
                                    li 
                                        a(href="#")
                                            .nav-t1|İletişim
                                            .nav-t2|İletişime geçmek istediğiniz her konu için ihtiyacınız olan bilgiler
                            .site-header-submenu-banner
                                img(src="img/header-menu-about-img.jpg", alt="Prodigma 3D")
                li 
                    a(href="/hizmetler.html")
                        |Hizmetler
                    .site-header-submenu
                        .site-header-submenu-full
                            ul
                                li
                                    a(href="/hizmetler-3d-baski.html")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="3D Baskı")
                                            .txt
                                                .t1|3D Baskı
                                                .t2|CAD ortamında tasarlanmış veya 3D taranmış modelin baskı işlemleri.
                                li
                                    a(href="/hizmetler-cnc-isleme.html")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="CNC İşleme")
                                            .txt
                                                .t1|CNC İşleme
                                                .t2|Plastik veya metal endüstriyel parçaların hızlı ve ultra hassasiyetli üretim işlemleri.
                                li
                                    a(href="/hizmetler-sac-metal-sekillendirme.html")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Sac Metal Şekillendirme")
                                            .txt
                                                .t1|Sac Metal Şekillendirme
                                                .t2|Yüksek hassasiyetli metal kesim ve büküm işlemleri.
                                li
                                    a(href="/hizmetler-3d-tarama-tersine-muhendislik.html")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="3D Tarama Tersine Mühendislik")
                                            .txt
                                                .t1|3D Tarama & Tersine Mühendislik
                                                .t2|3D datası mevcut olmayan parçanın 3D tarama ile elde edilmesi ve elde edilen datanın 3 boyutlu modellenmesi işlemleri.
                                li
                                    a(href="/hizmetler-endustriyel-tasarim.html")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Endüstriyel Tasarım")
                                            .txt
                                                .t1|Endüstriyel Tasarım
                                                .t2|Yeni fikirlerin konseptten uygulamaya kadar olan tüm süreci
                                li
                                    a(href="/hizmetler-ardil-islemler.html")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Ardıl İşlemler")
                                            .txt
                                                .t1|Ardıl İşlemler
                                                .t2|3D baskı ile üretilen parçaların yüzey iyileştirme işlemleri
                li 
                    a(href="/malzemeler.html")
                        |Malzemeler
                    .site-header-submenu
                        .site-header-submenu-full.site-header-submenu-double
                            ul
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="3D Baskı")
                                            .txt
                                                .t1|3D Baskı Malzemeleri
                                                .t2|Plastik ve metal 3D baskı malzeme detayı
                                    .site-header-submenu-bottom
                                        .site-header-submenu-bottom-inner
                                            ul 
                                                li 
                                                    .title Termoplastikler
                                                    ul 
                                                        li 
                                                            a(href="")|P-PLA
                                                        li
                                                            a(href="")|Onyx
                                                        li 
                                                            a(href="")|Onyx FR
                                                        li
                                                            a(href="")|Onyx FR-A
                                                li 
                                                    .title Sürekli Fiberler
                                                    ul 
                                                        li 
                                                            a(href="")|Kevlar
                                                        li
                                                            a(href="")|Fiberglas
                                                        li 
                                                            a(href="")|HSHT Fiberglas
                                                        li
                                                            a(href="")|Karbon Fiber
                                                        li
                                                            a(href="")|Karbon Fiber FR
                                                        li
                                                            a(href="")|Karbon Fiber FR-A
                                                li 
                                                    .title Fotopolimerler
                                                    ul 
                                                        li 
                                                            a(href="")|ABS like White
                                                        li
                                                            a(href="")|ABS Like Brown
                                                        li 
                                                            a(href="")|Proto45
                                                        li
                                                            a(href="")|Flexible
                                                        li
                                                            a(href="")|Proflex
                                                        li
                                                            a(href="")|Clear
                                                li 
                                                    .title Metaller
                                                    ul 
                                                        li 
                                                            a(href="")|17-4 Paslanmaz Çelik
                                                        li
                                                            a(href="")|Alüminyum
                                                        li 
                                                            a(href="")|Titanyum
                                                        li
                                                            a(href="")|Inconel 625
                                                        li
                                                            a(href="")|H13 Takım Çeliği
                                                        li
                                                            a(href="")|A2 ve D2 Takım Çelikleri
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="CNC İşleme Malzemeleri")
                                            .txt
                                                .t1|CNC İşleme Malzemeleri
                                                .t2|CNC işleme malzeme detayı
                li 
                    a(href="/prodigma-plus.html")
                        |Prodigma +  
        .site-header-login
            div(hidden)
                .site-header-login-success
                    .site-header-login-success-project
                        +button('Proje Başlat','green','m',false)(href="/proje-baslat.html")
                    .site-header-login-user
                        span TA
                    .site-header-login-success-left
                        span.site-header-login-hello
                            |Hoşgeldiniz
                        span.site-header-login-member
                            |Test Account
                        .site-header-member-menu
                            .site-header-member-menu-header
                                .tt1|Hoş geldiniz,
                                .bttm
                                    .tt2|Test Account
                                    .tt3(id="logout-btn")
                                        button()|Çıkış Yap
                            //-.site-header-member-menu-content
                                ul
                                    li 
                                        a(href="/siparislerim.html")|Siparişlerim
                                    li 
                                        a(href="/bildirimlerim.html")|Bildirimlerim
                                    li 
                                        a(href="/adreslerim.html")|Adreslerim
                                    li 
                                        a(href="/uyelik-bilgilerim.html")|Üyelik Bilgilerim
                                    li 
                                        a(href="/iletisim-izinlerim.html")|İletişim İzinlerim
                                    li 
                                        a(href="/sife-degistirme.html")|Şifre Değiştirme
                                    li 
                                        a(href="/iletisim.html")
                                            |Destek
                                            i.icon.icon-arrow-line
                    .site-header-login-success-cart
                        a(href="javascript:void(0);")
                            i.icon.icon-cart
            .site-header-logoff
                a(href="/login.html") Giriş Yap
            .site-header-lang
                button(id="en")|ENG 
                button(id="tr")|TR 