- var authenticated= true

include ../mobile/index.pug

header.site-header
    .site-header-wrapper
        .site-header-menu-mobile-header 
            .site-header-menu-mobile-header-close 
                i.icon.icon-close
            .site-header-menu-mobile-header-title MENÜ
            .site-header-menu-mobile-header-member 
                case authenticated
                    when authenticated= true
                        .mmbr TA
                    when authenticated= false
                        i.icon.icon-cart
        .site-header-logo
            a(href="/")
                img(src=require('Images/logo.svg') alt="pug logo")
        .site-header-nav
            ul
                li 
                    a(href="/hakkimizda.html") Hakkımızda  
                li 
                    a(href="/hakkimizda.html") Hizmetler  
                li 
                    a(href="/hakkimizda.html") Malzemeler  
                li 
                    a(href="/hakkimizda.html") Prodigma +  
        .site-header-login
            case authenticated
                when authenticated= true
                    .site-header-login-success
                        .site-header-login-success-project
                            +button('Proje Başlat','light','m',false)(href="#")
                        .site-header-login-user
                            span TA
                        .site-header-login-success-left
                            span.site-header-login-hello
                                |Hoşgeldiniz
                            span.site-header-login-member
                                |Test Account
                        .site-header-login-success-cart
                            i.icon.icon-cart
                when authenticated= false
                    .site-header-logoff
                        a(href="/login.html") Giriş Yap
        .site-header-social 
            .site-header-social-title Bizi takip Edin
            ul
                li
                    a(href="")
                        i.icon.icon-facebook
                    li 
                        a(href="")
                            i.icon.icon-twitter
                    li 
                        a(href="")
                            i.icon.icon-instagram
                    li 
                        a(href="")
                            i.icon.icon-youtube