include ../mobile/index.pug

- var authenticated = false 

header.site-header
    .site-header-wrapper
        .site-header-logo
            a(href="/")
                img(src=require('Images/logo.svg') alt="pug logo")
        .site-header-nav
            ul
                li 
                    a(href="/hakkimizda.html")
                        |Hakkımızda
                    .site-header-submenu
                        .site-header-submenu-inner
                            .site-header-submenu-nav
                                ul 
                                    li 
                                        a(href="#")
                                            .nav-t1 Manifesto
                                            .nav-t2 Prodigma 3D tasarımların gerçek nesnelere dönüştürülmesine aracı olan bir dijital üretim ekosistemidir.
                                    li 
                                        a(href="#")
                                            .nav-t1 Sürdürülebilirlik
                                            .nav-t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    li 
                                        a(href="#")
                                            .nav-t1 Manifesto
                                            .nav-t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    li 
                                        a(href="#")
                                            .nav-t1 Manifesto
                                            .nav-t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            .site-header-submenu-banner
                                img(src="https://via.placeholder.com/720x385/FF0000/FFFFFF", alt="Hakkımızda")
                li 
                    a(href="/hizmetler.html")
                        |Hizmetler
                    .site-header-submenu
                        .site-header-submenu-full
                            ul
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="3D Baskı")
                                            .txt
                                                .t1 3D Baskı
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="CNC İşleme")
                                            .txt
                                                .t1 CNC İşleme
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Silikon Kalıplama")
                                            .txt
                                                .t1 Silikon Kalıplama
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Enjeksiyon Kalıplama")
                                            .txt
                                                .t1 Enjeksiyon Kalıplama
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Sac Metal İşleme")
                                            .txt
                                                .t1 Sac Metal İşleme
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Sac Metal İşleme")
                                            .txt
                                                .t1 Endüstriyel Tasarım
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Sac Metal İşleme")
                                            .txt
                                                .t1 3D Tarama ve Tersine Mühendislik
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Sac Metal İşleme")
                                            .txt
                                                .t1 Ardıl İşlemler
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit
                li 
                    a(href="/malzemeler.html")
                        |Malzemeler
                    .site-header-submenu
                        .site-header-submenu-full.site-header-submenu-double
                            ul
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="3D Baskı")
                                            .txt
                                                .t1 3D Baskı
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                    .site-header-submenu-bottom
                                        .site-header-submenu-bottom-inner
                                            ul 
                                                li 
                                                    .title Termoplastikler
                                                    ul 
                                                        li 
                                                            a(href="")|P-PLA
                                                        li
                                                            a(href="")|Onyx
                                                        li 
                                                            a(href="")|Onyx FR
                                                        li
                                                            a(href="")|Onyx FR-A
                                                li 
                                                    .title Sürekli Fiberler
                                                    ul 
                                                        li 
                                                            a(href="")|Kevlar
                                                        li
                                                            a(href="")|Fiberglas
                                                        li 
                                                            a(href="")|HSHT Fiberglas
                                                        li
                                                            a(href="")|Karbon Fiber
                                                        li
                                                            a(href="")|Karbon Fiber FR
                                                        li
                                                            a(href="")|Karbon Fiber FR-A
                                                li 
                                                    .title Fotopolimerler
                                                    ul 
                                                        li 
                                                            a(href="")|ABS like White
                                                        li
                                                            a(href="")|ABS Like Brown
                                                        li 
                                                            a(href="")|Proto45
                                                        li
                                                            a(href="")|Flexible
                                                        li
                                                            a(href="")|Proflex
                                                        li
                                                            a(href="")|Clear
                                                li 
                                                    .title Metaller
                                                    ul 
                                                        li 
                                                            a(href="")|17-4 Paslanmaz Çelik
                                                        li
                                                            a(href="")|Alüminyum
                                                        li 
                                                            a(href="")|Titanyum
                                                        li
                                                            a(href="")|Inconel 625
                                                        li
                                                            a(href="")|H13 Takım Çeliği
                                                        li
                                                            a(href="")|A2 ve D2 Takım Çelikleri
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="CNC İşleme")
                                            .txt
                                                .t1 CNC İşleme
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Silikon Kalıplama")
                                            .txt
                                                .t1 Silikon Kalıplama
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li
                                    a(href="#")
                                        .mnwrp 
                                            .img
                                                img(src="https://via.placeholder.com/75x75/FF0000/FFFFFF", alt="Silikon Kalıplama")
                                            .txt
                                                .t1 CNC Baskı Malzemeleri
                                                .t2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                li 
                    a(href="/prodigma-plus.html")
                        |Prodigma +  
        .site-header-login
            if authenticated == true 
                //- .site-header-login-success
                //-     .site-header-login-success-project
                //-         +button('Proje Başlat','green','m',false)(href="/proje-baslat.html")
                //-     .site-header-login-user
                //-         span TA
                //-     .site-header-login-success-left
                //-         span.site-header-login-hello
                //-             |Hoşgeldiniz
                //-         span.site-header-login-member
                //-             |Test Account
                //-         .site-header-member-menu
                //-             .site-header-member-menu-header
                //-                 .tt1|Hoş geldiniz,
                //-                 .bttm
                //-                     .tt2|Test Account
                //-                     .tt3
                //-                         button()|Çıkış Yap
                //-             .site-header-member-menu-content
                //-                 ul
                //-                     li 
                //-                         a(href="/siparislerim.html")|Siparişlerim
                //-                     li 
                //-                         a(href="/bildirimlerim.html")|Bildirimlerim
                //-                     li 
                //-                         a(href="/adreslerim.html")|Adreslerim
                //-                     li 
                //-                         a(href="/uyelik-bilgilerim.html")|Üyelik Bilgilerim
                //-                     li 
                //-                         a(href="/iletisim-izinlerim.html")|İletişim İzinlerim
                //-                     li 
                //-                         a(href="/sife-degistirme.html")|Şifre Değiştirme
                //-                     li 
                //-                         a(href="/destek.html")
                //-                             |Destek
                //-                             i.icon.icon-arrow-line
                //-     .site-header-login-success-cart
                //-         a(href="/basket.html")
                //-             i.icon.icon-cart
            if authenticated == false
                .site-header-logoff
                    a(href="/login.html") Giriş Yap