.pservices-info-banner
    .pservices-info-banner-wrapper
        .pservices-info-banner-content 
            .pservices-info-banner-content-title 
                |Gereken tüm parçaları 3D ile elde etmek kolay. Sorularınız mı var? Bize ulaşın.
            .pservices-info-banner-content-desc     
                |info@prodigma.com