
.pservices-info-banner
    .pservices-info-banner-wrapper
        .pservices-info-banner-content 
            .pservices-info-banner-content-title 
                |Easy to get all the parts needed in 3D. Have questions? Contact us.
            .pservices-info-banner-content-desc     
                a(href="mailto:info@prodigma.com")|info@prodigma.com 