.plog {
  @apply flex flex-col items-center bg-gray-500;
  @apply lg:flex-row lg:max-w-screen-2xl lg:mx-auto;

  &-img {
    align-self: flex-start;
    @apply hidden;
    @apply lg:block;
    img {
      @apply h-screen object-cover;
    }
  }
  &-img,
  &-enters {
    @apply lg:w-1/2;
  }
  &-tabs {
    @apply m-auto px-5 py-9;
    @apply lg:max-w-md lg:px-12 lg:py-14;
    .tabs {
      @apply flex justify-center;
      @apply lg:justify-start;
      .tab {
        @apply border-b-2 border-[rgba(2,17,34,0.1)] p-2.5 transition-all ease-in font-heading font-medium;
        &.active {
          @apply border-blue-100 font-semibold;
        }
      }
    }
    .tab-panes {
      @apply mt-9;
    }
    .input-icon {
      .icon-eye {
        @apply right-4;
      }
    }
    .btn {
      &-sign-in {
        @apply my-5;
      }
    }
  }
}

.tab-panes .tab-pane {
  display: none;
}
.tab-panes .active {
  display: block;
}

.user-login-success {
  @apply flex flex-col items-center text-center m-auto px-5 py-9;
  @apply lg:max-w-md lg:px-12 lg:py-14;
  .icon {
    @apply flex justify-center items-center mx-auto bg-green-100 w-14 h-14 rounded-full font-icon text-2xl text-white;
  }
  .t1 {
    @apply font-heading font-semibold text-xl mt-4;
  }
  .t2 {
    @apply font-heading font-normal text-base mt-4;
  }
}
