.tab-container.plog-tabs
    .tabs
        button.tab.active Giriş Yap
        button.tab Üye Ol
    .tab-panes
        .tab-pane.active
            include ../forms/register-forms/login/index.pug
        .tab-pane
            include ../forms/register-forms/register/index.pug