.order-notification 
    .order-notification-row
        .state.success
        .order-notification-row-t1|Siparişinizi aldık
        .order-notification-row-t2|231926745 numaralı siparişiniz onay için inceleniyor. Sipariş takibini
            a(href="#")|buradan
            |yapabilirsiniz.
        .order-notification-row-t3|29/06/2022
    .order-notification-row
        .state.draft
        .order-notification-row-t1|Sipariş takibi
        .order-notification-row-t2|231926745 numaralı paketini kargoya verdik. Kargo takibini
            a(href="#")|buradan
            |yapabilirsiniz.
        .order-notification-row-t3|24/06/2022
    .order-notification-row
        .state.delivered
        .order-notification-row-t1|Sipariş teslim edildi
        .order-notification-row-t2|231926745 numaralı siparişiniz teslim edildi. Detayları
            a(href="#")|buradan
            |görebilirsiniz.
        .order-notification-row-t3|10/06/2022