.order-detail-summary
    .order-detail-summary-table
        .order-detail-summary-table-title|Sipariş Özeti
        ul.order-detail-summary-table-list
            li.price
                .lbl|Sipariş Tutarı (KDV Dahil)
                .vll|2.960 TL
            li.discount
                .lbl
                    |İndirim
                    br
                    |*Öğrenci
                .vll|2.960 TL
            li.kargo
                .lbl|Kargo
                .vll|19,90 TL
            li.total
                .lbl|Toplam Tutar
                .vll|2.789,90 TL
    .order-detail-summary-agreement-link
        a(href="#")|Cayma Hakkı
        a(href="#")|Ön Bilgilendirme Formu
        a(href="#")|Mesafeli Satış Sözleşmesi