.pprodigma-plus
    .pprodigma-plus-wrapper 
        .pprodigma-plus-head
            .pprodigma-plus-head-title
                img(src=require("Images/logo.svg"), alt="Prodigma 3D")
                span +
            .pprodigma-plus-head-desc It's inspires brands and people to influence the world.
        .pprodigma-plus-body
            ul
                li
                    .lg
                        a(href="/blog-3d-baski-teknolojileri-dogru-bilinen-on-yanlis.html")
                            +picture({sm:require('Upload/baski-teknolojileri-bilinen-on-yanlis-liste.jpg')})
                            .btxt
                                .bt1|10 Misconceptions About 3D Printing
                                .bt2|Read More
                    .sm        
                        a(href="/blog-tasariminizi-3d-uretime-hazir-hale-getirmek.html")
                            +picture({sm:require('Upload/tasariminizi-3d-uretime-hazir-hale-getirmek-liste.jpg'), lg:require('Upload/tasariminizi-3d-uretime-hazir-hale-getirmek-liste.jpg')})
                            .btxt
                                .bt1|Getting Your Design Ready for Production
                                .bt2|Read More
                        a(href="/blog-3d-baski-ile-cevre-dostu-olmanin-yollari.html")
                            +picture({sm:require('Upload/3d-baski-ile-cevre-dostu-olmanin-yollari-gallery-liste.jpg'), lg:require('Upload/3d-baski-ile-cevre-dostu-olmanin-yollari-gallery-liste.jpg')})
                            .btxt
                                .bt1|3D Baskı ile Çevre Dostu Olmanın Yolları
                                .bt2|Read More
                    .md        
                        a(href="/blog-3d-baski-ve-yedek-parca.html")
                            +picture({sm:require('Upload/3d-baski-ve-yedek-parca-liste.jpg'), lg:require('Upload/3d-baski-ve-yedek-parca-liste.jpg')})
                            .btxt
                                .bt1|3D Printing and Spare Parts
                                .bt2|Read More
                        a(href="javascript:void(0);" data-modal="modal-sla-youtube-frame")
                            +picture({sm:require('Images/pplus2.png'), lg:require('Images/pplus2.png')})
                            .btxt
                                .bt1|SLA Printing Technologies
                                .bt2|Read More
                        div(id="modal-sla-youtube-frame" class="modal modal-youtube-frame")
                            div(class="modal-bg modal-exit")
                            div(class="modal-container")
                                a(href="javascript:void(0);", class="modal-link modal-close modal-exit")
                                    i(class="icon icon-close")
                                div(class="content-popup-video-frame")
                                    p 
                                        strong|SLA 3D Printing (Production & All Details)
                                    br
                                    +content-html("We discussed the emergence of SLA printing technology and its production stages in details.")
                                    .responsive-iframe-container.mt-5.lg.mt-10
                                        iframe(class="responsive-iframe-container-iframe responsive-iframe-container-iframe-other" src="https://www.youtube.com/embed/JJgoFI3ERhQ?rel=0&modestbranding=1&autohide=1&mute=0&showinfo=0&controls=1&autoplay=0&version=3&loop=0&playlist=JJgoFI3ERhQ", frameborder="0", 
                                            allowfullscreen)
                        a(href="javascript:void(0);", data-modal="modal-hobi-youtube-frame")
                            +picture({sm:require('Upload/hobi-ve-endustriyel-3d-yazicilar-arasindaki-farklar.jpg'), lg:require('Upload/hobi-ve-endustriyel-3d-yazicilar-arasindaki-farklar.jpg')})
                            .btxt
                                .bt1|Differences Between Hobby and Industrial Printers
                                .bt2|Read More
                        div(id="modal-hobi-youtube-frame" class="modal modal-youtube-frame")
                            div(class="modal-bg modal-exit")
                            div(class="modal-container")
                                a(href="javascript:void(0);", class="modal-link modal-close modal-exit")
                                    i(class="icon icon-close")
                                div(class="content-popup-video-frame")
                                    p 
                                        strong|Differences Between Hobby and Industrial Printers
                                    br
                                    +content-html("We are talking about the defining features and usage areas of 3D printers, which are divided into hobby and industrial. Let's evaluate the variety of printers and materials that have developed rapidly as a result of the increasing expectations of users from additive manufacturing methods based on the ever-developing technology.")
                                    .responsive-iframe-container.mt-5.lg.mt-10
                                        iframe(class="responsive-iframe-container-iframe responsive-iframe-container-iframe-other" src="https://www.youtube.com/embed/kykA1-uZ-NU?rel=0&modestbranding=1&autohide=1&mute=0&showinfo=0&controls=1&autoplay=0&version=3&loop=0&playlist=kykA1-uZ-NU", frameborder="0", 
                                        allowfullscreen)
                li.type2
                    .sm        
                        a(href="/blog-smooth-tpu-95a.html")
                            +picture({sm:require('Upload/smooth-tpu-95a-liste.jpg'), lg:require('Upload/smooth-tpu-95a-liste.jpg')})
                            .btxt
                                .bt1|Smooth TPU 95A
                                .bt2|Read More
                        a(href="/blog-esd-recine.html")
                            +picture({sm:require('Upload/esd-guvenli-recine-liste.jpg'), lg:require('Upload/esd-guvenli-recine-liste.jpg')})
                            .btxt
                                .bt1|ESD Safe Resin
                                .bt2|Read More
                    .lg
                        a(href="/blog-dunyanin-en-buyuk-metal-yazicisi.html")
                            +picture({sm:require('Upload/dunyanin-en-buyuk-metal-3d-yazicisi-gallery-liste.jpg'), lg:require('Upload/dunyanin-en-buyuk-metal-3d-yazicisi-gallery-liste.jpg')})
                            .btxt
                                .bt1|World's Largest Metal 3D Printer
                                .bt2|Read More