.pprodigma-plus
    .pprodigma-plus-wrapper 
        .pprodigma-plus-head
            .pprodigma-plus-head-title
                img(src=require("Images/logo.svg"), alt="Prodigma 3D")
                span +
            .pprodigma-plus-head-desc It's inspires brands and people to influence the world.
        .pprodigma-plus-body
            ul