.pprodigma-plus {
  @apply px-5 py-10;
  @apply lg:py-20;
  &-wrapper {
    @apply mx-auto;
    @apply lg:container;
  }
  &-head {
    @apply flex justify-center text-center flex-col mb-7;
    @apply lg:mb-20;
    &-title {
      @apply flex items-center justify-center;
      span {
        @apply font-heading font-semibold text-4xl text-blue-200;
      }
    }
    &-desc {
      @apply font-inter font-medium text-base text-blue-200;
    }
  }
  &-body {
    > ul {
      @apply lg:max-w-[1190px] lg:m-auto;
      > li {
        @apply grid gap-y-4;
        @apply lg:gap-y-10 lg:gap-x-10;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "AA AA"
          "BB BB"
          "CC CC";
        @media only screen and (min-width: 1025px) {
          grid-template-columns: 2fr 1fr 1fr;
          grid-template-areas:
            "AA AA BB"
            "AA AA BB"
            "CC CC CC";
        }
        .lg {
          grid-auto-columns: max-content;
          grid-area: AA;
        }
        .sm {
          @apply grid grid-cols-2 gap-x-2;
          @apply lg:flex-col lg:grid-cols-none lg:gap-x-0 lg:gap-y-10;
          grid-auto-columns: max-content;
          grid-area: BB;
        }
        .md {
          @apply grid grid-cols-1 gap-y-4;
          @apply lg:grid-cols-3 lg:gap-y-0 lg:gap-x-10;
          grid-auto-columns: max-content;
          grid-area: CC;
        }
        img {
          @apply rounded-3xl;
        }
      }
    }
    &-alternative {
      > ul {
        @apply lg:max-w-[1190px] lg:m-auto;
        >li {
          @apply grid;
        }
      }
    }
  }
}
