.pprodigma-plus {
  &-wrapper {
    @apply px-5 py-10;
    @apply lg:container lg:mx-auto lg:py-20;
  }
  &-head {
    @apply hidden justify-center text-center flex-col mb-7;
    @apply lg:mb-20;
    &-title {
      @apply flex items-center justify-center;
      span {
        @apply font-heading font-semibold text-4xl text-blue-200;
      }
    }
    &-desc {
      @apply font-inter font-medium text-base text-blue-200;
    }
  }
  &-body {
    > ul {
      @apply grid items-start gap-x-5 gap-y-5;
      grid-template-areas:
          "AA AA"
          "BB CC"
          "DD DD"
          "EE FF"
          "GG GG"
          "HH KK";
      @media only screen and (min-width: 1025px) {
        grid-template-areas:
          "AA AA BB"
          "AA AA CC"
          "DD EE FF"
          "GG KK KK"
          "HH KK KK";
      }
      > li {
        &:nth-child(1){
          grid-area: AA;
        }
        &:nth-child(2){
          grid-area: BB;
        }
        &:nth-child(3){
          grid-area: CC;
        }
        &:nth-child(4){
          grid-area: DD;
        }
        &:nth-child(5){
          grid-area: EE;
        }
        &:nth-child(6){
          grid-area: FF;
        }
        &:nth-child(7){
          grid-area: GG;
        }
        &:nth-child(8){
          grid-area: HH;
        }
        &:nth-child(9){
          grid-area: KK;
        }

        > div > a {
          @apply relative overflow-hidden;
          @apply lg:after:content-[""] lg:after:w-full lg:after:h-full lg:after:absolute lg:after:top-0 lg:after:left-0 lg:after:rounded-3xl lg:after:z-[4] lg:after:bg-blue-100 lg:after:bg-opacity-0 lg:after:pointer-events-none;
          @apply lg:after:transition-all lg:after:ease-in lg:after:delay-200 lg:after:duration-200;
          &:hover {
            @apply lg:after:bg-opacity-30 lg:after:backdrop-blur-md;
            .btxt {
              @apply lg:opacity-100;
            }
          }
        }
        img {
          @apply w-full rounded-3xl;
        }
        .btxt {
          @apply hidden absolute bottom-5 left-0 px-5 py-5 text-white z-[5];
          @apply lg:block lg:transition-all lg:ease-in lg:delay-200 lg:duration-200 lg:opacity-0;
        }
        .bt1 {
          @apply font-heading text-base;
          @apply lg:text-xl;
        }
        .bt2 {
          @apply font-heading mt-2 text-sm underline;
        }
      }
    }
    &-alternative {
      > ul {
        @apply lg:max-w-[1190px] lg:m-auto;
        > li {
          @apply grid;
        }
      }
    }
  }
}

.modal-youtube-frame {
  .modal-container {
    @apply lg:max-w-3xl;
  }
}
