.pprodigma-plus 
    .pprodigma-plus-wrapper 
        .pprodigma-plus-head
            .pprodigma-plus-head-title
                img(src="img/logo.svg", alt="Prodigma")
                span +
            .pprodigma-plus-head-desc Markalara ve insanlara dünyayı etkilemeleri için ilham veriyor.
        .pprodigma-plus-body
            ul
                li
                    .lg
                        a(href="#")
                            +picture({sm:require=('img/pplus1.png'), lg:require=('img/pplus1.png')})
                    .sm        
                        a(href="#")
                            +picture({sm:require=('img/pplus2.png'), lg:require=('img/pplus2.png')})
                        a(href="#")
                            +picture({sm:require=('img/pplus2.png'), lg:require=('img/pplus2.png')})
                    .md        
                        a(href="#")
                            +picture({sm:require=('img/pplus2.png'), lg:require=('img/pplus2.png')})
                        a(href="#")
                            +picture({sm:require=('img/pplus2.png'), lg:require=('img/pplus2.png')})
                        a(href="#")
                            +picture({sm:require=('img/pplus2.png'), lg:require=('img/pplus2.png')})