.pmanifesto-trio-info-banner  
    .pmanifesto-trio-info-banner-wrapper
        ul 
            li
                div 1
                p We follow the developments in the world.
                span We closely follow the developments in order to meet the needs of R&D and P&D departments, laboratories, educational institutions and anyone who wants to receive service in the most accurate way.
            li
                div 2
                p We listen to new projects and ideas. 
                span We attach importance to listening to the feedback and ideas from our customers and making improvements based on these feedbacks.
            li
                div 3
                p We produce innovative solutions.
                span We work with an expert staff to produce unusual solutions and meet the needs as soon as possible, and we prioritize quality in manufacturing.