.pmanifesto-trio-info-banner  
    .pmanifesto-trio-info-banner-wrapper
        ul 
            li
                div 1
                p Dünyadaki gelişmeleri takip ediyoruz. 
                span Ar&Ge departmanlarına, lablere, yüksek egitim kurumlarına eğitimler düzenliyor ve ihtiyaç duydukları 3D Baskı Sistemlerini kuruyoruz.
            li
                div 2
                p Yeni Projeleri & fikirleri sürekli dinliyoruz; 
                span Müşterilerimizden gelen geri dönüşleri ve fikirleri dinlemeye ve bu geri dönüşlerin üzerine yenilikler yapmaya odaklı çalışmaya önem veriyoruz. 
            li
                div 3
                p Teknik sorumlularımız alanlarında başarılılar; 
                span Yarışmalarda dünya genelinde dereceye giriyorlar. Belirli aralıklarla uluslararası olarak düzenlenen yarışmalarda ödüllerimiz bulunuyor.