.pmanifesto-trio-info-banner  
    .pmanifesto-trio-info-banner-wrapper
        ul 
            li
                div 1
                p Dünyadaki gelişmeleri takip ediyoruz.
                span AR&GE ve ÜR&GE departmanlarının, laboratuvarların, eğitim kurumlarının ve hizmet almak isteyen herkesin ihtiyaçlarını en doğru şekilde karşılamak için gelişmeleri yakından takip ediyoruz.
            li
                div 2
                p Yeni projeleri ve fikirleri dinliyoruz.
                span Müşterilerimizden gelen geri dönüşleri ve fikirleri dinlemeye, bu geri dönüşler üzerinden geliştirmeler yapmaya önem veriyoruz.
            li
                div 3
                p Yenilikçi çözümler üretiyoruz.
                span Gelenekselin dışında çözümler üretmek ve ihtiyaçları en kısa sürede karşılamak için uzman bir kadro ile çalışıyor, imalatta kaliteyi ön planda tutuyoruz.