.pmanifesto-trio-info-banner  
    .pmanifesto-trio-info-banner-wrapper
        ul 
            li
                div 1
                p We follow the developments in the world.
                span We organize trainings for R&D departments, laboratories, higher education institutions and install the 3D Printing Systems they need.
            li
                div 2
                p We are constantly listening to new Projects & ideas; 
                span We attach importance to listening to the feedback and ideas from our customers and to work focused on making innovations on these feedbacks. 
            li
                div 3
                p Our technical responsibilities are successful in their fields; 
                span They rank in competitions around the world. We have awards in international competitions at regular intervals.