.member-order-list
    .member-order-list-inner
        .member-order-list-content-left
            .member-order-list-content-left-cols
                .member-order-list-sip-no
                    .nm|Sipariş No 21816644
                .member-order-list-date 
                    .cat|29/06/2022
            .member-order-list-content-left-cols
                .member-order-list-price
                    .mn|1.080 TL
                .member-order-list-piece
                    .tac|3 Adet
                .member-order-list-status-2
                    i.icon.icon-success
                    span|Teslim Edildi
        .member-order-list-content-right
            .member-order-list-status
                i.icon.icon-success
                span|Teslim Edildi
            .member-order-list-detail
                a(href="/siparis-detay.html") Detay
                    i(class="icon icon-arrow-right")