.pcareer-body-career-banner 
    p 
        strong|3D Üretim Mühendisi
    br
    p|Pozisyon: 3D Üretim Mühendisi
    p|Çalışma Modeli: İş Yerinde
    br
    br
    p|Prodigma; üretime dair tüm ihtiyaçların tek bir noktadan, yalın ve esnek bir şekilde karşılanabildiği yeni nesil bir üretim platformu olarak doğdu.
    p|Prodigma’da talebe yönelik endüstriyel 3D üretimin yanında farklı üretim yöntemlerini de uyguluyor, talep doğrultusunda endüstriyel tasarım ve tersine mühendislik hizmetleri veriyoruz.
    p|Bünyemizdeki farklı şehir ofisleri ve yerleşkelerde bulunan endüstriyel 3D baskı sistemleriyle farklı malzemelerle üretim yapabilirken aynı zamanda müşterilerin talebi doğrultusunda farklı alternatif üretim yöntemlerini de kullanarak hizmet sunmaktayız.
    br
    br
    p 
        strong|Yeni Takım Arkadaşımızdan Neler Bekliyoruz?
    br
    br
    ol(style="list-style:disc; padding-left:15px;")
        li|Bünyemizde bulunan endüstriyel 3D baskı üretim sistemlerinin kullanımı, dosyaların üretime hazır hale getirilmesi ve üretim süreçlerinin takip edilmesi.
        li|3D üretim ve malzeme geliştirme projelerinde aktif destek verilmesi.
        li|Üretim planının doğru ve zamanında işlemesi için gerekli ekipman ve sarf malzemeleri için satın alma taleplerinin oluşturulması.
        li|Müşterilerden gelen üretim taleplerinin gerçekleşmesi için sistem içinde kurulmuş prosedürlere uyum sağlanması.
        li|Üretimi tamamlanan ürünlerin kontrollerini yaparak gerekli aksiyonların alınması.
        li|Anlık sipariş durumu bilgilerinin güncellenmesi ve bilgi akışının sağlanması.
        li|Özel materyallerin yer alacağı depo düzeninin korunması için kontrol sağlanması.
        li|Gerek duyulduğunda tasarım, data düzeltme ve üretim sonrası ardıl işlemlerin uygulanması.
    br
    br
    p 
        strong|Nasıl Bir Takım Arkadaşı Arıyoruz?
    br
    br
    ol(style="list-style:disc; padding-left:15px;")
        li|Üniversitelerin tercihen mühendislik fakültelerinin ilgili (Malzeme ve Metalurji, Makine, Mekatronik Mühendisliği vb.) bölümlerinden mezun,
        li|3D tasarım programlarını temel seviyede kullanabilen,
        li|CAD yazılımları (Solidworks ya da Rhinoceros) hakkında bilgi sahibi olan,
        li|Tercihen imalat teknolojilerinden en az bir konu hakkında (3D yazıcı, CNC, plastik enjeksiyon vb.) temel seviyede bilgi sahibi olan,
        li|Çok iyi düzeyde İngilizce bilen,
        li|Erkek adaylar için askerliğini tamamlamış,
    br
    br
    p
        |Başvuru için Özgeçmiş (CV) ve Ön Yazı belgelerinizi 
        a(href="mailto:kariyer@prodigma.co" class="text-blue-200 underline")|kariyer@prodigma.co 
        | adresine gönderebilirsiniz.
    br
    br
    p 
        strong|Genel Başvuru
    p|Prodigma; üretime dair tüm ihtiyaçların tek bir noktadan, yalın ve esnek bir şekilde karşılanabildiği yeni nesil bir üretim platformu olarak doğdu.
    p|Prodigma’da talebe yönelik endüstriyel 3D üretimin yanında farklı üretim yöntemlerini de uyguluyor, talep doğrultusunda endüstriyel tasarım ve tersine mühendislik hizmetleri veriyoruz.
    p|Bünyemizdeki farklı şehir ofisleri ve yerleşkelerde bulunan endüstriyel 3D baskı sistemleriyle farklı malzemelerle üretim yapabilirken aynı zamanda müşterilerin talebi doğrultusunda farklı alternatif üretim yöntemlerini de kullanarak hizmet sunmaktayız.
    p|Takım çalışması ve iş birliğine yatkın, değişken şartlara kolay adapte olabilen, iyi iletişim becerilerine sahip ve farklı bölümler ile planlı çalışabilen ekip arkadaşı adayları başvurularını bize iletebilir.
    br
    br
    p 
        strong|*Bu yolla yapılan başvurular, aday veri tabanımızda kayıt altına alınacak ve açık olan/olabilecek muhtemel pozisyonlar için değerlendirilmeye alınacaktır. Bilginize.
    br
    br
    p
        |Başvuru için Özgeçmiş (CV) ve Ön Yazı belgelerinizi 
        a(href="mailto:kariyer@prodigma.co" class="text-blue-200 underline")|kariyer@prodigma.co 
        | adresine gönderebilirsiniz.
    //-ul 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right  
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git 
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git    
                        i.icon.icon-arrow-right                                       