.pcareer-body-career-banner 
    ul 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right  
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git 
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git    
                        i.icon.icon-arrow-right                                       