.pcareer-body-career-banner 
    p 
        strong|3D Production Engineer
    br
    p|Position: 3D Production Engineer
    p|Working Model: At Work
    br
    br
    p|Prodigma was born as a new generation production platform where all production needs can be met in a simple and flexible way from a single point.
    p|At Prodigma, we apply different production methods in addition to demand-oriented industrial 3D production, and provide industrial design and reverse engineering services upon request.
    p|While we can produce with different materials with industrial 3D printing systems in different city offices and campuses, we also provide services by using different alternative production methods in line with the demands of our customers.
    br
    br
    p 
        strong|What Do We Expect From Our New Teammate?
    br
    br
    ol(style="list-style:disc; padding-left:15px;")
        li|Using our industrial 3D printing production systems, making the files ready for production and following the production processes.
        li|Active support in 3D production and material development projects.
        li|Creating purchase requisitions for equipment and consumables necessary for the correct and timely operation of the production plan.
        li|Compliance with the procedures established within the system for the realization of production demands from customers.
        li|Taking necessary actions by checking the products that have been produced.
        li|Updating instant order status information and providing information flow.
        li|Providing control to maintain the warehouse layout for special materials.
        li|Implementation of design, data correction and post-production post-processing when needed.
    br
    br
    p 
        strong|What Kind Of Teammate Are We Looking For?
    br
    br
    ol(style="list-style:disc; padding-left:15px;")
        li|Graduated from related departments (Materials and Metallurgy, Mechanical, Mechatronics Engineering, etc.) preferably of engineering faculties of universities,
        li|Able to use 3D design programs at a basic level,
        li|Knowledge of CAD software (Solidworks or Rhinoceros),
        li|Preferably have basic knowledge of at least one subject in manufacturing technologies (3D printer, CNC, plastic injection, etc.),
        li|Very good level of English,
        li|He has completed their military service for male candidates,
    br
    br
    p
        |You can send your CV and Cover Letter documents to 
        a(href="mailto:kariyer@prodigma.co" class="text-blue-200 underline")|kariyer@prodigma.co  
        |for application.
    br
    br
    p 
        strong|General Application
    p|Prodigma was born as a new generation production platform where all production needs can be met in a simple and flexible way from a single point.
    p|At Prodigma, we apply different production methods in addition to demand-oriented industrial 3D production, and provide industrial design and reverse engineering services upon request.
    p|While we can produce with different materials with industrial 3D printing systems in different city offices and campuses, we also provide services by using different alternative production methods in line with the demands of our customers.
    p|Teammate candidates who are prone to teamwork and cooperation, can easily adapt to changing conditions, have good communication skills and can work in a planned manner with different departments can send their applications to us.
    br
    br
    p 
        strong|*Applications made in this way will be recorded in our candidate database and will be evaluated for open/possible positions. For your information.
    br
    br
    p 
        |You can send your CV and Cover Letter documents to 
        a(href="mailto:kariyer@prodigma.co" class="text-blue-200 underline")|kariyer@prodigma.co  
        |for application.
    //-ul 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git
                        i.icon.icon-arrow-right  
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git 
                        i.icon.icon-arrow-right 
        li 
            a(href="#")
                .pcareer-body-career-banner-content
                    p Üretim Sorumlusu - İstanbul Teknopark
                    .pcareer-body-career-banner-content-t1 06.07.2022
                    .pcareer-body-career-banner-content-t2 Mağazada satılan ürünler konusunda müşterilere danışmanlık yaparak ürünlerin satışını gerçekleştirmek, müşteri memnuniyetini sağlamak ve alışveriş sürekliliğini arttırmak, stant ve ürünlerin düzeninden sorumlu olmak.
                    .pcareer-body-career-banner-content-t3 İlana Git    
                        i.icon.icon-arrow-right                                       