.pmanifesto-banner 
    .pmanifesto-banner-wrapper
        .pmanifesto-banner-img 
            +picture({sm:require("Upload/manifesto-detail-cover-mb.jpg"), lg:require("Upload/manifesto-detail-cover-lg.jpg")})(alt="Manifesto")
        .pmanifesto-banner-desc
            p|Prodigma is a fast digital production center that makes use of industrial additive (3D) manufacturing methods using advanced materials, as well as different traditional production methods, pricing and producing your projects in the shortest time possible.
            p|Consisting of successful and talented engineers, designers, quality control and special process process experts; was established by a special team that aims to produce demand-oriented solutions by using accessible, scalable and sustainable production technologies.
            p|Prodigma; In all periods from high-accuracy prototypes to mass production of products ready to enter the market, and in pre-production and during production processes by developing the supply chain in many sectors, especially in Industrial Machinery & Equipment, Consumer Products & Electronics, Aerospace & Aviation, Automotive, Defense and Medical plays an active role.
            p|Prodigma's vision; to deliver the production solution they need quickly and reliably to all product designers, engineers or anyone responsible for any stage of production/design, and to easily supply the desired number of critical parts thanks to its strong infrastructure.