.pmanifesto-banner 
    .pmanifesto-banner-wrapper
        .pmanifesto-banner-img 
            +picture({sm:require("Upload/manifesto-detail-cover-mb.jpg"), lg:require("Upload/manifesto-detail-cover-lg.jpg")})(alt="Manifesto")
        .pmanifesto-banner-desc
            p
                |Yaşadığımız iklim krizi uzun bir süredir dünyamız için büyük bir tehdit ve farklı endüstrilerdeki üretim aşamaları da bu durumun önemli bir parçası ve nedeni.
                br
                br
                |Hepimiz biliyoruz ki imalatın içinde olan tüm paydaşlar üretim şekillerini ve metodlarını mümkün olabildiğince dönüştürerek karbon emisyonunu azaltmak için yoğun bir çaba içerisinde olmalıdır.
                br
                br
                |İmalat ise 2020’de başlayan ve süratle derinleşen pandemi sonrasında tedarik zincirlerinde yaşanan sayısız nedenden ötürü evrimleşerek bugünkü haline dönüştü.
                br
                br
                |Artık organizasyonların ve proje sorumlularının önceliği bu gerçeğin farkında olarak tedarik yönetimlerini bağlı bulundukları organizasyon için sürekli olarak geliştirmek ve iyileştirmek olmalıdır.
                br
                br
                |Araştırmalar gösteriyor ki, üretim alanlarında görev alan mühendisler, tasarımcılar ya da üst düzey yöneticiler zamanlarının önemli bir kısmını –direkt sorumlu olmadıkları halde iş akışının aksamaması için– parça tedariğine harcıyorlar ve bu durum verimlilik seviyesini geriye düşürüyor. Organizasyon için zaman ve emek kaybına, daha fazla deneme sayısı ve atığa, farklı bölgelere taşınmasında ortaya çıkan CO2 salınımına sebebiyet veriyor. 
                br
                br
                |İşte Prodigma’nın manifestosu da tam bu aşamada ortaya çıkıyor. Prodigma olarak en iyi bildiğimiz endüstriyel dijital üretim şekillerini ve üretim ortaklarımızın kullandığı imalat kabiliyetlerini bizden projelerindeki parçaların hızlı ve güvenilir bir şekilde üretilmesini talep eden tüm kullanıcıların hizmetine açtık. Bu sayede; nakliye, atık ve fiziksel depolama maliyetlerinden tasarruf sağlayıp dijital stok imkanı ile fiziksel envantere duyduğunuz ihtiyacı azaltarak sermayeye daha az bağlı bir organizasyon haline gelmenize destek oluyoruz. Üretimin Geleceğine Hoşgeldiniz!