.pservices-banner 
    .pservices-banner-wrapper
        .pservices-banner-head 
            .pservices-banner-head-title Thermoplastics 
            .pservices-banner-head-desc 
                |Prodigma Digital Production and Printing Technologies, Packaging Printing systems, Sustainable & Advanced Technology production models and Additive Manufacturing is an organization established to provide value-added services and products, with a team of successful and talented technical and sales specialists, designers and engineers.
        .pservices-banner-content
            ul 
                li
                    a(href="/services-3d-printing.html")
                        +picture({sm:require("Images/3d-tasarim.png"), lg:require("Images/3d-tasarim.png")})
                        div|3D Printing
                //-li 
                    a(href="/hizmetler-cnc-isleme.html")
                        +picture({sm:require("Images/cnc-isleme.png"), lg:require("Images/cnc-isleme.png")})
                        div|CNC İşleme
                //-li 
                    a(href="/hizmetler-sac-metal-sekillendirme.html")
                        +picture({sm:require("Images/sac-metal-isleme.png"), lg:require("Images/sac-metal-isleme.png")})
                        div|Sac Metal Şekillendirme
                li
                    a(href="/services-3d-scanning-and-reverse-engineering.html")   
                        +picture({sm:require("Images/3d-tarama-tersine-muhendislik.png"), lg:require("Images/3d-tarama-tersine-muhendislik.png")})
                        div|3D Scanning & Reverse Engineering
                li
                    a(href="/services-industrial-design.html")   
                        +picture({sm:require("Images/endustriyel-tasarim.png"), lg:require("Images/endustriyel-tasarim.png")})
                        div|Industrial Design
                li
                    a(href="/services-post-processing.html") 
                        +picture({sm:require("Images/ardil-islemler.png"), lg:require("Images/ardil-islemler.png")})
                        div|Post Processing