.pservices-banner 
    .pservices-banner-wrapper
        .pservices-banner-head 
            .pservices-banner-head-title Termoplastikler 
            .pservices-banner-head-desc 
                |Prodigma Dijital Üretim ve Baskı Teknolojileri, Ambalaj Baskı sistemleri, Sürdürülebilir & İleri Teknoloji üretim modelleri ve Eklemeli İmalat alanlarında, katma değerli hizmetler ve ürünler sağlamak amacıyla kurulmuş, her biri alanında başarılı ve yetenekli teknik ve satış uzmanları, tasarımcılar ve mühendislerden oluşan kadroya sahip bir organizasyondur.
        .pservices-banner-content
            ul 
                li
                    a(href="/hizmetler-3d-baski.html")
                        +picture({sm:require("Images/3d-tasarim.png"), lg:require("Images/3d-tasarim.png")})
                        div|3D Baskı
                //-li 
                    a(href="/hizmetler-cnc-isleme.html")
                        +picture({sm:require("Images/cnc-isleme.png"), lg:require("Images/cnc-isleme.png")})
                        div|CNC İşleme
                //-li 
                    a(href="/hizmetler-sac-metal-sekillendirme.html")
                        +picture({sm:require("Images/sac-metal-isleme.png"), lg:require("Images/sac-metal-isleme.png")})
                        div|Sac Metal Şekillendirme
                li
                    a(href="/hizmetler-3d-tarama-tersine-muhendislik.html")   
                        +picture({sm:require("Images/3d-tarama-tersine-muhendislik.png"), lg:require("Images/3d-tarama-tersine-muhendislik.png")})
                        div|3D Tarama ve Tersine Mühendislik
                li
                    a(href="/hizmetler-endustriyel-tasarim.html")   
                        +picture({sm:require("Images/endustriyel-tasarim.png"), lg:require("Images/endustriyel-tasarim.png")})
                        div|Endüstriyel Tasarım
                li
                    a(href="/hizmetler-ardil-islemler.html") 
                        +picture({sm:require("Images/ardil-islemler.png"), lg:require("Images/ardil-islemler.png")})
                        div|Ardıl İşlemler